# Lectura de Datos

In [1]:
from dbfread import DBF
import pandas as pd
import numpy as np
import os
import sys
from bs4 import BeautifulSoup
import requests
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import pdfkit
import seaborn as sns
import re

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:xxxxx@localhost:5432/Almacen_Electrocaribe')

In [3]:
linea_1 = []
linea_2 = []
Consecutivo_1 = []
Consecutivo_2 = []

lineas_1 = pd.read_csv('C:/Users/casan/OneDrive/Almacen Electrocaribe/Routes.txt',header = None)
lineas_2 = pd.read_csv('C:/Users/casan/OneDrive/Almacen Electrocaribe/Routes - IT.txt',header = None)

for i in lineas_1[0]:
    linea_1.append(i)


for x in range(len(lineas_1[0])):
    Consecutivo_1.append(x)

for i in lineas_2[0]:
    linea_2.append(i)
for x in range(len(lineas_2[0])):
    Consecutivo_2.append(x)
    
dbf_path_1 = dict(zip(Consecutivo_1, linea_1))

for key, value in dbf_path_1.items():
    dbf_path_1[key] = value.strip()

dbf_path_2 = dict(zip(Consecutivo_2, linea_2))

for key, value in dbf_path_2.items():
    dbf_path_2[key] = value.strip()

In [4]:
linea = []
Consecutivo = []

lineas = pd.read_csv('C:/Users/casan/OneDrive/Almacen Electrocaribe/Routes - IT.txt',header = None)

for i in lineas[0]:
    linea.append(i)
for x in range(len(lineas[0])):
    Consecutivo.append(x)

dbf_path_2 = dict(zip(Consecutivo, linea))

for key, value in dbf_path_2.items():
    dbf_path_2[key] = value.strip()

In [6]:
pd.set_option('display.max_rows',20)
pd.set_option('display.max_columns', None)

# Establece la opción para optar por el nuevo comportamiento
pd.set_option('future.no_silent_downcasting', True)

# Funciones

In [7]:
def Lectura_Datos(x):
    if x == 'm':
        dataframes = []

        for key, file_path in dbf_path_2.items():
        
            table = DBF("//"+file_path, encoding='latin1')
            x = pd.DataFrame(iter(table))
            dataframes.append(x)
        
        x = pd.concat(dataframes, ignore_index=True)
    else:
        table = DBF("//"+dbf_path_1[x], encoding='latin1')
        x = pd.DataFrame(iter(table))

    return x

In [8]:
def Limpieza_de_Datos_Nulos(x,c):
    
    # Cambiar valor nan a False
    if 'anulado' in x.columns:
        x['anulado'] = x['anulado'].fillna(False)
    
    #Reemplzar celas en blanco por valores nulos
    x = x.replace('',np.nan)
   
    #Limpieza 
    
    porcentaje_nulos = (x.isnull().sum() / len(x)) * 100

    if c == 0:
        columnas_eliminar = porcentaje_nulos[porcentaje_nulos == 100].index.tolist()
    else:
        columnas_eliminar = porcentaje_nulos[porcentaje_nulos > 99].index.tolist()
        
    x = x.drop(columns=columnas_eliminar)
    
    return x

In [121]:
def Modificacion_Columnas(x):
    # Juntar tipo y número de factura y ponerla en primera posición
    if 'TIPO' in x.columns and 'NUMERO' in x.columns:
        x['FACT'] = x['TIPO'] + "-" + x['NUMERO']
        x = x.rename(columns = {'TIPO':'ID_FACT','NUMERO':'N_FACT'})  
        
    if 'FACT' in x.columns:
        column_data = x.pop('FACT')
        x.insert(0, 'FACT', column_data)

    # Crear columna fecha y ponerla en la segunda posición
    if 'ANO' in x.columns and 'MES' in x.columns and 'DIA' in x.columns:
        x['DIA'] = x['DIA'].astype(str)
        x['MES'] = x['MES'].astype(str)
        x['ANO'] = x['ANO'].astype(str)
        x['FECHA'] = x['MES'] + "/" + x['DIA'] + "/" + x['ANO']
        x = x.drop(columns=['ANO','MES','DIA'])

    if 'FECHA' in x.columns:
        column_data = x.pop('FECHA')
        x.insert(3, 'FECHA', column_data)

    return x

# Limpieza de Datos

## Pasos a realizar para limpiar productos

1. Eliminar columnas con valores 100% nulos
2. Formato de las columnas 
4. Rename columnas
5. Verificar por qué hay valores nulos

## DataBase Marca (df_marca)

In [165]:
# Lectura de datos

lectura_df_marca = Lectura_Datos(10)

In [166]:
# Backup de los datos

df_marca = lectura_df_marca

In [167]:
# Comprobación de datos nulos

df_marca.isnull().sum() / len(df_marca) * 100

CODIGO       0.000000
NOMBRE       0.000000
OBSERVAC    99.601594
dtype: float64

In [168]:
# Eliminación de columnas con valores totalmente nulos

df_marca = Limpieza_de_Datos_Nulos(df_marca,1)

In [169]:
# Información del DataFrame

df_marca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODIGO  251 non-null    object
 1   NOMBRE  251 non-null    object
dtypes: object(2)
memory usage: 4.1+ KB

In [170]:
df_marca.columns = df_marca.columns.str.lower()

In [171]:
df_marca = df_marca.rename(columns = {'codigo':'id_marca','nombre':'n_marca'})

In [172]:
# Análsis de los valores nulos

df_marca.isnull().sum() / len(df_marca) * 100

id_marca    0.0
n_marca     0.0
dtype: float64

In [173]:
# Dataframe final - Marca

df_marca.to_sql('marca', engine, if_exists='replace', index= False)

251

## DataBase Grupo (df_grupo)

In [174]:
# Lectura de datos

lectura_df_grupo = Lectura_Datos(9)

In [175]:
# Backup de los datos

df_grupo = lectura_df_grupo

In [176]:
# Comprobación de datos nulos

df_grupo.isnull().sum() / len(df_grupo) * 100

CODIGO         0.000000
NOMBRE         0.000000
PRECIFIJOS    21.854305
NODESCTOS     21.854305
dtype: float64

In [177]:
# Información del DataFrame

df_grupo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO      151 non-null    object
 1   NOMBRE      151 non-null    object
 2   PRECIFIJOS  118 non-null    object
 3   NODESCTOS   118 non-null    object
dtypes: object(4)
memory usage: 4.8+ KB

In [178]:
df_grupo.columns = df_grupo.columns.str.lower()

In [179]:
df_grupo = df_grupo[['codigo','nombre']]

In [180]:
df_grupo = df_grupo.rename(columns = {'codigo':'id_grupo','nombre':'n_grupo'})

In [181]:
# Análsis de los valores nulos

df_grupo.isnull().sum() / len(df_grupo) * 100

id_grupo    0.0
n_grupo     0.0
dtype: float64

In [182]:
# Dataframe final - Grupos

df_grupo.to_sql('grupo', engine, if_exists='replace', index= False)

151

## DataBase Subgrupo (df_subgrupo)

In [183]:
# Lectura de datos

lectura_df_subgrupo = Lectura_Datos(8)

In [184]:
# Backup de los datos

df_subgrupo = lectura_df_subgrupo

In [185]:
# Comprobación de datos nulos

df_subgrupo.isnull().sum() / len(df_subgrupo) * 100

CODIGO    0.0
NOMBRE    0.0
CENTRO    0.0
dtype: float64

In [186]:
# Información del DataFrame

df_subgrupo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODIGO  163 non-null    object
 1   NOMBRE  163 non-null    object
 2   CENTRO  163 non-null    object
dtypes: object(3)
memory usage: 3.9+ KB

In [187]:
df_subgrupo.columns = df_subgrupo.columns.str.lower()

In [188]:
df_subgrupo = df_subgrupo[['codigo','nombre']]

In [189]:
df_subgrupo = df_subgrupo.rename(columns = {'codigo':'id_subgrupo','nombre':'n_subgrupo'})

In [190]:
# Análsis de los valores nulos

df_subgrupo.isnull().sum() / len(df_subgrupo) * 100

id_subgrupo    0.0
n_subgrupo     0.0
dtype: float64

In [191]:
# Dataframe final -Subgrupos

df_subgrupo.to_sql('subgrupo', engine, if_exists='replace', index= False)

163

## DataBase Articulos (df_articulos)

In [192]:
# Lectura de datos
lectura_df_articulos = Lectura_Datos(11)

In [193]:
# Backup de los datos
df_articulos = lectura_df_articulos

In [194]:
df_articulos.columns = df_articulos.columns.str.lower()

In [195]:
# Eliminación de columnas con valores totalmente nulos

df_articulos['inactivo'] = df_articulos['inactivo'].replace(np.nan,False)
df_articulos = Limpieza_de_Datos_Nulos(df_articulos,1)

In [196]:
# Información del DataFrame

df_articulos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10974 entries, 0 to 10973
Data columns (total 67 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   referencia  10974 non-null  object
 1   linea       10973 non-null  object
 2   codigo      10735 non-null  object
 3   detalle     10973 non-null  object
 4   sugerido    10970 non-null  float64
 5   sugerido2   6468 non-null   float64
 6   sugerido3   6468 non-null   float64
 7   pdescto     6469 non-null   float64
 8   minimo      6469 non-null   float64
 9   maximo      6469 non-null   float64
 10  inactivo    10974 non-null  object
 11  unidad      10850 non-null  object
 12  explota     6468 non-null   object
 13  uniexplo    6468 non-null   float64
 14  costo       10063 non-null  float64
 15  saldo       6468 non-null   float64
 16  factocant   6468 non-null   float64
 17  marca       10973 non-null  object
 18  comision    6468 non-null   float64
 19  putili      6468 non-null   float64
 20  grupo       10920 non-null  object
 21  tariva      10973 non-null  object
 22  factocant2  6468 non-null   float64
 23  sugeridop   10969 non-null  float64
 24  peso        6468 non-null   float64
 25  divide      6468 non-null   object
 26  divide2     6468 non-null   object
 27  divide3     6468 non-null   object
 28  comifija    6468 non-null   float64
 29  ipocon      6468 non-null   float64
 30  pdesctof    6534 non-null   float64
 31  puti        7797 non-null   float64
 32  putipos     7799 non-null   float64
 33  ubica       2526 non-null   object
 34  maxdto      10974 non-null  float64
 35  ingreso     10974 non-null  object
 36  vrdtocon    6468 non-null   float64
 37  pdescto2    6468 non-null   float64
 38  pdescto3    6468 non-null   float64
 39  vrdtocon2   6468 non-null   float64
 40  vrdtocon3   6468 non-null   float64
 41  pdtoconter  6468 non-null   object
 42  subgrupo    7494 non-null   object
 43  dividel     6468 non-null   object
 44  costop      6468 non-null   float64
 45  saldoc      6468 non-null   float64
 46  uticostoc   6468 non-null   object
 47  actautpre   6471 non-null   object
 48  consigna    6468 non-null   object
 49  cantpeso    6468 non-null   object
 50  pesofact    6468 non-null   float64
 51  dividex     6468 non-null   object
 52  prodkit     6468 non-null   object
 53  gaexacpm    6468 non-null   float64
 54  formula     6468 non-null   object
 55  formula1    6470 non-null   object
 56  altura      6468 non-null   float64
 57  ancho       6468 non-null   float64
 58  vrotra      6468 non-null   float64
 59  sealquila   6468 non-null   object
 60  pordeau     6468 non-null   float64
 61  diaspvence  6468 non-null   float64
 62  cantminvta  6468 non-null   float64
 63  maxdto1     6530 non-null   float64
 64  maxdto2     6515 non-null   float64
 65  serial      6468 non-null   object
 66  cantembala  316 non-null    float64
dtypes: float64(39), object(28)
memory usage: 5.6+ MB

In [197]:
# Organización de las columnas

df_articulos.columns

Index(['referencia', 'linea', 'codigo', 'detalle', 'sugerido', 'sugerido2',
       'sugerido3', 'pdescto', 'minimo', 'maximo', 'inactivo', 'unidad',
       'explota', 'uniexplo', 'costo', 'saldo', 'factocant', 'marca',
       'comision', 'putili', 'grupo', 'tariva', 'factocant2', 'sugeridop',
       'peso', 'divide', 'divide2', 'divide3', 'comifija', 'ipocon',
       'pdesctof', 'puti', 'putipos', 'ubica', 'maxdto', 'ingreso', 'vrdtocon',
       'pdescto2', 'pdescto3', 'vrdtocon2', 'vrdtocon3', 'pdtoconter',
       'subgrupo', 'dividel', 'costop', 'saldoc', 'uticostoc', 'actautpre',
       'consigna', 'cantpeso', 'pesofact', 'dividex', 'prodkit', 'gaexacpm',
       'formula', 'formula1', 'altura', 'ancho', 'vrotra', 'sealquila',
       'pordeau', 'diaspvence', 'cantminvta', 'maxdto1', 'maxdto2', 'serial',
       'cantembala'],
      dtype='object')

In [198]:
df_articulos = df_articulos[['referencia', 'codigo', 'detalle', 'sugerido', 'inactivo', 'unidad',
'costo', 'marca','grupo', 'tariva','sugeridop',
'ubica', 'maxdto', 'ingreso', 'subgrupo']]

In [199]:
df_articulos = df_articulos.rename(columns = {'referencia':'id_producto','codigo':'cod_bar','detalle':'n_producto','marca':'id_marca','grupo':'id_grupo','subgrupo':'id_subgrupo'})

In [200]:
# Análsis de los valores nulos 

df_articulos.isnull().sum() / len(df_articulos) * 100

id_producto     0.000000
cod_bar         2.177875
n_producto      0.009112
sugerido        0.036450
inactivo        0.000000
unidad          1.129944
costo           8.301440
id_marca        0.009112
id_grupo        0.492072
tariva          0.009112
sugeridop       0.045562
ubica          76.981957
maxdto          0.000000
ingreso         0.000000
id_subgrupo    31.711318
dtype: float64

In [201]:
for i, row in df_articulos.iterrows():
    if pd.isnull(row['cod_bar']):
        df_articulos.at[i,'cod_bar'] = df_articulos.at[i,'id_producto']

In [202]:
df_articulos.loc[df_articulos[['sugerido','costo','sugeridop']].isnull().any(axis=1), ['sugerido', 'costo','sugeridop']] = 0

In [203]:
df_articulos.loc[df_articulos['unidad'].isnull(),'unidad'] = 'UND'

In [204]:
df_articulos.loc[df_articulos['ubica'].isnull(),'ubica'] = 'NO_ASIGNADA'

In [205]:
df_articulos['id_producto'] = df_articulos['id_producto'].fillna('SIN_ASIGNAR')

In [206]:
grupos_converter = pd.read_csv('C:/Users/casan/OneDrive/Almacen Electrocaribe/Group_Converter.csv',header = 0)

In [207]:
grupos_converter = grupos_converter.rename(columns = {'VIEJO':'n_grupo'})

In [208]:
grupos_converter

            n_grupo               NUEVO
0       ASPIRADORAS        HERRAMIENTAS
1          CAUTINES        HERRAMIENTAS
2         CERRADURA        HERRAMIENTAS
3    DESTORNILLADOR        HERRAMIENTAS
4         ESCALERAS        HERRAMIENTAS
..              ...                 ...
145     VOLTIMETROS  MEDICIÓN Y CONTROL
146    PORTAFUSIBLE  MEDICIÓN Y CONTROL
147    TEMPORIZADOR  MEDICIÓN Y CONTROL
148          TIMMER  MEDICIÓN Y CONTROL
149      PROBADORES  MEDICIÓN Y CONTROL

[150 rows x 2 columns]

In [209]:
df_grupo

     id_grupo      n_grupo
0    UK0JY9L0   ABRAZADERA
1    UK0UFX9E  ADAPTADORES
2    UK0UHWHV   AISLADORES
3    UK0UJL5G     ALAMBRES
4    UK0UKB4L      AMARRES
..        ...          ...
146  DC11VB54       PUNTAS
147  DJ0ZWISS      MEDIDOR
148  H10UD08K     PERFILES
149  WH0PW42F      FUENTES
150  XP0J4AKZ    CERRADURA

[151 rows x 2 columns]

In [210]:
grupos_converter = grupos_converter.merge(df_grupo, how = 'left', on = 'n_grupo')

In [211]:
grupos_converter = grupos_converter.rename(columns = {'NUEVO':'nv_grupo'})

In [212]:
grupos_converter = grupos_converter[['id_grupo','nv_grupo']]

In [213]:
df_articulos = df_articulos.merge(grupos_converter, how = 'left', on = 'id_grupo')

In [214]:
df_articulos = df_articulos.merge(df_grupo, how = 'left', on = 'id_grupo')

In [215]:
df_articulos = df_articulos.rename(columns = {'n_subgrupo':'nv_subgrupo'})

In [216]:
for i, row in df_articulos.iterrows():
    
    if row['id_grupo'] == 'UK0V1HGY':
        if pd.isnull(row['nv_grupo']) and (row['id_subgrupo'] == 'UK12Q3GA' or row['id_subgrupo'] == 'HB0S9O2N'):
            df_articulos.at[i,'nv_grupo'] = 'ILUMINACIÓN' 

        else:
            df_articulos.at[i,'nv_grupo'] = 'CONSUMIBLES'

    elif row['id_grupo'] == 'UL0MFG5Q':
        if pd.isnull(row['id_grupo']) and (row['id_subgrupo'] == 'UK12Q3GA' or row['id_subgrupo'] == 'UK12O7H9'):
            df_articulos.at[i,'nv_grupo'] = 'ILUMINACIÓN'

        else:
            df_articulos.at[i,'id_grupo'] = 'MATERIALES ELÉCTRICOS'

In [217]:
df_articulos['nv_grupo'] = df_articulos['nv_grupo'].fillna('SIN_ASIGNAR')

In [218]:
df_articulos = df_articulos[['id_producto', 'cod_bar', 'n_producto', 'id_marca','nv_grupo', 'id_subgrupo','sugerido', 'inactivo',
       'unidad', 'costo','tariva', 'sugeridop','ubica', 'maxdto', 'ingreso']]

In [219]:
# Dataframe final - Articulos

df_articulos.to_sql('articulos', engine, if_exists='replace', index= False)

136

## DataBase Terceros (df_terceros)

In [37]:
# Lectura de datos
lectura_df_terceros = Lectura_Datos(12)

In [38]:
# Backup de los datos
df_terceros = lectura_df_terceros

In [39]:
df_terceros.columns = df_terceros.columns.str.lower()

In [40]:
df_terceros

,nit,nombre,dir,tel,fax,email,ciudad,autorete,grancontr,escliente,esproveedo,esvendedor,cupo,zona,vendedor,inactivo,retefte,pdtocli,esasociado,esempleado,dir2,otro,codpub,encargado,plazo,nacio,replegal,plazomax,plazo2,plazo3,califica,pdtocond,pdtocond2,pdtocond3,codigo,foto,observa,nombrec,precio,escobrador,escomision,corteptos,telmovil,grupo,noctabanco,ultventa,regimen,esbanco,claseid,mensacomp,usuario,digver,pfinancia,fechar,espcliente,pdtocli2,pdtocli3,retetodo,tarica,tdtocli,tdtocli2,tdtocli3,essalud,espension,esriesgo,escaja,escesantia,esasegura,codsocial,espatronal,nombre1,nombre2,apellido1,apellido2,prf,piv,pic,actiecon,prfs,baseprf,baseprfs,basepiv,basepic,codarp,codafp,codeps,codccf,cuentab,banco,usuariov,coefi,barrio,esuniofi,esbenefi,esingotter,estranspor,exasociado,esvehiculo,esoficial,noiva,valdia,valno,valfe,porcaiu_a,porcaiu_i,porcaiu_u,pais,perjuridic,pasw,emgrupo,rutaemp,prcree,inirete,inicree,taricav,espac,matmer,cobrador
0,000000000000,PATERNINA JORGE,-,-,,,47001,None,None,False,False,False,NaN,,819000156,None,None,NaN,None,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,None,,None,C,None,ADMON,0.0,NaN,2017-02-13,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,JORGE,,PATERNINA,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,,None,,None,,NaN,,,,None,,
1,99999999,CLIENTES VARIOS,,,,,,None,None,True,None,None,NaN,,,None,None,NaN,None,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,2023-08-10,,None,C,None,ADMON,NaN,NaN,2017-03-02,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,,,,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,,None,,None,,NaN,,,,None,,
2,1083007443,SANCHEZ ACEVEDO FERNANDO JOSE,CARRERA 19 B 12 06,3163344506,,,47001,None,None,True,False,False,0.0,,819000156,None,None,NaN,None,False,,,,,30.0,None,,10.0,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,2019-08-27,,None,N,None,ADMON,4.0,0.0,2017-07-23,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,FERNANDO,JOSE,SANCHEZ,ACEVEDO,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,169,False,,None,,NaN,,,,None,,
3,88141188,SANCHEZ LEON LUIS FERNANDO,CR 11 10 40,4310313,,almacenelectroluz@hotmail.com,47001,None,None,True,True,False,150000000.0,,819000156,None,None,NaN,False,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,2024-11-08,C,None,C,None,ADMON,0.0,NaN,2017-07-23,False,NaN,0.0,None,,,,,None,None,None,None,None,None,,None,LUIS,FERNANDO,SANCHEZ,LEON,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,,None,,None,,NaN,,,,None,000000,
4,76312701,MEDINA ORDOÑEZ CARLOS ALBERTO,CL 10 11 50 SEC CENTRO,4310992,,torniherramientasla10@hotmail.com,47001,None,None,True,False,None,15000000.0,,819000156,None,None,NaN,None,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,TORNIHERRAMIENTAS LA 10,,None,None,None,,,,2024-11-07,C,None,C,None,ADMON,0.0,NaN,2017-07-25,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,CARLOS,ALBERTO,MEDINA,ORDOÑEZ,NaN,NaN,NaN,4752,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,169,False,,None,,NaN,,,,None,000000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71606,52515003,GALINDO CARMEN,.,3015821082,,,47001,None,None,True,False,None,1.0,,,None,None,NaN,None,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,2024-11-30,S,None,C,None,VENCONT,0.0,NaN,2024-11-30,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,CARMEN,,GALINDO,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,170,None,,None,,NaN,,,,None,000000,
71607,901290247,CONSTRUCTORA MARMORA SAS,CL 128 D 86 B 14 TO 3 AP 301,3052480267,,marmorasas2023@gmail.com,47001,None,None,True,False,None,1.0,,,None,None,NaN,None,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,None,S,None,N,None,VENCONT,3.0,NaN,2024-11-30,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,CONSTRUCTORA MARMORA SAS,,,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,170,None,,None,,NaN,,,,None,000000,
71608,453175,- - SOFIA,0,0,,,47001,None,None,True,False,None,1.0,,,None,None,NaN,None,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,2024-11-30,S,None,E,None,VENCONT,0.0,NaN,2024-11-30,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,SOFIA,,-,-,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,170,None,,None,,NaN,,,,None,000000,
71609,57435266,HERNANDEZ PATRICIA,0,0,,JHONNYGUERRERO1971@GMAIL.COM,47001,None,None,True,False,None,1.0,,,None,None,NaN,None,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,2024-11-30,S,None,C,None,VENCONT,0.0,NaN,2024-11-30,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,PATRICIA,,HERNANDEZ,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,170,None,,None,,NaN,,,,None,000000,
71610,1140831965,CASTRO LEONARDO,.,3225482448,,,47001,None,None,True,False,None,1.0,,,None,None,NaN,None,None,,,,,NaN,None,,NaN,NaN,NaN,,NaN,NaN,NaN,,,None,,,None,None,None,,,,2024-11-30,S,None,C,None,VENCONT,0.0,NaN,2024-11-30,None,NaN,NaN,None,,,,,None,None,None,None,None,None,,None,LEONARDO,,CASTRO,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,,,,,,,,NaN,,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,170,None,,None,,NaN,,,,None,000000,

In [41]:
df_terceros['inactivo'] = df_terceros['inactivo'].replace(np.nan,False)

In [42]:
# Eliminación de columnas con valores totalmente nulos

df_terceros = Limpieza_de_Datos_Nulos(df_terceros,1)

In [43]:
# Información del DataFrame

df_terceros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71611 entries, 0 to 71610
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nit         71611 non-null  object
 1   nombre      71611 non-null  object
 2   dir         71608 non-null  object
 3   tel         71607 non-null  object
 4   email       4611 non-null   object
 5   ciudad      71606 non-null  object
 6   escliente   71573 non-null  object
 7   esproveedo  71244 non-null  object
 8   cupo        71202 non-null  float64
 9   vendedor    17688 non-null  object
 10  inactivo    71611 non-null  object
 11  nombrec     853 non-null    object
 12  telmovil    1139 non-null   object
 13  ultventa    69428 non-null  object
 14  regimen     4142 non-null   object
 15  claseid     71570 non-null  object
 16  usuario     71611 non-null  object
 17  digver      71609 non-null  float64
 18  fechar      71611 non-null  object
 19  nombre1     71609 non-null  object
 20  nombre2     6095 non-null   object
 21  apellido1   60516 non-null  object
 22  apellido2   12572 non-null  object
 23  actiecon    2008 non-null   object
 24  pais        3710 non-null   object
 25  perjuridic  2416 non-null   object
 26  matmer      4195 non-null   object
dtypes: float64(2), object(25)
memory usage: 14.8+ MB

In [44]:
# Organización de las columnas 

df_terceros.columns

Index(['nit', 'nombre', 'dir', 'tel', 'email', 'ciudad', 'escliente',
       'esproveedo', 'cupo', 'vendedor', 'inactivo', 'nombrec', 'telmovil',
       'ultventa', 'regimen', 'claseid', 'usuario', 'digver', 'fechar',
       'nombre1', 'nombre2', 'apellido1', 'apellido2', 'actiecon', 'pais',
       'perjuridic', 'matmer'],
      dtype='object')

In [45]:
df_terceros = df_terceros[['nit', 'nombre','inactivo', 'dir', 'tel', 'email', 'ciudad', 'escliente','esproveedo', 'cupo', 'nombrec', 'ultventa',
'regimen', 'claseid','digver', 'fechar','nombre1', 'nombre2', 'apellido1', 'apellido2', 'actiecon', 'pais','perjuridic', 'matmer']]

In [46]:
df_terceros = df_terceros.rename(columns = {'nit':'id_tercero','nombre':'n_completo','escliente':'es_cliente','esproveedo':'es_proveedo','nombrec':'n_comercial','nombre1':'prim_nombre','nombre2':'sgdo_nombre','apellido1':'prim_apellido','apellido2':'sgdo_apellido','fechar':'fecha_ingre'})

In [47]:
# Cambio Orden

df_terceros = df_terceros[['id_tercero','inactivo', 'n_completo','prim_nombre','sgdo_nombre', 'prim_apellido', 'sgdo_apellido','n_comercial',
                           'dir', 'tel', 'email', 'ciudad','pais', 'es_cliente','es_proveedo', 'cupo', 'ultventa','claseid','digver', 'fecha_ingre']]

In [48]:
# Modificación del datatype

df_terceros.loc[:,'es_cliente'] = df_terceros['es_cliente'].astype('bool')
df_terceros.loc[:,'es_proveedo'] = df_terceros['es_proveedo'].astype('bool')
df_terceros.loc[:,'ultventa'] = pd.to_datetime(df_terceros['ultventa'])
df_terceros.loc[:,'fecha_ingre'] = pd.to_datetime(df_terceros['fecha_ingre'])

In [49]:
# Análsis de los valores nulos 

df_terceros.isnull().sum() / len(df_terceros) * 100

id_tercero        0.000000
inactivo          0.000000
n_completo        0.000000
prim_nombre       0.002793
sgdo_nombre      91.488738
prim_apellido    15.493430
sgdo_apellido    82.444038
n_comercial      98.808842
dir               0.004189
tel               0.005586
email            93.561045
ciudad            0.006982
pais             94.819232
es_cliente        0.000000
es_proveedo       0.000000
cupo              0.571141
ultventa          3.048414
claseid           0.057254
digver            0.002793
fecha_ingre       0.000000
dtype: float64

In [50]:
df_terceros.loc[df_terceros['pais'].isnull(),'pais'] = '169'

In [51]:
df_terceros.loc[df_terceros['ciudad'].isnull(),'ciudad'] = '47'

In [52]:
df_terceros['es_cliente'] = df_terceros['es_cliente'].replace(np.nan,False)

In [53]:
df_terceros['cupo'] = df_terceros['cupo'].replace(np.nan,0)

In [54]:
df_terceros['digver'] = df_terceros['digver'].replace(np.nan,0)

In [55]:
mask_nombres = ((df_terceros['prim_nombre'].isnull()) | (df_terceros['sgdo_nombre'].isnull()) | (df_terceros['prim_apellido'].isnull()) | (df_terceros['sgdo_apellido'].isnull()) | (df_terceros['n_comercial'].isnull()))

In [57]:
# Nueva columna que verifica si el cliente es empresa

for i, row in df_terceros.iterrows():
    if  (pd.notnull(row['prim_nombre']) and row['es_proveedo'] == False and len(row['prim_nombre']) > 10) or (pd.notnull(row['prim_nombre']) and row['es_proveedo'] == False and row['prim_nombre'].startswith(('900', '901'))) or pd.notnull(row['n_comercial']):
        df_terceros.at[i,'es_empresa'] = True
    else:
        df_terceros.at[i,'es_empresa'] = False

column_data = df_terceros.pop('es_empresa')
df_terceros.insert(14, 'es_empresa', column_data)

In [58]:
# Verificación de fecha última venta

df_terceros[df_terceros['ultventa'].isnull()]

,id_tercero,inactivo,n_completo,prim_nombre,sgdo_nombre,prim_apellido,sgdo_apellido,n_comercial,dir,tel,email,ciudad,pais,es_cliente,es_empresa,es_proveedo,cupo,ultventa,claseid,digver,fecha_ingre
0,000000000000,False,PATERNINA JORGE,JORGE,NaN,PATERNINA,NaN,NaN,-,-,NaN,47001,169,False,False,False,0.0,NaT,C,0.0,2017-02-13 00:00:00
24,22439016,False,RUEDA MARIA,MARIA,NaN,RUEDA,NaN,NaN,.,.,NaN,47001,169,True,False,False,1.0,NaT,C,3.0,2017-08-03 00:00:00
65,9007452592,False,LOS MOSQUETEROS,LOS MOSQUETEROS,NaN,NaN,NaN,NaN,CALLE 15 TAGANGA,4302666,NaN,47001,169,True,True,False,1.0,NaT,N,0.0,2017-08-03 00:00:00
228,9097617,False,BARRIENTOS EFREN,EFREN,NaN,BARRIENTOS,NaN,NaN,CALLE 49A 24 40,3005414642,NaN,47001,169,True,False,False,1.0,NaT,C,3.0,2017-08-08 00:00:00
230,37293302,False,PEREZ SELENI,SELENI,NaN,PEREZ,NaN,NaN,MAZ 3 CASA 51 URB SANTA CRUZ,3015260169,NaN,47001,169,True,False,False,1.0,NaT,C,0.0,2017-08-08 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71581,12942740,False,CHIRINOS ADALBERTO,ADALBERTO,NaN,CHIRINOS,NaN,NaN,.,.,NaN,47001,170,True,False,False,1.0,NaT,C,0.0,2024-11-26 00:00:00
71592,72227070,False,BAZZA EDGARDO,EDGARDO,NaN,BAZZA,NaN,NaN,.,.,NaN,47001,170,True,False,False,1.0,NaT,C,0.0,2024-11-27 00:00:00
71596,36592292,False,RODRIGUEZ MARIA,MARIA,NaN,RODRIGUEZ,NaN,NaN,.,.,NaN,47001,170,True,False,False,1.0,NaT,C,0.0,2024-11-28 00:00:00
71603,19001956,False,FORERO GAITAN MIGUEL ANGEL,MIGUEL,ANGEL,FORERO,GAITAN,NaN,CR 11 39 16 MARIA EUGENIA,3222062822,NaN,47001,170,True,False,False,0.0,NaT,C,1.0,2024-11-29 00:00:00
71607,901290247,False,CONSTRUCTORA MARMORA SAS,CONSTRUCTORA MARMORA SAS,NaN,NaN,NaN,NaN,CL 128 D 86 B 14 TO 3 AP 301,3052480267,marmorasas2023@gmail.com,47001,170,True,True,False,1.0,NaT,N,3.0,2024-11-30 00:00:00

In [59]:
df_terceros[df_terceros['id_tercero'] == '12645718']

,id_tercero,inactivo,n_completo,prim_nombre,sgdo_nombre,prim_apellido,sgdo_apellido,n_comercial,dir,tel,email,ciudad,pais,es_cliente,es_empresa,es_proveedo,cupo,ultventa,claseid,digver,fecha_ingre
68934,12645718,False,ARRIETA SALAS ALCIDES SEGUNDO,ALCIDES,SEGUNDO,ARRIETA,SALAS,NaN,CL 26 22A 26,3005076094,NaN,47001,169,True,False,False,1.0,NaT,C,1.0,2024-03-07 00:00:00

In [60]:
# Asignar clase ID de acuerdo si es empresa o no

for i, row in df_terceros.iterrows():
    if row['es_empresa'] == False:
        df_terceros.at[i,'claseid'] = 'C'
    else:
        df_terceros.at[i,'claseid'] = 'N'

In [61]:
# Ahora procedemos a arreglar la información de  los clientes

mask_nombre_cr = (df_terceros['n_completo'].str.contains(r'[^a-zA-Z\sñÑáéíóúÁÉÍÓÚàÀäÄëËïÏöÖüÜ]', regex=True)) & (df_terceros['es_empresa'] == False)

In [62]:
df_terceros[mask_nombre_cr]

,id_tercero,inactivo,n_completo,prim_nombre,sgdo_nombre,prim_apellido,sgdo_apellido,n_comercial,dir,tel,email,ciudad,pais,es_cliente,es_empresa,es_proveedo,cupo,ultventa,claseid,digver,fecha_ingre
72,900693344,False,EJE S.A.S,EJE S.A.S,NaN,NaN,NaN,NaN,CR 13 29 A 45 AP 302 BRR BAVARIA,3157479676,ejsantosz@hotmail.com,47001,169,True,False,False,1.0,2019-12-16 00:00:00,C,6.0,2017-08-03 00:00:00
357,860041312,False,PROECO S.A,PROECO S.A,NaN,NaN,NaN,NaN,KM 10 VIA A CIENAGA,3695500,NaN,47001,169,True,False,False,1.0,2018-03-03 00:00:00,C,9.0,2017-08-11 00:00:00
503,85471439,False,ORTIZ SOSSA WILINTON 00,WILINTON,00,ORTIZ,SOSSA,NaN,DIAG 33 960,3185428537,NaN,47001,169,True,False,False,1.0,2017-08-15 00:00:00,C,9.0,2017-08-15 00:00:00
532,36539977,False,MARTHA} ROMERIN,MARTHA},ROMERIN,NaN,NaN,NaN,CALLE 28B 21A24,4356146,NaN,47001,169,True,False,False,1.0,2017-08-15 00:00:00,C,6.0,2017-08-15 00:00:00
594,36718425,False,SIERRA 00 YOJANA 00,YOJANA,00,SIERRA,00,NaN,CALLE 11 D 24B 19,3179728971,NaN,47001,169,True,False,False,1.0,2017-08-19 00:00:00,C,0.0,2017-08-16 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71479,901489060,False,MUNI LIGHT S.A.S,MUNI LIGHT S.A.S,NaN,NaN,NaN,NaN,CL 36 43 79,3014569923,munilightcentro@gmail.com,47001,169,False,False,True,0.0,NaT,C,1.0,2024-10-31 00:00:00
71511,901584314,False,VBTP S.A.S,VBTP S.A.S,NaN,NaN,NaN,NaN,CL 35 46 6 3,3145645461,vbtpsas@gmail.com,47001,170,True,False,False,1.0,2024-11-13 00:00:00,C,1.0,2024-11-13 00:00:00
71524,1082926412,False,PABON 0 ALBANER,ALBANER,NaN,PABON,0,NaN,0,3233554972,albanerpabontarazona@gmail.com,47001,170,True,False,False,1.0,2024-11-14 00:00:00,C,5.0,2024-11-14 00:00:00
71567,12553486,False,SALAS . JAIME ENRIQUE,JAIME,ENRIQUE,SALAS,.,NaN,CL 3C 19A13 BONDA,3004011836,jesalasi@homail.com,47001,170,True,False,False,1.0,2024-11-22 00:00:00,C,0.0,2024-11-22 00:00:00
71608,453175,False,- - SOFIA,SOFIA,NaN,-,-,NaN,0,0,NaN,47001,170,True,False,False,1.0,2024-11-30 00:00:00,C,0.0,2024-11-30 00:00:00

In [63]:
regex_pattern = r'[^a-zA-ZñÑáéíóúÁÉÍÓÚàÀäÄëËïÏöÖüÜ ]'

In [64]:
df_terceros[['n_completo','prim_nombre','sgdo_nombre', 'prim_apellido', 'sgdo_apellido']] = df_terceros[['n_completo','prim_nombre','sgdo_nombre', 'prim_apellido', 'sgdo_apellido']].replace(regex_pattern, '', regex=True)

In [65]:
df_terceros[['n_completo','prim_nombre','sgdo_nombre', 'prim_apellido', 'sgdo_apellido']] =  df_terceros[['n_completo','prim_nombre','sgdo_nombre', 'prim_apellido', 'sgdo_apellido']].replace("",np.nan)

In [66]:
# Se limpian las identificaciones con anomalías

df_terceros = df_terceros[~df_terceros['id_tercero'].str.contains(r'[^a-zA-Z0-9]', regex=True)]

In [67]:
# Se desea obetener el sector económico de nuestros empleados por lo que se procede a leer esta información desde una página web

identificacion = df_terceros

In [73]:
identificacion

         id_tercero
0      000000000000
1          99999999
2        1083007443
3          88141188
4          76312701
...             ...
71606      52515003
71607     901290247
71608        453175
71609      57435266
71610    1140831965

[71537 rows x 1 columns]

In [68]:
identificacion = identificacion[['id_tercero']]

In [69]:
identificacion = identificacion.drop_duplicates()

In [82]:
nits = pd.read_csv("C:/Users/casan/OneDrive/Almacen Electrocaribe/info_identf.txt",sep='\t',header = 0)

In [83]:
nits.columns = nits.columns.str.lower()

In [84]:
nits

,id_tercero,razon_social,departamento,activ_ciiu
0,000000000000,NO_APLICA,NO_APLICA,CLIENTE GENERAL
1,99999999,NO_APLICA,NO_APLICA,CLIENTE GENERAL
2,1083007443,NO_APLICA,NO_APLICA,CLIENTE GENERAL
3,88141188,SANCHEZ LEON LUIS FERNANDO,MAGDALENA,G4755 - COMERCIO AL POR MENOR DE ARTICULOS Y U...
4,76312701,MEDINA ORDONEZ CARLOS ALBERTO,MAGDALENA,G4752 - COMERCIO AL POR MENOR DE ARTICULOS DE ...
...,...,...,...,...
71522,36592292,NO_APLICA,NO_APLICA,CLIENTE GENERAL
71523,19260713,NO_APLICA,NO_APLICA,CLIENTE GENERAL
71524,901002105,INVERSIONES CONSTRUMAN SAS,MAGDALENA,F4390 - OTRAS ACTIVIDADES ESPECIALIZADAS PARA ...
71525,39058270,ARIAS SANCHEZ ELIANA MARIA,MAGDALENA,G4732 - COMERCIO AL POR MENOR DE LUBRICANTES (...
71526,901478887,MARTINA T&T S A S,MAGDALENA,C1620 - FABRICACION DE HOJAS DE MADERA PARA EN...

In [85]:
nits = nits.drop_duplicates()

In [86]:
identificacion = identificacion.merge(nits, on='id_tercero', how='left')

In [87]:
identificacion[identificacion.duplicated(subset=['id_tercero'])]

Empty DataFrame
Columns: [id_tercero, razon_social, departamento, activ_ciiu]
Index: []

In [88]:
# Proceso que actualiza terceros que no tengan información
import time
import random
from fake_useragent import UserAgent

In [89]:
ua = UserAgent()
count = 0

for i, row in identificacion.iterrows():
    if pd.isnull(row['razon_social']) :
        if count ==  500:
            identificacion.to_csv("C:/Users/casan/OneDrive/Almacen Electrocaribe/info_nits.txt", sep='\t', index=False)
            count = 0
        else:
            count = count + 1
        
        headers = {'User-Agent': ua.random}
        nit = identificacion.at[i,'id_tercero']
        try:
            url = 'https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/' + nit
            page = requests.get(url, headers=headers)
            soup = BeautifulSoup(page.text, 'html')
            table = soup.find_all('div', class_ = 'mod-datos pb0')[0]
            info = table.find_all('td')
            info_table = [infor.text.strip() for infor in info]
            
        except:
            identificacion.at[i,'razon_social'] = 'NO_APLICA'
            identificacion.at[i,'departamento'] = 'NO_APLICA'
            identificacion.at[i,'activ_ciiu'] = 'CLIENTE GENERAL'
            
            print(i,url,identificacion.at[i,'razon_social'], count)
            
            # time.sleep(5)
            continue
            
        table_2 = soup.find_all('h1') 
        info_table_2 = [infor_2.text.strip() for infor_2 in table_2]

        for line in info_table_2:
            if "ACTIVA" in line:
                
                # Banderas para determinar cuándo capturar la siguiente línea
                capture_razon_social = False
                capture_departamento = False
                capture_actividad_ciiu = False
                
                # Recorrer las líneas y capturar la información deseada
                for line in info_table:
                    if capture_razon_social == True:
                        identificacion.at[i,'razon_social'] = line.strip()
                        capture_razon_social = False
                            
                    if capture_departamento == True:
                        identificacion.at[i,'departamento'] = line.strip()
                        capture_departamento = False
                
                    if capture_actividad_ciiu == True:
                        identificacion.at[i,'activ_ciiu'] = line.strip()
                        capture_actividad_ciiu = False
                    
                    if "Razón Social" in line:
                        capture_razon_social = True
                    elif "departamento" in line:
                        capture_departamento = True
                    elif "Actividad CIIU" in line:
                        capture_actividad_ciiu = True
                
                print(i,url,identificacion.at[i,'razon_social'],count)
            
            else:
                identificacion.at[i,'razon_social'] = 'NO_APLICA'
                identificacion.at[i,'departamento'] = 'NO_APLICA'
                identificacion.at[i,'activ_ciiu'] = 'CLIENTE GENERAL'
            
                print(i,url,identificacion.at[i,'razon_social'],count)
                
            # time.sleep(random.uniform(1, 5))

71527 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/901290701 BUU FOOD S A S 1
71528 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/901239716 CASA DE LA MEMORIA 2
71529 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/19001956 FORERO GAITAN MIGUEL ANGEL 3
71530 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/1151933731 NO_APLICA 4
71531 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/901753815 COMERCIALIZADORA RENAD S A S 5
71532 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/52515003 NO_APLICA 6
71533 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/901290247 CONSTRUCTORA MARMORA SAS 7
71534 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/453175 NO_APLICA 8
71535 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/57435266 NO_APLICA 9
71536 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/1140831965 NO_APLICA 10

In [90]:
identificacion['activ_ciiu'] = identificacion['activ_ciiu'].replace('NO_APLICA','CLIENTE GENERAL')

In [91]:
identificacion.to_csv("C:/Users/casan/OneDrive/Almacen Electrocaribe/info_identf.txt", sep='\t', index=False)

In [92]:
# Ya que tenemos la información, se hace merge con data original
df_terceros = df_terceros.merge(identificacion, on='id_tercero', how='left')

In [93]:
# Asigna Es_Empresa a aquellas empresas que hayan arrojado resultados al buscar en la web

for i, row in df_terceros.iterrows():
    if row['razon_social'] != 'CLIENTE GENERAL':
        df_terceros.at[i,'es_empresa'] = True

In [94]:
df_terceros['activ_ciiu'] = df_terceros['activ_ciiu'].fillna('CLIENTE GENERAL')

In [95]:
# Remover el código CIIU ya que importa es el nombre
regex_ciiu = r'^[A-Z]\d{4} - '

In [96]:
df_terceros['activ_ciiu'] = df_terceros['activ_ciiu'].replace(regex_ciiu, '', regex=True)

In [97]:
# Se eliminan columnas razón social y departamento ya que no son necesarias por ahora
df_terceros = df_terceros.drop(columns=['razon_social','departamento'])

In [98]:
# Eliminar Ventas Varias

df_terceros = df_terceros.drop(699)

In [99]:
df_terceros.to_sql('tercero', engine, if_exists='replace', index= False)

536

In [100]:
df_terceros[df_terceros.duplicated(subset=['id_tercero'])]

Empty DataFrame
Columns: [id_tercero, inactivo, n_completo, prim_nombre, sgdo_nombre, prim_apellido, sgdo_apellido, n_comercial, dir, tel, email, ciudad, pais, es_cliente, es_empresa, es_proveedo, cupo, ultventa, claseid, digver, fecha_ingre, activ_ciiu]
Index: []

In [101]:
regex_pattern_txt = r'[a-zA-Z]'

# Verificar si hay letras en la columna 'ID_TERCERO'
df_terceros[df_terceros['id_tercero'].str.contains(regex_pattern_txt)]

,id_tercero,inactivo,n_completo,prim_nombre,sgdo_nombre,prim_apellido,sgdo_apellido,n_comercial,dir,tel,email,ciudad,pais,es_cliente,es_empresa,es_proveedo,cupo,ultventa,claseid,digver,fecha_ingre,activ_ciiu
41328,CE245436,False,RIVERO JULIO,JULIO,NaN,NaN,RIVERO,NaN,CALLE 25 1-137 APTO 205 EDIFICIO SALGUEH,3186722645,NaN,47001,169,True,True,False,1.0,2020-12-16 00:00:00,C,1.0,2020-12-16 00:00:00,CLIENTE GENERAL
44397,16067425Q,False,RUIZ ENEKO,ENEKO,NaN,RUIZ,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2021-04-14 00:00:00,C,8.0,2021-04-14 00:00:00,CLIENTE GENERAL
54359,19AC921281,False,HEQUET SEVASTIAN,SEVASTIAN,NaN,HEQUET,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2022-05-18 00:00:00,C,0.0,2022-05-18 00:00:00,CLIENTE GENERAL
63248,U18Y12146P,False,GIUFFRIDA FRANCESCO,FRANCESCO,NaN,GIUFFRIDA,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2023-06-22 00:00:00,C,0.0,2023-06-22 00:00:00,CLIENTE GENERAL
63332,YC0077763,False,GIUFFRIDA FRANCESCO,FRANCESCO,NaN,GIUFFRIDA,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2023-07-03 00:00:00,C,0.0,2023-06-26 00:00:00,CLIENTE GENERAL
65909,16AZ79656,False,ROMDAUD ENDRY,ENDRY,NaN,ROMDAUD,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2023-10-17 00:00:00,C,0.0,2023-10-17 00:00:00,CLIENTE GENERAL
66035,21DA64579,False,RESERVA DEL NONO,RESERVA DEL NONO,NaN,NaN,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2023-10-24 00:00:00,N,0.0,2023-10-24 00:00:00,CLIENTE GENERAL
69540,BAM010015,False,RIERA JORDI,JORDI,NaN,RIERA,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2024-04-17 00:00:00,C,0.0,2024-04-17 00:00:00,CLIENTE GENERAL
69932,FP4007619,False,JUUTISTENAHO PETRI,PETRI,NaN,JUUTISTENAHO,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2024-05-10 00:00:00,C,0.0,2024-05-10 00:00:00,CLIENTE GENERAL
70094,23AP29898,False,HEQUET SEBASTIAN,SEBASTIAN,NaN,HEQUET,NaN,NaN,.,.,xdvpx@protonmail.com,47001,169,True,True,False,1.0,2024-06-11 00:00:00,C,0.0,2024-05-22 00:00:00,CLIENTE GENERAL

## DataBase Facturas de Venta (df_itfaven)

In [220]:
# Lectura de datos
lectura_df_itfaven = Lectura_Datos(1)

In [221]:
# Backup de los datos
df_itfaven = lectura_df_itfaven

In [222]:
# Eliminación de columnas con valores totalmente nulos

df_itfaven = Limpieza_de_Datos_Nulos(df_itfaven,0)

In [223]:
# Cambio de columnas tipo de factura y número

df_itfaven = Modificacion_Columnas(df_itfaven)

In [224]:
df_itfaven.columns = df_itfaven.columns.str.lower()

In [225]:
# Información del DataFrame

df_itfaven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591591 entries, 0 to 591590
Data columns (total 35 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fact        591581 non-null  object
 1   id_fact     591581 non-null  object
 2   n_fact      591581 non-null  object
 3   referencia  591589 non-null  object
 4   cant        591591 non-null  float64
 5   vrunit      591591 non-null  float64
 6   piva        591591 non-null  float64
 7   pdto        591591 non-null  float64
 8   costouni    591591 non-null  float64
 9   explota     591591 non-null  bool
 10  uniexplo    591591 non-null  int64
 11  vriva       591591 non-null  float64
 12  detalle     591569 non-null  object
 13  item        591591 non-null  object
 14  sugerido    591591 non-null  float64
 15  pdtocon     62637 non-null   float64
 16  baseivaimp  62637 non-null   float64
 17  vripocon    591591 non-null  float64
 18  vrdtocon    62637 non-null   float64
 19  pcomi       62637 non-null   float64
 20  vrcomi      62637 non-null   float64
 21  pdtocon2    62637 non-null   float64
 22  pdtocon3    62637 non-null   float64
 23  vrdtocon2   62637 non-null   float64
 24  vrdtocon3   62637 non-null   float64
 25  sugepos     591591 non-null  bool
 26  vrtotal     591591 non-null  float64
 27  excluido    591591 non-null  bool
 28  precifijos  591591 non-null  bool
 29  afecta      9491 non-null    object
 30  vrotram     62637 non-null   float64
 31  alquilado   62637 non-null   object
 32  preciox     62637 non-null   float64
 33  ipoiva      368276 non-null  object
 34  reten       55770 non-null   object
dtypes: bool(4), float64(20), int64(1), object(10)
memory usage: 142.2+ MB

In [226]:
# Organización de las columnas

df_itfaven.columns

Index(['fact', 'id_fact', 'n_fact', 'referencia', 'cant', 'vrunit', 'piva',
       'pdto', 'costouni', 'explota', 'uniexplo', 'vriva', 'detalle', 'item',
       'sugerido', 'pdtocon', 'baseivaimp', 'vripocon', 'vrdtocon', 'pcomi',
       'vrcomi', 'pdtocon2', 'pdtocon3', 'vrdtocon2', 'vrdtocon3', 'sugepos',
       'vrtotal', 'excluido', 'precifijos', 'afecta', 'vrotram', 'alquilado',
       'preciox', 'ipoiva', 'reten'],
      dtype='object')

In [227]:
df_itfaven = df_itfaven[['fact', 'id_fact', 'n_fact', 'referencia', 'detalle', 'cant', 'vrunit', 'piva',
       'pdto', 'costouni','vriva', 'item','sugerido','vrtotal', 'afecta']]

In [228]:
df_itfaven = df_itfaven.rename(columns = {'referencia':'id_producto','detalle':'n_producto'})

In [229]:
# Análsis de los valores nulos 

df_itfaven.isnull().sum() / len(df_itfaven) * 100

fact            0.001690
id_fact         0.001690
n_fact          0.001690
id_producto     0.000338
n_producto      0.003719
cant            0.000000
vrunit          0.000000
piva            0.000000
pdto            0.000000
costouni        0.000000
vriva           0.000000
item            0.000000
sugerido        0.000000
vrtotal         0.000000
afecta         98.395682
dtype: float64

In [230]:
# Se eliminan registros con valores nulos

df_itfaven = df_itfaven.dropna(subset = ['fact','id_producto'])

In [231]:
df_articulos_faven = df_articulos[['id_producto','n_producto']]

In [232]:
df_itfaven = df_itfaven.merge(df_articulos_faven, on='id_producto', how='left')

In [233]:
for i, row in df_itfaven.iterrows():
    if pd.isnull(row['n_producto_x']):
        df_itfaven.at[i,'n_producto_x'] = df_itfaven.at[i,'n_producto_y']

In [234]:
#Pendientes porque necesitamos limpiar articulos primero

df_itfaven[df_itfaven['n_producto_x'].isnull()]

Empty DataFrame
Columns: [fact, id_fact, n_fact, id_producto, n_producto_x, cant, vrunit, piva, pdto, costouni, vriva, item, sugerido, vrtotal, afecta, n_producto_y]
Index: []

In [235]:
df_itfaven = df_itfaven.drop(columns=['n_producto_y'])

In [236]:
df_itfaven = df_itfaven.rename(columns = {'n_producto_x':'n_producto'})

In [237]:
df_itfaven['afecta'] = df_itfaven['afecta'].fillna('no_afecta')

In [238]:
# Dataframe final - Factura de Venta

df_itfaven.to_sql('itfaven', engine, if_exists='replace', index= False)

656

## DataBase Facturas de Compra (df_itfacom)

In [239]:
# Lectura de datos
lectura_df_itfacom = Lectura_Datos(2)

In [240]:
# Backup de los datos

df_itfacom = lectura_df_itfacom

In [241]:
# Comprobación de datos nulos

df_itfacom.isnull().sum() / len(df_itfacom) * 100

TIPO           0.000000
NUMERO         0.000000
REFERENCIA     0.000000
VRUNIT         0.000000
CANTIDAD       0.000000
                ...
CCOSTO         0.000000
PIVAM          0.000000
VALORM         0.000000
PIVAND        85.765983
VRIVAND       85.765983
Length: 33, dtype: float64

In [242]:
# Eliminación de columnas con valores totalmente nulos

df_itfacom = Limpieza_de_Datos_Nulos(df_itfacom,0)

In [243]:
# Cambio de columnas tipo de factura y número

df_itfacom = Modificacion_Columnas(df_itfacom)

In [244]:
df_itfacom.columns = df_itfacom.columns.str.lower()

In [245]:
# Información del DataFrame

df_itfacom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27357 entries, 0 to 27356
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact        27357 non-null  object
 1   id_fact     27357 non-null  object
 2   n_fact      27357 non-null  object
 3   referencia  27357 non-null  object
 4   vrunit      27357 non-null  float64
 5   cantidad    27357 non-null  float64
 6   explota     27357 non-null  bool
 7   uniexplo    27357 non-null  int64
 8   piva        27357 non-null  float64
 9   item        27357 non-null  object
 10  pdto        27357 non-null  float64
 11  precio      27357 non-null  float64
 12  vriva       27357 non-null  float64
 13  detalle     27357 non-null  object
 14  vrflete     27357 non-null  float64
 15  vrtotal     27357 non-null  float64
 16  vripocon    27357 non-null  float64
 17  vrdtofin    27357 non-null  float64
 18  pdtof1      27357 non-null  float64
 19  pdtof2      27357 non-null  float64
 20  pdtof3      27357 non-null  float64
 21  excluido    27357 non-null  bool
 22  pdto2       27357 non-null  float64
 23  pdto3       27357 non-null  float64
 24  vrreteiva   27357 non-null  float64
 25  precioa     27357 non-null  float64
 26  pivam       27357 non-null  float64
 27  valorm      27357 non-null  float64
 28  pivand      3894 non-null   float64
 29  vrivand     3894 non-null   float64
dtypes: bool(2), float64(21), int64(1), object(6)
memory usage: 5.9+ MB

In [246]:
# Organización de las columnas

df_itfacom.columns

Index(['fact', 'id_fact', 'n_fact', 'referencia', 'vrunit', 'cantidad',
       'explota', 'uniexplo', 'piva', 'item', 'pdto', 'precio', 'vriva',
       'detalle', 'vrflete', 'vrtotal', 'vripocon', 'vrdtofin', 'pdtof1',
       'pdtof2', 'pdtof3', 'excluido', 'pdto2', 'pdto3', 'vrreteiva',
       'precioa', 'pivam', 'valorm', 'pivand', 'vrivand'],
      dtype='object')

In [247]:
df_itfacom = df_itfacom[['fact', 'id_fact', 'n_fact', 'referencia','detalle','cantidad','vrunit','piva', 
                        'pdto', 'precio', 'vriva','vrflete', 'vrtotal','precioa','item']]

In [248]:
df_itfacom = df_itfacom.rename(columns = {'referencia':'id_producto','detalle':'n_producto','cantidad':'cant'})

In [249]:
# Análsis de los valores nulos

df_itfacom.isnull().sum() / len(df_itfacom) * 100

fact           0.0
id_fact        0.0
n_fact         0.0
id_producto    0.0
n_producto     0.0
cant           0.0
vrunit         0.0
piva           0.0
pdto           0.0
precio         0.0
vriva          0.0
vrflete        0.0
vrtotal        0.0
precioa        0.0
item           0.0
dtype: float64

In [250]:
# Dataframe final - Facturas de Compra

df_itfacom.to_sql('itfacom', engine, if_exists='replace', index= False)

357

## DataBase Transferencia de Inventarios (df_ittrainvv)

In [251]:
# Lectura de datos

lectura_df_ittrainv = Lectura_Datos(3)

In [252]:
# Backup de los datos

df_ittrainv = lectura_df_ittrainv

In [253]:
# Comprobación de datos nulos

df_ittrainv.isnull().sum() / len(df_ittrainv) * 100

TIPO          0.0
NUMERO        0.0
REFERENCIA    0.0
CANTIDAD      0.0
ITEM          0.0
UNIEXPLO      0.0
VRTOTAL       0.0
DETALLE       0.0
LOTE          0.0
dtype: float64

In [254]:
# Eliminación de columnas con valores totalmente nulos

df_ittrainv = Limpieza_de_Datos_Nulos(df_ittrainv,0)

In [255]:
# Cambio de columnas tipo de factura y número

df_ittrainv = Modificacion_Columnas(df_ittrainv)

In [256]:
df_ittrainv.columns = df_ittrainv.columns.str.lower()

In [257]:
# Información del DataFrame

df_ittrainv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1688 entries, 0 to 1687
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact        1688 non-null   object
 1   id_fact     1688 non-null   object
 2   n_fact      1688 non-null   object
 3   referencia  1688 non-null   object
 4   cantidad    1688 non-null   float64
 5   item        1688 non-null   object
 6   uniexplo    1688 non-null   int64
 7   vrtotal     1688 non-null   float64
 8   detalle     1688 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 118.8+ KB

In [258]:
# Organización de las columnas

df_ittrainv.columns

Index(['fact', 'id_fact', 'n_fact', 'referencia', 'cantidad', 'item',
       'uniexplo', 'vrtotal', 'detalle'],
      dtype='object')

In [259]:
df_ittrainv = df_ittrainv[['fact', 'id_fact', 'n_fact', 'referencia','detalle', 'cantidad', 'item', 'vrtotal']]

In [260]:
df_ittrainv = df_ittrainv.rename(columns = {'referencia':'id_producto','detalle':'n_producto','cantidad':'cant'})

In [261]:
# Análsis de los valores nulos

df_ittrainv.isnull().sum() / len(df_ittrainv) * 100

fact           0.0
id_fact        0.0
n_fact         0.0
id_producto    0.0
n_producto     0.0
cant           0.0
item           0.0
vrtotal        0.0
dtype: float64

In [262]:
# Dataframe final - Transferencia de Inventarios

df_ittrainv.to_sql('itraninv', engine, if_exists='replace', index= False)

688

## DataBase Notas de Inventario (df_itnotinv)

In [263]:
# Lectura de datos

lectura_df_itnotinv = Lectura_Datos(4)

In [264]:
# Backup de los datos

df_itnotinv = lectura_df_itnotinv

In [265]:
# Comprobación de datos nulos

df_itnotinv.isnull().sum() / len(df_itnotinv) * 100

TIPO          0.0
NUMERO        0.0
REFERENCIA    0.0
CANTIDAD      0.0
COSTO         0.0
CODDIVI       0.0
ITEM          0.0
DETALLE       0.0
LOTE          0.0
dtype: float64

In [266]:
# Eliminación de columnas con valores totalmente nulos

df_itnotinv = Limpieza_de_Datos_Nulos(df_itnotinv,0)

In [267]:
# Cambio de columnas tipo de factura y número

df_itnotinv = Modificacion_Columnas(df_itnotinv)

In [268]:
df_itnotinv.columns = df_itnotinv.columns.str.lower()

In [269]:
# Información del DataFrame

df_itnotinv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23041 entries, 0 to 23040
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact        23041 non-null  object
 1   id_fact     23041 non-null  object
 2   n_fact      23041 non-null  object
 3   referencia  23041 non-null  object
 4   cantidad    23041 non-null  float64
 5   costo       23041 non-null  float64
 6   item        23041 non-null  object
 7   detalle     23041 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.4+ MB

In [270]:
# Organización de las columnas

df_itnotinv.columns

Index(['fact', 'id_fact', 'n_fact', 'referencia', 'cantidad', 'costo', 'item',
       'detalle'],
      dtype='object')

In [271]:
df_itnotinv = df_itnotinv[['fact', 'id_fact', 'n_fact', 'referencia','detalle','cantidad', 'costo', 'item']]

In [273]:
df_itnotinv = df_itnotinv.rename(columns = {'referencia':'id_producto','detalle':'n_producto','cantidad':'cant','costo':'vrtotal'})

In [274]:
for i, row in df_itnotinv.iterrows():
    if row['cant'] != 0:
        df_itnotinv.at[i,'vrunit'] = abs(df_itnotinv.at[i,'vrtotal']/df_itnotinv.at[i,'cant'])
    else:
        df_itnotinv.at[i,'vrunit'] = df_itnotinv.at[i,'vrtotal']

In [275]:
# Análsis de los valores nulos

df_itnotinv.isnull().sum() / len(df_itnotinv) * 100

fact           0.0
id_fact        0.0
n_fact         0.0
id_producto    0.0
n_producto     0.0
cant           0.0
vrtotal        0.0
item           0.0
vrunit         0.0
dtype: float64

In [276]:
# Dataframe final - Notas de Inventario

df_itnotinv.to_sql('itnotinv', engine, if_exists='replace', index= False)

41

## DataBase Devolución de Venta (df_itdevven)

In [278]:
# Lectura de datos

lectura_df_itdevven = Lectura_Datos(5)

In [290]:
# Backup de los datos

df_itdevven = lectura_df_itdevven

In [291]:
# Comprobación de datos nulos

df_itdevven.isnull().sum() / len(df_itdevven) * 100

TIPO           0.000000
NUMERO         0.000000
REFERENCIA     0.000000
CANT           0.000000
VRUNIT         0.000000
                ...
EXCLUIDO      67.563739
LOTE           0.000000
DETALLE        0.000000
LISIND         0.000000
TARIVA         0.000000
Length: 21, dtype: float64

In [292]:
# Eliminación de columnas con valores totalmente nulos

df_itdevven = Limpieza_de_Datos_Nulos(df_itdevven,0)

In [293]:
# Cambio de columnas tipo de factura y número

df_itdevven = Modificacion_Columnas(df_itdevven)

In [294]:
df_itdevven.columns = df_itdevven.columns.str.lower()

In [295]:
# Información del DataFrame

df_itdevven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5648 entries, 0 to 5647
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact        5648 non-null   object
 1   id_fact     5648 non-null   object
 2   n_fact      5648 non-null   object
 3   referencia  5648 non-null   object
 4   cant        5648 non-null   float64
 5   vrunit      5648 non-null   float64
 6   piva        5648 non-null   float64
 7   costouni    5648 non-null   float64
 8   explota     5648 non-null   bool
 9   uniexplo    5648 non-null   int64
 10  vriva       5648 non-null   float64
 11  item        5648 non-null   object
 12  vripocon    1832 non-null   float64
 13  vrtotal     5648 non-null   float64
 14  excluido    1832 non-null   object
 15  detalle     5647 non-null   object
 16  tariva      1023 non-null   object
dtypes: bool(1), float64(7), int64(1), object(8)
memory usage: 711.6+ KB

In [296]:
# Organización de las columnas

df_itdevven.columns

Index(['fact', 'id_fact', 'n_fact', 'referencia', 'cant', 'vrunit', 'piva',
       'costouni', 'explota', 'uniexplo', 'vriva', 'item', 'vripocon',
       'vrtotal', 'excluido', 'detalle', 'tariva'],
      dtype='object')

In [297]:
df_itdevven = df_itdevven[['fact', 'id_fact', 'n_fact', 'referencia', 'detalle' , 'cant', 'vrunit', 'piva',
       'costouni', 'vriva', 'item','vrtotal']]

In [298]:
df_itdevven = df_itdevven.rename(columns = {'referencia':'id_producto','detalle':'n_producto'})

In [299]:
# Análsis de los valores nulos

df_itdevven.isnull().sum() / len(df_itdevven) * 100

fact           0.000000
id_fact        0.000000
n_fact         0.000000
id_producto    0.000000
n_producto     0.017705
cant           0.000000
vrunit         0.000000
piva           0.000000
costouni       0.000000
vriva          0.000000
item           0.000000
vrtotal        0.000000
dtype: float64

In [300]:
df_articulos_devven = df_articulos[['id_producto','n_producto']]

In [301]:
df_itdevven = df_itdevven.merge(df_articulos_devven, on='id_producto', how='left')

In [303]:
for i, row in df_itdevven.iterrows():
    if pd.isnull(row['n_producto_x']):
        df_itdevven.at[i,'n_producto_x'] = df_itdevven.at[i,'n_producto_y']

In [304]:
df_itdevven = df_itdevven.drop(columns=['n_producto_y'])

In [305]:
df_itdevven = df_itdevven.rename(columns = {'n_producto_x':'n_producto'})

In [306]:
# Dataframe final - Devoluciones de Ventas

df_itdevven.to_sql('itdevent', engine, if_exists='replace', index= False)

672

## Data Base Devolución de Compra (df_itdevcom)

In [307]:
# Lectura de datos

lectura_df_itdevcom = Lectura_Datos(6)

In [308]:
# Backup de los datos

df_itdevcom = lectura_df_itdevcom

In [309]:
# Comprobación de datos nulos

df_itdevcom.isnull().sum() / len(df_itdevcom) * 100

TIPO          0.0
NUMERO        0.0
REFERENCIA    0.0
VRUNIT        0.0
CANTIDAD      0.0
EXPLOTA       0.0
UNIEXPLO      0.0
PIVA          0.0
CODDIVI       0.0
ITEM          0.0
VRIPOCON      0.0
VRIVA         0.0
EXCLUIDO      0.0
VRTOTAL       0.0
VRRETEIVA     0.0
LOTE          0.0
dtype: float64

In [310]:
# Eliminación de columnas con valores totalmente nulos

df_itdevcom = Limpieza_de_Datos_Nulos(df_itdevcom,0)

In [311]:
# Cambio de columnas tipo de factura y número

df_itdevcom = Modificacion_Columnas(df_itdevcom)

In [312]:
df_itdevcom.columns = df_itdevcom.columns.str.lower()

In [313]:
# Información del DataFrame

df_itdevcom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1342 entries, 0 to 1341
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact        1342 non-null   object
 1   id_fact     1342 non-null   object
 2   n_fact      1342 non-null   object
 3   referencia  1342 non-null   object
 4   vrunit      1342 non-null   float64
 5   cantidad    1342 non-null   float64
 6   explota     1342 non-null   bool
 7   uniexplo    1342 non-null   int64
 8   piva        1342 non-null   float64
 9   item        1342 non-null   object
 10  vripocon    1342 non-null   float64
 11  vriva       1342 non-null   float64
 12  excluido    1342 non-null   bool
 13  vrtotal     1342 non-null   float64
 14  vrreteiva   1342 non-null   float64
dtypes: bool(2), float64(7), int64(1), object(5)
memory usage: 139.0+ KB

In [314]:
# Organización de las columnas

df_itdevcom.columns

Index(['fact', 'id_fact', 'n_fact', 'referencia', 'vrunit', 'cantidad',
       'explota', 'uniexplo', 'piva', 'item', 'vripocon', 'vriva', 'excluido',
       'vrtotal', 'vrreteiva'],
      dtype='object')

In [315]:
df_itdevcom = df_itdevcom[['fact', 'id_fact', 'n_fact', 'referencia' , 'cantidad', 'vrunit', 'piva', 'vriva', 'item','vrtotal']]

In [316]:
df_itdevcom = df_itdevcom.rename(columns = {'referencia':'id_producto', 'cantidad':'cant'})

In [317]:
# Análsis de los valores nulos

df_itdevcom.isnull().sum() / len(df_itdevcom) * 100

fact           0.0
id_fact        0.0
n_fact         0.0
id_producto    0.0
cant           0.0
vrunit         0.0
piva           0.0
vriva          0.0
item           0.0
vrtotal        0.0
dtype: float64

In [318]:
# Dataframe final - Devoluciones de Compra

df_itdevcom.to_sql('itdevcom', engine, if_exists='replace', index= False)

342

## DataBase Cotizaciones (df_itcot)

In [319]:
# Lectura de datos

lectura_df_itcot = Lectura_Datos(45)

In [320]:
# Backup de los datos

df_itcot = lectura_df_itcot

In [321]:
# Comprobación de datos nulos

df_itcot.isnull().sum() / len(df_itcot) * 100

TIPO          0.000000
NUMERO        0.000000
REFERENCIA    0.000000
CANT          0.000000
VRUNIT        0.000000
                ...
VRIPOCON      0.000000
VRDTOCON      0.000000
VRTOTAL       0.000000
LISIND        0.000000
RETEN         2.267931
Length: 21, dtype: float64

In [322]:
# Eliminación de columnas con valores totalmente nulos

df_itcot = Limpieza_de_Datos_Nulos(df_itcot,0)

In [323]:
# Cambio de columnas tipo de factura y número

df_itcot = Modificacion_Columnas(df_itcot)

In [324]:
df_itcot.columns = df_itcot.columns.str.lower()

In [325]:
# Información del DataFrame

df_itcot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27955 entries, 0 to 27954
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact        27955 non-null  object
 1   id_fact     27955 non-null  object
 2   n_fact      27955 non-null  object
 3   referencia  27953 non-null  object
 4   cant        27955 non-null  float64
 5   vrunit      27955 non-null  float64
 6   piva        27955 non-null  float64
 7   pdto        27955 non-null  float64
 8   explota     27955 non-null  bool
 9   uniexplo    27955 non-null  int64
 10  vriva       27955 non-null  float64
 11  detalle     27955 non-null  object
 12  item        27955 non-null  object
 13  sugerido    27955 non-null  float64
 14  pdtocon     27955 non-null  float64
 15  baseivaimp  27955 non-null  float64
 16  vripocon    27955 non-null  float64
 17  vrdtocon    27955 non-null  float64
 18  vrtotal     27955 non-null  float64
 19  reten       27321 non-null  object
dtypes: bool(1), float64(11), int64(1), object(7)
memory usage: 4.1+ MB

In [326]:
# Organización de las columnas

df_itcot.columns

Index(['fact', 'id_fact', 'n_fact', 'referencia', 'cant', 'vrunit', 'piva',
       'pdto', 'explota', 'uniexplo', 'vriva', 'detalle', 'item', 'sugerido',
       'pdtocon', 'baseivaimp', 'vripocon', 'vrdtocon', 'vrtotal', 'reten'],
      dtype='object')

In [328]:
df_itcot = df_itcot[['fact', 'id_fact', 'n_fact', 'referencia','detalle', 'cant', 'vrunit', 'piva',
       'pdto', 'vriva', 'item', 'sugerido', 'vrtotal']]

In [329]:
df_itcot = df_itcot.rename(columns = {'referencia':'id_producto','detalle':'n_producto'})

In [330]:
# Análsis de los valores nulos

df_itcot.isnull().sum() / len(df_itcot) * 100

fact           0.000000
id_fact        0.000000
n_fact         0.000000
id_producto    0.007154
n_producto     0.000000
cant           0.000000
vrunit         0.000000
piva           0.000000
pdto           0.000000
vriva          0.000000
item           0.000000
sugerido       0.000000
vrtotal        0.000000
dtype: float64

In [331]:
df_itcot = df_itcot.dropna(subset = ['id_producto'])

In [332]:
# Dataframe final - Cotizaciones

df_itcot.to_sql('itcot', engine, if_exists='replace', index= False)

953

## DataBase Tipo de Documento (df_tipodoc)

In [333]:
# Lectura de datos

lectura_df_tipodoc = Lectura_Datos(17)

In [334]:
# Backup de los datos

df_tipodoc = lectura_df_tipodoc

In [335]:
# Eliminación de columnas con valores totalmente nulos

df_tipodoc = Limpieza_de_Datos_Nulos(df_tipodoc,1)

In [336]:
df_tipodoc.columns = df_tipodoc.columns.str.lower()

In [337]:
# Comprobación de datos nulos

df_tipodoc.isnull().sum() / len(df_tipodoc) * 100

codigo        0.000000
consec        2.941176
nombre        0.000000
clasedoc      0.000000
resoldian    76.470588
               ...
turno        91.176471
vigen        76.470588
facelect     79.411765
cne          91.176471
interno      97.058824
Length: 38, dtype: float64

In [338]:
# Información del DataFrame

df_tipodoc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   codigo      34 non-null     object
 1   consec      33 non-null     float64
 2   nombre      34 non-null     object
 3   clasedoc    34 non-null     object
 4   resoldian   8 non-null      object
 5   fechresol   9 non-null      object
 6   desde       9 non-null      object
 7   hasta       9 non-null      object
 8   encabe1     6 non-null      object
 9   encabe2     6 non-null      object
 10  encabe3     6 non-null      object
 11  encabe4     6 non-null      object
 12  encabe5     6 non-null      object
 13  detpie1     3 non-null      object
 14  detpie2     1 non-null      object
 15  fpago       17 non-null     object
 16  detapie     3 non-null      object
 17  bodega      1 non-null      object
 18  impper      8 non-null      object
 19  inactivo    6 non-null      object
 20  impnom      5 non-null      object
 21  imppos      4 non-null      object
 22  noiva       1 non-null      object
 23  preconiva   2 non-null      object
 24  prefijo     9 non-null      object
 25  efectonulo  1 non-null      object
 26  filealter   1 non-null      object
 27  impridtos   2 non-null      object
 28  pernega     2 non-null      object
 29  bodegaitem  1 non-null      object
 30  docu        1 non-null      object
 31  funtras     1 non-null      object
 32  bodega2     1 non-null      object
 33  turno       3 non-null      float64
 34  vigen       8 non-null      float64
 35  facelect    7 non-null      object
 36  cne         3 non-null      float64
 37  interno     1 non-null      object
dtypes: float64(4), object(34)
memory usage: 10.2+ KB

In [339]:
df_tipodoc.columns

Index(['codigo', 'consec', 'nombre', 'clasedoc', 'resoldian', 'fechresol',
       'desde', 'hasta', 'encabe1', 'encabe2', 'encabe3', 'encabe4', 'encabe5',
       'detpie1', 'detpie2', 'fpago', 'detapie', 'bodega', 'impper',
       'inactivo', 'impnom', 'imppos', 'noiva', 'preconiva', 'prefijo',
       'efectonulo', 'filealter', 'impridtos', 'pernega', 'bodegaitem', 'docu',
       'funtras', 'bodega2', 'turno', 'vigen', 'facelect', 'cne', 'interno'],
      dtype='object')

In [340]:
df_tipodoc = df_tipodoc[['codigo', 'nombre', 'clasedoc','inactivo']]

In [341]:
df_tipodoc['inactivo'] = df_tipodoc['inactivo'].replace(np.nan,False)

In [342]:
df_tipodoc

   codigo                        nombre clasedoc inactivo
0     NS1  AJUSTES X INF DEPRECIACIONES       CC    False
1     CI1                  CIERRE ANUAL       CC    False
2     EG1         COMPROBANTE DE EGRESO       EG    False
3     CO1         CONSIGNACION BANCARIA       CO    False
4     NB1               NOTAS DE BANCOS       CC    False
..    ...                           ...      ...      ...
29    DV3    NOTA CREDITO - ELECTRONICA       DV    False
30    RM1              FACTURA PREVENTA       RM    False
31    FP2  FACTURA ELECTRONICA DE VENTA       FP    False
32    DP2    DEVOLUCION ELECTRONICA PDV       DP    False
33    FP3           CONSTANCIA DE VENTA       FP     True

[34 rows x 4 columns]

In [343]:
df_tipodoc = df_tipodoc.rename(columns = {'codigo':'id_tipodoc','nombre':'n_tipodoc'})

In [344]:
# Análsis de los valores nulos

df_tipodoc.isnull().sum() / len(df_tipodoc) * 100

id_tipodoc    0.0
n_tipodoc     0.0
clasedoc      0.0
inactivo      0.0
dtype: float64

In [345]:
# Dataframe final - Tipo Documentos

df_tipodoc.to_sql('tipodoc', engine, if_exists='replace', index= False)

34

## DataBase Ciudad (df_ciudades)

In [346]:
# Lectura de datos

lectura_df_ciudades = Lectura_Datos(53)

In [353]:
# Backup de los datos

df_ciudades = lectura_df_ciudades

In [354]:
# Comprobación de datos nulos

df_ciudades.isnull().sum() / len(df_ciudades) * 100

codigo          0.0
nombre          0.0
habitantes    100.0
inactiva      100.0
factoflete    100.0
fupdate       100.0
dpto            0.0
dtype: float64

In [355]:
# Información del DataFrame

df_ciudades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   codigo      1119 non-null   object
 1   nombre      1119 non-null   object
 2   habitantes  0 non-null      object
 3   inactiva    0 non-null      object
 4   factoflete  0 non-null      object
 5   fupdate     0 non-null      object
 6   dpto        1119 non-null   object
dtypes: object(7)
memory usage: 61.3+ KB

In [356]:
df_ciudades.columns = df_ciudades.columns.str.lower()

In [357]:
df_ciudades = df_ciudades[['codigo','nombre']]

In [351]:
df_ciudades = df_ciudades.rename(columns = {'codigo':'id_ciudad','nombre':'n_ciudad'})

In [358]:
# Análsis de los valores nulos

df_ciudades.isnull().sum() / len(df_ciudades) * 100

codigo    0.0
nombre    0.0
dtype: float64

In [359]:
# Dataframe final - Ciudades

df_ciudades.to_sql('ciudad', engine, if_exists='replace', index= False)

119

## DataBase Departamentos (df_dpto)

In [360]:
# Lectura de datos

lectura_df_dpto = Lectura_Datos(47)

In [361]:
# Backup de los datos

df_dpto = lectura_df_dpto

In [362]:
# Comprobación de datos nulos

df_dpto.isnull().sum() / len(df_dpto) * 100

CODIGO        0.0
NOMBRE        0.0
INACTIVO    100.0
PAIS          0.0
dtype: float64

In [363]:
df_dpto.columns = df_dpto.columns.str.lower()

In [364]:
# Información del DataFrame

df_dpto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   codigo    33 non-null     object
 1   nombre    33 non-null     object
 2   inactivo  0 non-null      object
 3   pais      33 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

In [365]:
df_dpto = df_dpto[['codigo','nombre']]

In [366]:
df_dpto = df_dpto.rename(columns = {'codigo':'id_dpto','nombre':'n_dpto'})

In [367]:
# Análsis de los valores nulos

df_dpto.isnull().sum() / len(df_dpto) * 100

id_dpto    0.0
n_dpto     0.0
dtype: float64

In [368]:
# Dataframe final - Departamentos

df_dpto.to_sql('dpto', engine, if_exists='replace', index= False)

33

## DataBase Cuentas (df_pctas)

In [369]:
# Lectura de datos

lectura_df_pctas = Lectura_Datos(29)

In [370]:
# Backup de los datos

df_pctas = lectura_df_pctas

In [371]:
# Información del DataFrame

df_pctas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2716 entries, 0 to 2715
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO      2716 non-null   object
 1   NOMBRE      2716 non-null   object
 2   NAT         2716 non-null   object
 3   REQTER      2684 non-null   object
 4   REQCCO      2684 non-null   object
 5   REQDOCR     2684 non-null   object
 6   REQARTR     2684 non-null   object
 7   PORINC      0 non-null      object
 8   RECIPROCA   172 non-null    object
 9   CORRIENTE   172 non-null    object
 10  VALIDASALD  172 non-null    object
 11  CODMM       2716 non-null   object
 12  INTERES     172 non-null    object
 13  CCOSTO      2716 non-null   object
 14  SCCOSTO     2716 non-null   object
 15  CODDIAN     2716 non-null   object
 16  FORMDIAN    2716 non-null   object
 17  NIIF        2716 non-null   object
dtypes: object(18)
memory usage: 382.1+ KB

In [372]:
df_pctas.columns = df_pctas.columns.str.lower()

In [373]:
df_pctas = df_pctas[['codigo','nombre']]

In [374]:
df_pctas = df_pctas.rename(columns = {'codigo':'id_cuenta','nombre':'n_cuenta'})

In [375]:
# Análsis de los valores nulos

df_pctas.isnull().sum() / len(df_pctas) * 100

id_cuenta    0.0
n_cuenta     0.0
dtype: float64

In [376]:
# Dataframe final - Pctas

df_pctas.to_sql('pctas', engine, if_exists='replace', index= False)

716

## DataBase Formas de Pago (df_fpago)

In [377]:
# Lectura de datos

lectura_df_fpago = Lectura_Datos(48)

In [378]:
# Backup de los datos

df_fpago = lectura_df_fpago

In [379]:
# Comprobación de datos nulos

df_fpago.isnull().sum() / len(df_fpago) * 100

CODIGO          0.000000
DETALLE         0.000000
CUENTA          0.000000
TIPO            0.000000
ENCOMPEGR       8.333333
                 ...
COBINTERES    100.000000
NIVEL         100.000000
NCUENTAB        0.000000
INTERESES     100.000000
TIPO2           0.000000
Length: 35, dtype: float64

In [380]:
df_fpago.columns = df_fpago.columns.str.lower()

In [381]:
# Información del DataFrame

df_fpago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   codigo      12 non-null     object
 1   detalle     12 non-null     object
 2   cuenta      12 non-null     object
 3   tipo        12 non-null     object
 4   encompegr   11 non-null     object
 5   enrbopag    11 non-null     object
 6   enfaventa   11 non-null     object
 7   enfacompra  8 non-null      object
 8   cheque      4 non-null      object
 9   enencon     0 non-null      object
 10  enfapos     9 non-null      object
 11  comitar     0 non-null      object
 12  consecche   0 non-null      object
 13  escaja      1 non-null      object
 14  estardb     0 non-null      object
 15  estarcr     0 non-null      object
 16  esbanco     3 non-null      object
 17  ctacomiban  12 non-null     object
 18  cobpoliza   0 non-null      object
 19  ctapoliza   12 non-null     object
 20  pmespoliza  0 non-null      object
 21  banco       12 non-null     object
 22  conretivab  0 non-null      object
 23  escxc       0 non-null      object
 24  escxp       0 non-null      object
 25  esanticic   0 non-null      object
 26  esanticip   0 non-null      object
 27  pidelincre  0 non-null      object
 28  fupdate     0 non-null      object
 29  tippago     12 non-null     object
 30  cobinteres  0 non-null      object
 31  nivel       0 non-null      object
 32  ncuentab    12 non-null     object
 33  intereses   0 non-null      object
 34  tipo2       12 non-null     object
dtypes: object(35)
memory usage: 3.4+ KB

In [ ]:
df_fpago = df_fpago[['codigo','detalle]]

In [382]:
df_fpago = df_fpago.rename(columns = {'codigo':'id_fpago','detalle':'n_fpago'})

In [383]:
# Análsis de los valores nulos

df_fpago.isnull().sum() / len(df_fpago) * 100

id_fpago        0.000000
n_fpago         0.000000
cuenta          0.000000
tipo            0.000000
encompegr       8.333333
                 ...
cobinteres    100.000000
nivel         100.000000
ncuentab        0.000000
intereses     100.000000
tipo2           0.000000
Length: 35, dtype: float64

In [384]:
# Dataframe final - Fpago

df_fpago.to_sql('fpago', engine, if_exists='replace', index= False)

12

## DataBase Documentos (df_documentos)

In [403]:
lectura_df_documentos = Lectura_Datos(0)

In [426]:
df_documentos = lectura_df_documentos

In [427]:
## Eliminar columnas con valores 100% nulos

df_documentos = Limpieza_de_Datos_Nulos(df_documentos,0)

In [428]:
## Editar columnas antes de verificar formatos

df_documentos = Modificacion_Columnas(df_documentos)

In [429]:
df_documentos.columns = df_documentos.columns.str.lower()

In [430]:
## Iformación de columnas

df_documentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312650 entries, 0 to 312649
Data columns (total 47 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fact        312650 non-null  object
 1   id_fact     312650 non-null  object
 2   n_fact      312650 non-null  object
 3   fecha       312650 non-null  object
 4   afecta      6701 non-null    object
 5   plazo       298580 non-null  float64
 6   anulado     312650 non-null  object
 7   detalle     304770 non-null  object
 8   tercero1    310436 non-null  object
 9   tercero2    297503 non-null  object
 10  fpago       295785 non-null  object
 11  ctafpago    310457 non-null  object
 12  tpago       302453 non-null  object
 13  bodega1     205 non-null     object
 14  bodega2     929 non-null     object
 15  chequeno    606 non-null     object
 16  fecheque    24304 non-null   object
 17  vrefec      7598 non-null    float64
 18  vrcheque    7598 non-null    float64
 19  saldo       63559 non-null   float64
 20  vrtotal     311638 non-null  float64
 21  fechaven    308320 non-null  object
 22  pdtocond    28393 non-null   float64
 23  usuario     312650 non-null  object
 24  numexterno  6316 non-null    object
 25  vrfpago     310458 non-null  float64
 26  fechar      312650 non-null  datetime64[ns]
 27  modifica    270187 non-null  object
 28  ufechpag    8432 non-null    object
 29  vrcomi      23368 non-null   float64
 30  estacion    300134 non-null  object
 31  numimp      272937 non-null  float64
 32  tasatrm     28344 non-null   float64
 33  horas1      294469 non-null  datetime64[ns]
 34  vrotraf     5025 non-null    float64
 35  pdtoc2      23319 non-null   float64
 36  marcaseg    312650 non-null  object
 37  pc          312650 non-null  object
 38  detalle1    146 non-null     object
 39  valofer     919 non-null     float64
 40  tiempoe     919 non-null     float64
 41  ciudad      901 non-null     object
 42  facelect    26218 non-null   object
 43  modpago     32604 non-null   object
 44  cufe        25993 non-null   object
 45  motivonc    406 non-null     object
 46  tipocufe    25993 non-null   object
dtypes: datetime64[ns](2), float64(14), object(31)
memory usage: 112.1+ MB

In [431]:
#Cambio formato columna FECHA a datetime

reemplazos = {
    '13/31/2017': '12/31/2017',
    '13/31/2018': '12/31/2018',
    '13/31/2019': '12/31/2019',
    '13/31/2020': '12/31/2020',
    '13/31/2021': '12/31/2021',
    '13/31/2022': '12/31/2022',
    '13/31/2023': '12/31/2023',
    '13/31/2024': '12/31/2024'
}

df_documentos['fecha'] = df_documentos['fecha'].replace(reemplazos)

df_documentos['fecha'] = pd.to_datetime(df_documentos['fecha'], errors='coerce')

In [432]:
# Cambio columna Anulado a Booleano

df_documentos['anulado'] = df_documentos['anulado'].astype('bool')

In [433]:
#Cambio formato columna FECHAR a datetime

df_documentos['fechar'] = pd.to_datetime(df_documentos['fechar'], errors='coerce')

In [434]:
#Cambio de nombre columna terceros

df_documentos = df_documentos.rename(columns = {'tercero1':'id_tercero','tercero2':'id_emisor'})

In [435]:
#Análisis valores nulos 

df_documentos.isnull().sum() / len(df_documentos) * 100

fact         0.000000
id_fact      0.000000
n_fact       0.000000
fecha        0.001279
afecta      97.856709
              ...
facelect    91.614265
modpago     89.571726
cufe        91.686231
motivonc    99.870142
tipocufe    91.686231
Length: 47, dtype: float64

In [436]:
# Reemplazo valores nulos

df_documentos['afecta'] = df_documentos['afecta'].replace(np.nan,'NO')
df_documentos['plazo'] = df_documentos['plazo'].replace(np.nan,0)
df_documentos['anulado'] = df_documentos['anulado'].fillna(False)
df_documentos = df_documentos.dropna(subset=['fecha'])

In [437]:
df_documentos['tiempo'] = df_documentos['fechar'].dt.time

In [438]:
df_documentos['fecha'] = df_documentos['fecha'].astype(str)
df_documentos['tiempo'] = df_documentos['tiempo'].astype(str)

In [439]:
df_documentos['tiempo'] = df_documentos['tiempo'].apply(lambda x: x if '.' in x else x + '.000000')

In [440]:
df_documentos['fecha_tiempo'] = df_documentos['fecha'] + ' ' + df_documentos['tiempo']

In [441]:
df_documentos['fecha_tiempo'] = pd.to_datetime(df_documentos['fecha_tiempo'])

In [442]:
df_documentos.columns

Index(['fact', 'id_fact', 'n_fact', 'fecha', 'afecta', 'plazo', 'anulado',
       'detalle', 'id_tercero', 'id_emisor', 'fpago', 'ctafpago', 'tpago',
       'bodega1', 'bodega2', 'chequeno', 'fecheque', 'vrefec', 'vrcheque',
       'saldo', 'vrtotal', 'fechaven', 'pdtocond', 'usuario', 'numexterno',
       'vrfpago', 'fechar', 'modifica', 'ufechpag', 'vrcomi', 'estacion',
       'numimp', 'tasatrm', 'horas1', 'vrotraf', 'pdtoc2', 'marcaseg', 'pc',
       'detalle1', 'valofer', 'tiempoe', 'ciudad', 'facelect', 'modpago',
       'cufe', 'motivonc', 'tipocufe', 'tiempo', 'fecha_tiempo'],
      dtype='object')

In [443]:
# Descartar columnas redundantes 

df_documentos = df_documentos[['fact', 'id_fact', 'n_fact', 'fecha_tiempo', 'afecta', 'plazo', 'anulado','detalle', 
                               'id_tercero', 'id_emisor', 'fpago',  'bodega1', 'bodega2', 'saldo', 'vrtotal', 'pc']]

In [444]:
# Revisión Valores Nulos Columna Detalle

mask_ID_nulo = (df_documentos['detalle'].isnull())

In [445]:
df_documentos[mask_ID_nulo]

,fact,id_fact,n_fact,fecha_tiempo,afecta,plazo,anulado,detalle,id_tercero,id_emisor,fpago,bodega1,bodega2,saldo,vrtotal,pc
13,FP1-0000000019,FP1,0000000019,2017-08-03 09:54:26.999,NO,0.0,False,NaN,1,57442217,001,NaN,NaN,-14492.0,23000.00,ELECTROCARIBE4
17,FP1-0000000026,FP1,0000000026,2017-08-03 10:38:54.999,NO,0.0,False,NaN,NaN,1004376809,001,NaN,NaN,-134.0,400.00,ELECTROCARIBE2
22,FP1-0000000031,FP1,0000000031,2017-08-03 11:23:11.999,NO,0.0,False,NaN,NaN,88278044,001,NaN,NaN,-8656.0,14400.00,ELECTROCARIBE2
28,FP1-0000000037,FP1,0000000037,2017-08-03 11:57:33.999,NO,0.0,True,NaN,14215664,7144422,001,NaN,NaN,0.0,630.00,ELECTROCARIBE4
40,FP1-0000000052,FP1,0000000052,2017-08-03 14:01:25.999,NO,0.0,False,NaN,NaN,88278044,001,NaN,NaN,-1858.0,3200.00,ELECTROCARIBE4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312404,NI1-0000000408,NI1,0000000408,2024-11-29 17:00:57.999,NO,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78806.34,ROSA
312407,NI1-0000000409,NI1,0000000409,2024-11-29 17:09:18.000,NO,0.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20491.84,ROSA
312456,DP2-0000000219,DP2,0000000219,2024-11-30 10:39:01.000,FP20000009362,0.0,False,NaN,16643683,88278044,001,NaN,NaN,NaN,49500.00,SERVIDOR
312496,DP2-0000000220,DP2,0000000220,2024-11-30 12:06:16.000,FP20000009547,0.0,False,NaN,222222222222,88278044,001,NaN,NaN,NaN,48150.00,ROSA
312542,DP2-0000000221,DP2,0000000221,2024-11-30 14:16:06.999,FP20000009555,0.0,False,NaN,57435266,819000156,001,NaN,NaN,NaN,36000.00,SERVIDOR

In [446]:
for i, row in df_documentos.iterrows():
    if row['id_fact'] in (['EG1', 'CC1', 'NS2', 'NM1', 'CG1', 'RC1', 'NB1', 'FC1','NI1','NT1']) and pd.isnull((row['id_tercero'])):
        df_documentos.at[i,'id_tercero'] = '819000156'

In [448]:
# Revisión Valores Nulos Columna Detalle 

# Si es factura y ID NULO, asignar valor 222222222222

for i, row in df_documentos.iterrows():
    if row['id_fact'] in (['FP1', 'FP2', 'FP3','FV1', 'FV2', 'FV3', 'FV4','DP1','DP2','DV1','DV2','DV3','PP1','CT1']) and pd.isnull((row['id_tercero'])):
        df_documentos.at[i,'id_tercero'] = '222222222222'
        df_documentos.at[i,'detalle'] = 'CONSUMIDOR FINAL'
        
# Si es factura, ID igual a 1 y detalle NULO, asignar Consumidor Final
for i, row in df_documentos.iterrows():
    if row['id_fact'] in (['FP1', 'FP2','FP3', 'FV1', 'FV2', 'FV3', 'FV4','DP1','DP2','DV1','DV2','DV3','PP1','CT1']):
        if row['id_tercero'] == '222222222222':
            df_documentos.at[i,'detalle'] = 'CONSUMIDOR FINAL'
            
        elif row['id_tercero'] == '1' or row['id_tercero'] == 1:
            df_documentos.at[i,'id_tercero'] = '222222222222'
            df_documentos.at[i,'detalle'] = 'CONSUMIDOR FINAL'

In [449]:
# Aseguramos que los ID_TERCEROS estén limpios

df_documentos = df_documentos[~df_documentos['id_tercero'].str.contains(r'[^a-zA-Z0-9]', regex=True)]

In [450]:
query_terceros = "SELECT * FROM tercero;"
df_terceros = pd.read_sql_query(query_terceros, engine)

In [451]:
# Buscamos clientes que tienen NIT pero no tienen Nombre

df_terceros_d = df_terceros[['id_tercero','n_completo']]

In [452]:
# Juntar dataframes para ver nombre de clientes

df_documentos = df_documentos.merge(df_terceros_d, on='id_tercero', how='left')

In [453]:
# Asignar nombre del clientes a aquellos valores que coincidan en el merge y no tengan valor NULO

for i, row in df_documentos.iterrows():
    if row['id_fact'] in (['FP1', 'FP2', 'FV1','FP3', 'FV2', 'FV3', 'FV4','DP1','DP2','DV1','DV2','DV3','RC1','EG1','FC1','DC1','PP1']) and pd.notnull(row['n_completo']):
        df_documentos.at[i,'detalle'] = df_documentos.at[i,'n_completo']

In [454]:
# Como ya no podemos saber el nombre cliente, procedemos a convertirnos en Clientes Varios

# Di es factura, y tiene detalle NULO, asignar a Clientes Varios

for i, row in df_documentos.iterrows():
    if row['id_fact'] in (['FP1', 'FP2','FP3' 'FV1', 'FV2', 'FV3', 'FV4','DP1','DP2','DV1','DV2','DV3','RM1','PP1','CT1']) and pd.isnull(row['n_completo']):
        df_documentos.at[i,'detalle'] = 'CONSUMIDOR FINAL'
        df_documentos.at[i,'id_tercero'] = '222222222222'

In [455]:
# Revisión Valores Nulos Columna Detalle

df_documentos['id_fact'].loc[df_documentos['detalle'].isnull()].value_counts()

id_fact
NI1    216
NT1     65
RM1     49
CC1      1
CT1      1
Name: count, dtype: int64

In [457]:
# Revisión Valores Nulos Columna Detalle - Recibo de Caja

mask__nulo_rc1 = ((df_documentos['detalle'].isnull()) & (df_documentos['id_fact'] == 'NI1'))

In [458]:
df_documentos[mask__nulo_rc1]

,fact,id_fact,n_fact,fecha_tiempo,afecta,plazo,anulado,detalle,id_tercero,id_emisor,fpago,bodega1,bodega2,saldo,vrtotal,pc,n_completo
28826,NI1-0000000002,NI1,0000000002,2017-07-31 08:25:50.000,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,18031663.78,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
28827,NI1-0000000004,NI1,0000000004,2017-07-31 08:26:59.999,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,4247899.70,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
28828,NI1-0000000005,NI1,0000000005,2017-07-31 08:27:44.999,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,27359241.47,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
28829,NI1-0000000006,NI1,0000000006,2017-07-31 08:28:16.999,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,6937568.22,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
28830,NI1-0000000008,NI1,0000000008,2017-07-31 08:29:13.000,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,12694132.92,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305092,NI1-0000000390,NI1,0000000390,2024-09-21 10:15:04.999,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,529410.00,ROSA,ALMACEN ELECTROCARIBE LIMITADA
311006,NI1-0000000406,NI1,0000000406,2024-11-19 16:19:35.000,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,-1898923.06,ROSA,ALMACEN ELECTROCARIBE LIMITADA
311112,NI1-0000000407,NI1,0000000407,2024-11-20 13:38:02.999,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,-8338944.00,ROSA,ALMACEN ELECTROCARIBE LIMITADA
312313,NI1-0000000408,NI1,0000000408,2024-11-29 17:00:57.999,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,78806.34,ROSA,ALMACEN ELECTROCARIBE LIMITADA
312316,NI1-0000000409,NI1,0000000409,2024-11-29 17:09:18.000,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,-20491.84,ROSA,ALMACEN ELECTROCARIBE LIMITADA

In [459]:
df_documentos = df_documentos.drop(columns=['n_completo'])

In [460]:
for i, row in df_documentos.iterrows():
    if row['id_fact'] in (['NI1', 'NT1']):
        df_documentos.at[i,'detalle'] = '819000156'
        df_documentos.at[i,'id_tercero'] = '819000156'

In [461]:
df_documentos = df_documentos.dropna(subset=['detalle'])

In [462]:
# Revisión de datos NULOS 

df_documentos.isnull().sum() / len(df_documentos) * 100

fact             0.000000
id_fact          0.000000
n_fact           0.000000
fecha_tiempo     0.000000
afecta           0.000000
plazo            0.000000
anulado          0.000000
detalle          0.000000
id_tercero       0.000000
id_emisor        4.845316
fpago            5.393462
bodega1         99.934402
bodega2         99.718407
saldo           79.682440
vrtotal          0.323832
pc               0.000000
dtype: float64

In [463]:
# Revisión ID Terceros Nulos

mask_idterceros_nulo = (df_documentos['id_tercero'].isna())

In [464]:
# Asignación de Pendiente porque deben ser cruzados con movimientos contables 

df_documentos.loc[mask_idterceros_nulo,'id_tercero'] = 'PENDIENTE'

In [465]:
#Revisión de TERCERO 2

mask_tercero2_nulo = (df_documentos['id_emisor'].isnull())

In [466]:
# Asignación a Electrocaribe como tercero que ejecutó documeto

df_documentos.loc[mask_tercero2_nulo,'id_emisor'] = '819000156'

In [467]:
# Revisión de formas de pago

mask_fpago_nulo = (df_documentos['fpago'].isna())

In [468]:
# Asignación forma de pago efectivo a valores NULOS

df_documentos.loc[mask_fpago_nulo,'fpago'] = '001'

In [469]:
# Cambio valor nulo a código Bodega principal

df_documentos[['bodega1','bodega2']] = df_documentos[['bodega1','bodega2']].fillna('001')

In [470]:
# Cambio valores Nulos a 0

df_documentos[['saldo','vrtotal']] = df_documentos[['saldo','vrtotal']].fillna(0.0)

In [471]:
# Dataframe final - DOCUMENT

df_documentos.to_sql('document', engine, if_exists='replace', index= False)

508

## DataBase Gastos

In [385]:
dataframes = []

for key, file_path in dbf_path_2.items():
    
    file_name = file_path.split('/')[-1].split('.')[0]
    table = DBF("//"+file_path, encoding='latin1')
    df = pd.DataFrame(iter(table))
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True)

C:\Users\casan\AppData\Local\Temp\ipykernel_9204\4013906366.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(dataframes, ignore_index=True)

In [386]:
# Eliminación de columnas con valores totalmente nulos

combined_df = Limpieza_de_Datos_Nulos(combined_df,0)

In [387]:
# Cambio de columnas tipo de factura y número

combined_df = Modificacion_Columnas(combined_df)

In [389]:
combined_df.columns = combined_df.columns.str.lower()

In [390]:
combined_df = combined_df.rename(columns = {'codpuc':'id_cuenta'})

In [391]:
df_gastos = combined_df[combined_df['id_fact'].isin(['CC1', 'CG1', 'EG1'])]

In [392]:
cuentas = pd.Series(df_gastos['id_cuenta'].unique()).sort_values()
lista_con_51 = [code for code in cuentas if code.startswith('51')]
df_gastos = df_gastos[df_gastos['id_cuenta'].isin(lista_con_51)]
df_gastos = df_gastos[df_gastos['id_cuenta'] != '519595001']

In [393]:
df_gastos = df_gastos.merge(df_pctas, on= 'id_cuenta', how = 'left')

In [394]:
column_data = df_gastos.pop('n_cuenta')
df_gastos.insert(4, 'n_cuenta', column_data)

In [395]:
df_gastos['n_cuenta'].unique()

array(['Casino y restaurante', 'Energía eléctrica',
       'Útiles, papelería y fotocopias', 'Combustibles y lubricantes',
       'Elementos de aseo y cafetería', 'Asesoría Contable',
       'Local 109--114-115',
       'Gastos de representación y relaciones públicas',
       'Publicidad, propaganda y promocion', 'Acueducto y alcantarillado',
       'Teléfono', 'Sueldos', 'Auxilio de transporte', 'Comisiones',
       'Cesantías', 'Intereses sobre cesantías', 'Prima de servicios',
       'Vacaciones', 'Aportes a fondos de pensiones y/o cesantías',
       'Aportes cajas de compensación familiar',
       'Aportes a administradoras de riesgos profesionales, ARP',
       'Local 112-113-121', 'Dotación y suministro a trabajadores',
       'Incapacidades', 'Libros, suscripciones, periódicos y revistas',
       'Construcciones y edificaciones', 'Envases y empaques', 'Incendio',
       'Aportes a entidades promotoras de salud, EPS',
       'Trámites y licencias', 'Maquinaria y equipo',
       'Equipo de computación y comunicación', 'Reparaciones locativas',
       'Equipo de oficina', 'Instalacion y mantenimiento', 'Otros',
       'Registro mercantil', 'Afiliaciones y sostenimiento', 'Gas',
       'Seguros', 'Aseo y vigilancia',
       'Indemnización por daños a terceros', 'Temporales',
       'A la propiedad raíz', 'Asesoría técnica', 'Asesorias Contable',
       'Acueductos, plantas y redes', 'Asistencia técnica',
       'Gastos médicos y drogas', 'Pensiones de jubilación',
       'Transporte, fletes y acarreos', 'Capacitación al personal',
       'Industria y comercio'], dtype=object)

In [396]:
df_gastos['es_duplicado'] = df_gastos['fact'].duplicated()

In [397]:
df_gastos.columns

Index(['fact', 'id_fact', 'n_fact', 'id_cuenta', 'n_cuenta', 'tercero',
       'detalle', 'docrela', 'artrela', 'artcant', 'debito', 'credito', 'item',
       'cuota', 'auto', 'ref2', 'concilia', 'base', 'lote', 'base2', 'nodeduc',
       'oti', 'es_duplicado'],
      dtype='object')

In [398]:
df_gastos = df_gastos[['fact', 'id_fact', 'n_fact','id_cuenta', 'n_cuenta', 'tercero',
'detalle','debito', 'es_duplicado']]

In [399]:
Nomina_Ctas = ['Sueldos', 'Auxilio de transporte', 'Comisiones', 'Cesantías','Intereses sobre cesantías', 'Prima de servicios', 'Vacaciones',
       'Aportes a fondos de pensiones y/o cesantías','Aportes cajas de compensación familiar','Aportes a administradoras de riesgos profesionales, ARP',
       'Incapacidades', 'Construcciones y edificaciones','Aportes a entidades promotoras de salud, EPS']

In [400]:
for i, row in df_gastos.iterrows(): 
    if row['n_cuenta'] in (Nomina_Ctas):
        df_gastos.at[i,'n_cuenta'] = 'Nomina'

In [401]:
df_gastos = df_gastos.groupby(['fact', 'id_fact', 'n_fact','id_cuenta', 'n_cuenta', 'tercero','detalle'])['debito'].sum().reset_index()

In [402]:
df_gastos.to_sql('gastos', engine, if_exists='replace', index= False)

37