# Lectura de Datos

In [1]:
from dbfread import DBF
import pandas as pd
import numpy as np
import os
import sys
from bs4 import BeautifulSoup
import requests
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import pdfkit
import seaborn as sns

In [303]:
engine = create_engine('postgresql+psycopg2://postgres:xxxxx@localhost:5432/Almacen_Electrocaribe')

In [3]:
linea_1 = []
linea_2 = []
Consecutivo_1 = []
Consecutivo_2 = []

lineas_1 = pd.read_csv('C:/Users/casan/OneDrive/Almacen Electrocaribe/Routes.txt',header = None)
lineas_2 = pd.read_csv('C:/Users/casan/OneDrive/Almacen Electrocaribe/Routes - IT.txt',header = None)

for i in lineas_1[0]:
    linea_1.append(i)


for x in range(len(lineas_1[0])):
    Consecutivo_1.append(x)

for i in lineas_2[0]:
    linea_2.append(i)
for x in range(len(lineas_2[0])):
    Consecutivo_2.append(x)
    
dbf_path_1 = dict(zip(Consecutivo_1, linea_1))

for key, value in dbf_path_1.items():
    dbf_path_1[key] = value.strip()

dbf_path_2 = dict(zip(Consecutivo_2, linea_2))

for key, value in dbf_path_2.items():
    dbf_path_2[key] = value.strip()

In [4]:
linea = []
Consecutivo = []

lineas = pd.read_csv('C:/Users/casan/OneDrive/Almacen Electrocaribe/Routes - IT.txt',header = None)

for i in lineas[0]:
    linea.append(i)
for x in range(len(lineas[0])):
    Consecutivo.append(x)

dbf_path_2 = dict(zip(Consecutivo, linea))

for key, value in dbf_path_2.items():
    dbf_path_2[key] = value.strip()

In [5]:
dbf_path_1

{0: '192.168.0.2/gestion/Datos/ELECTROC/Contab/DOCUMENT.DBF',
 1: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITFAVEN.DBF',
 2: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITFACOM.DBF',
 3: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITTRAINV.DBF',
 4: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITNOTINV.DBF',
 5: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITDEVVEN.DBF',
 6: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITDEVCOM.DBF',
 7: '192.168.0.2/gestion/Datos/ELECTROC/Contab/VENDEDOR.DBF',
 8: '192.168.0.2/gestion/Datos/ELECTROC/Contab/SUBGRUPO.DBF',
 9: '192.168.0.2/gestion/Datos/ELECTROC/Contab/GRUPO.DBF',
 10: '192.168.0.2/gestion/Datos/ELECTROC/Contab/MARCA.DBF',
 11: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ARTICULO.DBF',
 12: '192.168.0.2/gestion/Datos/ELECTROC/Contab/TERCERO.DBF',
 13: '192.168.0.2/gestion/Datos/ELECTROC/Contab/TERREFIS.DBF',
 14: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Tercero2.DBF',
 15: '192.168.0.2/gestion/Datos/ELECTROC/Contab/TarIva.DBF',
 16: '192.168.0.2/gestion/Datos/ELECTROC/Contab/VENDEDOR.DBF',
 17: '192.168.0.2/gestion/Datos/ELECTROC/Contab/TipoDoc.DBF',
 18: '192.168.0.2/gestion/Datos/ELECTROC/Contab/PERIODOS.DBF',
 19: '192.168.0.2/gestion/Datos/ELECTROC/Contab/stockbod.DBF',
 20: '192.168.0.2/gestion/Datos/ELECTROC/Contab/STERCE.DBF',
 21: '192.168.0.2/gestion/Datos/ELECTROC/Contab/SDOCRELA.DBF',
 22: '192.168.0.2/gestion/Datos/ELECTROC/Contab/SCTASC.DBF',
 23: '192.168.0.2/gestion/Datos/ELECTROC/Contab/SCTAS.DBF',
 24: '192.168.0.2/gestion/Datos/ELECTROC/Contab/SARTRELA.DBF',
 25: '192.168.0.2/gestion/Datos/ELECTROC/Contab/SARTBOD.DBF',
 26: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ProvArt.DBF',
 27: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Prestamo.DBF',
 28: '192.168.0.2/gestion/Datos/ELECTROC/Contab/PLANILLA.DBF',
 29: '192.168.0.2/gestion/Datos/ELECTROC/Contab/PLACTAS.DBF',
 30: '192.168.0.2/gestion/Datos/ELECTROC/Contab/PERIODOS.DBF',
 31: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Parapla.DBF',
 32: '192.168.0.2/gestion/Datos/ELECTROC/Contab/PAC.DBF',
 33: '192.168.0.2/gestion/Datos/ELECTROC/Contab/MedPago.DBF',
 34: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Log.DBF',
 35: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Linea.DBF',
 36: '192.168.0.2/gestion/Datos/ELECTROC/Contab/LinCre.DBF',
 37: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ItSep.DBF',
 38: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITREMISI.DBF',
 39: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITPED.DBF',
 40: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITOTI.DBF',
 41: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITORCOM.DBF',
 42: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Items.DBF',
 43: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITDOC3.DBF',
 44: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITDOC2.DBF',
 45: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ITCOTI.DBF',
 46: '192.168.0.2/gestion/Datos/ELECTROC/Contab/empresa.DBF',
 47: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Dpto.DBF',
 48: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Fpago.DBF',
 49: '192.168.0.2/gestion/Datos/ELECTROC/Contab/FactuIt.DBF',
 50: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Contrato.DBF',
 51: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Concepto.DBF',
 52: '192.168.0.2/gestion/Datos/ELECTROC/Contab/concepnom.DBF',
 53: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Ciudad.DBF',
 54: '192.168.0.2/gestion/Datos/ELECTROC/Contab/Ctas.DBF',
 55: '192.168.0.2/gestion/Datos/ELECTROC/Contab/CTARETE.DBF',
 56: '192.168.0.2/gestion/Datos/ELECTROC/Contab/CRUZERF.DBF',
 57: '192.168.0.2/gestion/Datos/ELECTROC/Contab/ANEXO.DBF'}

In [6]:
pd.set_option('display.max_rows',20)
pd.set_option('display.max_columns', None)

# Establece la opción para optar por el nuevo comportamiento
pd.set_option('future.no_silent_downcasting', True)

# Funciones

In [7]:
def Lectura_Datos(x):
    if x == 'm':
        dataframes = []

        for key, file_path in dbf_path_2.items():
        
            table = DBF("//"+file_path, encoding='latin1')
            x = pd.DataFrame(iter(table))
            dataframes.append(x)
        
        x = pd.concat(dataframes, ignore_index=True)
    else:
        table = DBF("//"+dbf_path_1[x], encoding='latin1')
        x = pd.DataFrame(iter(table))

    return x

In [8]:
def Limpieza_de_Datos_Nulos(x,c):
    
    # Cambiar valor nan a False
    if 'ANULADO' in x.columns:
        x['ANULADO'] = x['ANULADO'].fillna(False)
    
    #Reemplzar celas en blanco por valores nulos
    x = x.replace('',np.nan)
   
    #Limpieza 
    
    porcentaje_nulos = (x.isnull().sum() / len(x)) * 100

    if c == 0:
        columnas_eliminar = porcentaje_nulos[porcentaje_nulos == 100].index.tolist()
    else:
        columnas_eliminar = porcentaje_nulos[porcentaje_nulos > 99].index.tolist()
        
    x = x.drop(columns=columnas_eliminar)
    
    return x

In [9]:
def Modificacion_Columnas(x):
    # Juntar tipo y número de factura y ponerla en primera posición
    if 'TIPO' in x.columns and 'NUMERO' in x.columns:
        x['FACT'] = x['TIPO'] + "-" + x['NUMERO']
        x = x.rename(columns = {'TIPO':'ID_FACT','NUMERO':'N_FACT'})  
        
    if 'FACT' in x.columns:
        column_data = x.pop('FACT')
        x.insert(0, 'FACT', column_data)

    # Crear columna fecha y ponerla en la segunda posición
    if 'ANO' in x.columns and 'MES' in x.columns and 'DIA' in x.columns:
        x['DIA'] = x['DIA'].astype(str)
        x['MES'] = x['MES'].astype(str)
        x['ANO'] = x['ANO'].astype(str)
        x['FECHA'] = x['MES'] + "/" + x['DIA'] + "/" + x['ANO']
        x = x.drop(columns=['ANO','MES','DIA'])

    if 'FECHA' in x.columns:
        column_data = x.pop('FECHA')
        x.insert(3, 'FECHA', column_data)

    return x

# Limpieza de Datos

## Pasos a realizar para limpiar productos

1. Eliminar columnas con valores 100% nulos
2. Formato de las columnas 
4. Rename columnas
5. Verificar por qué hay valores nulos

## DataBase Marca (df_marca)

In [10]:
# Lectura de datos

lectura_df_marca = Lectura_Datos(10)

In [11]:
# Backup de los datos

df_marca = lectura_df_marca

In [12]:
# Comprobación de datos nulos

df_marca.isnull().sum() / len(df_marca) * 100

CODIGO       0.0
NOMBRE       0.0
OBSERVAC    99.6
dtype: float64

In [13]:
# Eliminación de columnas con valores totalmente nulos

df_marca = Limpieza_de_Datos_Nulos(df_marca,1)

In [14]:
# Información del DataFrame

df_marca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODIGO  250 non-null    object
 1   NOMBRE  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [15]:
df_marca = df_marca.rename(columns = {'CODIGO':'ID_MARCA','NOMBRE':'N_MARCA'})

In [16]:
# Análsis de los valores nulos

df_marca.isnull().sum() / len(df_marca) * 100

ID_MARCA    0.0
N_MARCA     0.0
dtype: float64

In [17]:
# Dataframe final - Marca

df_marca.to_sql('marca', engine, if_exists='replace', index= False)

250

## DataBase Grupo (df_grupo)

In [18]:
# Lectura de datos

lectura_df_grupo = Lectura_Datos(9)

In [19]:
# Backup de los datos

df_grupo = lectura_df_grupo

In [20]:
# Comprobación de datos nulos

df_grupo.isnull().sum() / len(df_grupo) * 100

CODIGO         0.000000
NOMBRE         0.000000
PRECIFIJOS    21.854305
NODESCTOS     21.854305
dtype: float64

In [21]:
# Información del DataFrame

df_grupo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO      151 non-null    object
 1   NOMBRE      151 non-null    object
 2   PRECIFIJOS  118 non-null    object
 3   NODESCTOS   118 non-null    object
dtypes: object(4)
memory usage: 4.8+ KB

In [22]:
df_grupo = df_grupo[['CODIGO','NOMBRE']]

In [23]:
df_grupo = df_grupo.rename(columns = {'CODIGO':'ID_GRUPO','NOMBRE':'N_GRUPO'})

In [24]:
# Análsis de los valores nulos

df_grupo.isnull().sum() / len(df_grupo) * 100

ID_GRUPO    0.0
N_GRUPO     0.0
dtype: float64

In [25]:
# Dataframe final - Grupos

df_grupo.to_sql('grupo', engine, if_exists='replace', index= False)

151

## DataBase Subgrupo (df_subgrupo)

In [26]:
# Lectura de datos

lectura_df_subgrupo = Lectura_Datos(8)

In [27]:
# Backup de los datos

df_subgrupo = lectura_df_subgrupo

In [28]:
# Comprobación de datos nulos

df_subgrupo.isnull().sum() / len(df_subgrupo) * 100

CODIGO    0.0
NOMBRE    0.0
CENTRO    0.0
dtype: float64

In [29]:
# Información del DataFrame

df_subgrupo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODIGO  163 non-null    object
 1   NOMBRE  163 non-null    object
 2   CENTRO  163 non-null    object
dtypes: object(3)
memory usage: 3.9+ KB

In [30]:
df_subgrupo = df_subgrupo[['CODIGO','NOMBRE']]

In [31]:
df_subgrupo = df_subgrupo.rename(columns = {'CODIGO':'ID_SUBGRUPO','NOMBRE':'N_SUBGRUPO'})

In [32]:
# Análsis de los valores nulos

df_subgrupo.isnull().sum() / len(df_subgrupo) * 100

ID_SUBGRUPO    0.0
N_SUBGRUPO     0.0
dtype: float64

In [33]:
# Dataframe final -Subgrupos

df_subgrupo.to_sql('subgrupo', engine, if_exists='replace', index= False)

163

## DataBase Articulos (df_articulos)

In [34]:
# Lectura de datos
lectura_df_articulos = Lectura_Datos(11)

In [35]:
# Backup de los datos
df_articulos = lectura_df_articulos

In [36]:
# Eliminación de columnas con valores totalmente nulos

df_articulos['INACTIVO'] = df_articulos['INACTIVO'].replace(np.nan,False)
df_articulos = Limpieza_de_Datos_Nulos(df_articulos,1)

In [37]:
# Información del DataFrame

df_articulos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10971 entries, 0 to 10970
Data columns (total 67 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   REFERENCIA  10971 non-null  object
 1   LINEA       10970 non-null  object
 2   CODIGO      10732 non-null  object
 3   DETALLE     10970 non-null  object
 4   SUGERIDO    10967 non-null  float64
 5   SUGERIDO2   6467 non-null   float64
 6   SUGERIDO3   6467 non-null   float64
 7   PDESCTO     6468 non-null   float64
 8   MINIMO      6468 non-null   float64
 9   MAXIMO      6468 non-null   float64
 10  INACTIVO    10971 non-null  object
 11  UNIDAD      10848 non-null  object
 12  EXPLOTA     6467 non-null   object
 13  UNIEXPLO    6467 non-null   float64
 14  COSTO       10060 non-null  float64
 15  SALDO       6467 non-null   float64
 16  FACTOCANT   6467 non-null   float64
 17  MARCA       10970 non-null  object
 18  COMISION    6467 non-null   float64
 19  PUTILI      6467 non-null   float64
 20  GRUPO       10917 non-null  object
 21  TARIVA      10970 non-null  object
 22  FACTOCANT2  6467 non-null   float64
 23  SUGERIDOP   10966 non-null  float64
 24  PESO        6467 non-null   float64
 25  DIVIDE      6467 non-null   object
 26  DIVIDE2     6467 non-null   object
 27  DIVIDE3     6467 non-null   object
 28  COMIFIJA    6467 non-null   float64
 29  IPOCON      6467 non-null   float64
 30  PDESCTOF    6533 non-null   float64
 31  PUTI        7796 non-null   float64
 32  PUTIPOS     7798 non-null   float64
 33  UBICA       2526 non-null   object
 34  MAXDTO      10971 non-null  float64
 35  INGRESO     10971 non-null  object
 36  VRDTOCON    6467 non-null   float64
 37  PDESCTO2    6467 non-null   float64
 38  PDESCTO3    6467 non-null   float64
 39  VRDTOCON2   6467 non-null   float64
 40  VRDTOCON3   6467 non-null   float64
 41  PDTOCONTER  6467 non-null   object
 42  SUBGRUPO    7493 non-null   object
 43  DIVIDEL     6467 non-null   object
 44  COSTOP      6467 non-null   float64
 45  SALDOC      6467 non-null   float64
 46  UTICOSTOC   6467 non-null   object
 47  ACTAUTPRE   6470 non-null   object
 48  CONSIGNA    6467 non-null   object
 49  CANTPESO    6467 non-null   object
 50  PESOFACT    6467 non-null   float64
 51  DIVIDEX     6467 non-null   object
 52  PRODKIT     6467 non-null   object
 53  GAEXACPM    6467 non-null   float64
 54  FORMULA     6467 non-null   object
 55  FORMULA1    6469 non-null   object
 56  ALTURA      6467 non-null   float64
 57  ANCHO       6467 non-null   float64
 58  VROTRA      6467 non-null   float64
 59  SEALQUILA   6467 non-null   object
 60  PORDEAU     6467 non-null   float64
 61  DIASPVENCE  6467 non-null   float64
 62  CANTMINVTA  6467 non-null   float64
 63  MAXDTO1     6529 non-null   float64
 64  MAXDTO2     6514 non-null   float64
 65  SERIAL      6467 non-null   object
 66  CANTEMBALA  315 non-null    float64
dtypes: float64(39), object(28)
memory usage: 5.6+ MB

In [38]:
# Organización de las columnas

df_articulos.columns

Index(['REFERENCIA', 'LINEA', 'CODIGO', 'DETALLE', 'SUGERIDO', 'SUGERIDO2',
       'SUGERIDO3', 'PDESCTO', 'MINIMO', 'MAXIMO', 'INACTIVO', 'UNIDAD',
       'EXPLOTA', 'UNIEXPLO', 'COSTO', 'SALDO', 'FACTOCANT', 'MARCA',
       'COMISION', 'PUTILI', 'GRUPO', 'TARIVA', 'FACTOCANT2', 'SUGERIDOP',
       'PESO', 'DIVIDE', 'DIVIDE2', 'DIVIDE3', 'COMIFIJA', 'IPOCON',
       'PDESCTOF', 'PUTI', 'PUTIPOS', 'UBICA', 'MAXDTO', 'INGRESO', 'VRDTOCON',
       'PDESCTO2', 'PDESCTO3', 'VRDTOCON2', 'VRDTOCON3', 'PDTOCONTER',
       'SUBGRUPO', 'DIVIDEL', 'COSTOP', 'SALDOC', 'UTICOSTOC', 'ACTAUTPRE',
       'CONSIGNA', 'CANTPESO', 'PESOFACT', 'DIVIDEX', 'PRODKIT', 'GAEXACPM',
       'FORMULA', 'FORMULA1', 'ALTURA', 'ANCHO', 'VROTRA', 'SEALQUILA',
       'PORDEAU', 'DIASPVENCE', 'CANTMINVTA', 'MAXDTO1', 'MAXDTO2', 'SERIAL',
       'CANTEMBALA'],
      dtype='object')

In [39]:
df_articulos = df_articulos[['REFERENCIA', 'CODIGO', 'DETALLE', 'SUGERIDO', 'INACTIVO', 'UNIDAD',
'COSTO', 'MARCA','GRUPO', 'TARIVA','SUGERIDOP',
'UBICA', 'MAXDTO', 'INGRESO', 'SUBGRUPO']]

In [40]:
df_articulos = df_articulos.rename(columns = {'REFERENCIA':'ID_PRODUCTO','CODIGO':'COD_BAR','DETALLE':'N_PRODUCTO','MARCA':'ID_MARCA','GRUPO':'ID_GRUPO','SUBGRUPO':'ID_SUBGRUPO'})

In [41]:
# Análsis de los valores nulos 

df_articulos.isnull().sum() / len(df_articulos) * 100

ID_PRODUCTO     0.000000
COD_BAR         2.178471
N_PRODUCTO      0.009115
SUGERIDO        0.036460
INACTIVO        0.000000
UNIDAD          1.121138
COSTO           8.303710
ID_MARCA        0.009115
ID_GRUPO        0.492207
TARIVA          0.009115
SUGERIDOP       0.045575
UBICA          76.975663
MAXDTO          0.000000
INGRESO         0.000000
ID_SUBGRUPO    31.701759
dtype: float64

In [42]:
for i, row in df_articulos.iterrows():
    if pd.isnull(row['COD_BAR']):
        df_articulos.at[i,'COD_BAR'] = df_articulos.at[i,'ID_PRODUCTO']

In [43]:
df_articulos.loc[df_articulos[['SUGERIDO','COSTO','SUGERIDOP']].isnull().any(axis=1), ['SUGERIDO', 'COSTO','SUGERIDOP']] = 0

In [44]:
df_articulos.loc[df_articulos['UNIDAD'].isnull(),'UNIDAD'] = 'UND'

In [45]:
df_articulos.loc[df_articulos['UBICA'].isnull(),'UBICA'] = 'NO_ASIGNADA'

In [46]:
df_articulos['ID_GRUPO'] = df_articulos['ID_GRUPO'].fillna('SIN_ASIGNAR')

In [47]:
grupos_converter = pd.read_csv('C:/Users/casan/OneDrive/Almacen Electrocaribe/Group_Converter.csv',header = 0)

In [48]:
grupos_converter = grupos_converter.rename(columns = {'VIEJO':'N_GRUPO'})

In [49]:
grupos_converter = grupos_converter.merge(df_grupo, how = 'left', on = 'N_GRUPO')

In [50]:
grupos_converter = grupos_converter.rename(columns = {'NUEVO':'NV_GRUPO'})

In [51]:
grupos_converter = grupos_converter[['ID_GRUPO','NV_GRUPO']]

In [52]:
df_articulos = df_articulos.merge(grupos_converter, how = 'left', on = 'ID_GRUPO')

In [53]:
df_articulos = df_articulos.merge(df_grupo, how = 'left', on = 'ID_GRUPO')

In [54]:
df_articulos = df_articulos.rename(columns = {'N_GRUPO':'NV_SUBGRUPO'})

In [55]:
# UK12O7H9	FLUORESCENTE
# UK12Q3GA	LED
# HB0S9O2N	NEOFLEX

# UK0V1HGY	CINTAS
# UL0MFG5Q	TUBOS

In [56]:
for i, row in df_articulos.iterrows():
    
    if row['ID_GRUPO'] == 'UK0V1HGY':
        if pd.isnull(row['NV_GRUPO']) and (row['ID_SUBGRUPO'] == 'UK12Q3GA' or row['ID_SUBGRUPO'] == 'HB0S9O2N'):
            df_articulos.at[i,'NV_GRUPO'] = 'ILUMINACIÓN' 

        else:
            df_articulos.at[i,'NV_GRUPO'] = 'CONSUMIBLES'

    elif row['ID_GRUPO'] == 'UL0MFG5Q':
        if pd.isnull(row['NV_GRUPO']) and (row['ID_SUBGRUPO'] == 'UK12Q3GA' or row['ID_SUBGRUPO'] == 'UK12O7H9'):
            df_articulos.at[i,'NV_GRUPO'] = 'ILUMINACIÓN'

        else:
            df_articulos.at[i,'NV_GRUPO'] = 'MATERIALES ELÉCTRICOS'

In [57]:
df_articulos['NV_GRUPO'] = df_articulos['NV_GRUPO'].fillna('SIN_ASIGNAR')

In [58]:
# Dataframe final - Articulos

df_articulos.to_sql('articulos', engine, if_exists='replace', index= False)

971

In [59]:
df_articulos

,ID_PRODUCTO,COD_BAR,N_PRODUCTO,SUGERIDO,INACTIVO,UNIDAD,COSTO,ID_MARCA,ID_GRUPO,TARIVA,SUGERIDOP,UBICA,MAXDTO,INGRESO,ID_SUBGRUPO,NV_GRUPO,NV_SUBGRUPO
0,00002,00002,ABRAZADERA GALVANIZADA 3/8,168.07,False,UND,110.0,UL0W7CLQ,UK0JY9L0,016,200.0,NO_ASIGNADA,10.0,2017-02-17,UK11F2WB,MATERIALES ELÉCTRICOS,ABRAZADERA
1,00003,00003,INTERRUPTOR SENCILLO EMPOTRADO,3529.00,True,UND,0.0,UL0WD886,UK0VJB0D,016,4200.0,NO_ASIGNADA,10.0,2017-02-17,UK12M1C1,DISPOSITIVOS DE CONEXIÓN,INTERRUPTORES
2,00005,00005,INTERRUPTOR DOBLE EMPOTRADO,4370.00,True,UND,0.0,UL0WD886,UK0VJB0D,016,5200.0,NO_ASIGNADA,10.0,2017-02-17,UK12M1C1,DISPOSITIVOS DE CONEXIÓN,INTERRUPTORES
3,00006,00006,INTERRUPTOR TRIPLE EMPOTRADO,5378.00,True,UND,0.0,UL0WD886,UK0VJB0D,016,6400.0,NO_ASIGNADA,10.0,2017-02-17,UK12M1C1,DISPOSITIVOS DE CONEXIÓN,INTERRUPTORES
4,00007,00007,INTERRUPTOR TIMBRE EMPOTRADO,3697.00,True,UND,0.0,UL0WD886,UK0VJB0D,016,4399.0,NO_ASIGNADA,10.0,2017-02-17,UK12M1C1,DISPOSITIVOS DE CONEXIÓN,INTERRUPTORES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10966,11713,7501206657614,"PINZA ELECTRICA 7"" T200-7X",0.00,False,UND,0.0,US0KNGV6,4F0ZJPU8,016,0.0,NO_ASIGNADA,10.0,2024-11-28,NaN,HERRAMIENTAS,PINZAS
10967,11714,7506240693932,"PINZA ELECTRICA 9"" TO-210-9X",0.00,False,UND,0.0,US0KNGV6,4F0ZJPU8,016,0.0,NO_ASIGNADA,10.0,2024-11-28,NaN,HERRAMIENTAS,PINZAS
10968,11715,7501206619001,"PINZA CORTAFRIO 6"" T202-6X",0.00,False,UND,0.0,US0KNGV6,4F0ZJPU8,016,0.0,NO_ASIGNADA,10.0,2024-11-28,NaN,HERRAMIENTAS,PINZAS
10969,11716,7506240608837,LINTERNA RECARGABLE LIRE-145P,0.00,False,UND,0.0,UL0W6H2D,UK0VKCI7,016,0.0,NO_ASIGNADA,10.0,2024-11-28,NaN,HERRAMIENTAS,LINTERNAS
10970,11717,7501206673393750120663,LINTERNA RECARGABLE LILE-11T,0.00,False,UND,0.0,US0KNGV6,UK0VKCI7,016,0.0,NO_ASIGNADA,10.0,2024-11-28,NaN,HERRAMIENTAS,LINTERNAS

## DataBase Terceros (df_terceros)

In [60]:
# Lectura de datos
lectura_df_terceros = Lectura_Datos(12)

In [61]:
# Backup de los datos
df_terceros = lectura_df_terceros

In [62]:
df_terceros['INACTIVO'] = df_terceros['INACTIVO'].replace(np.nan,False)

In [63]:
# Eliminación de columnas con valores totalmente nulos

df_terceros = Limpieza_de_Datos_Nulos(df_terceros,1)

In [64]:
# Información del DataFrame

df_terceros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71601 entries, 0 to 71600
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NIT         71601 non-null  object
 1   NOMBRE      71601 non-null  object
 2   DIR         71598 non-null  object
 3   TEL         71597 non-null  object
 4   EMAIL       4597 non-null   object
 5   CIUDAD      71596 non-null  object
 6   ESCLIENTE   71563 non-null  object
 7   ESPROVEEDO  71234 non-null  object
 8   CUPO        71193 non-null  float64
 9   VENDEDOR    17684 non-null  object
 10  INACTIVO    71601 non-null  object
 11  NOMBREC     853 non-null    object
 12  TELMOVIL    1139 non-null   object
 13  ULTVENTA    69419 non-null  object
 14  REGIMEN     4133 non-null   object
 15  CLASEID     71560 non-null  object
 16  USUARIO     71601 non-null  object
 17  DIGVER      71599 non-null  float64
 18  FECHAR      71601 non-null  object
 19  NOMBRE1     71599 non-null  object
 20  NOMBRE2     6094 non-null   object
 21  APELLIDO1   60510 non-null  object
 22  APELLIDO2   12571 non-null  object
 23  ACTIECON    2008 non-null   object
 24  PAIS        3698 non-null   object
 25  PERJURIDIC  2413 non-null   object
 26  MATMER      4185 non-null   object
dtypes: float64(2), object(25)
memory usage: 14.7+ MB

In [65]:
# Organización de las columnas 

df_terceros.columns

Index(['NIT', 'NOMBRE', 'DIR', 'TEL', 'EMAIL', 'CIUDAD', 'ESCLIENTE',
       'ESPROVEEDO', 'CUPO', 'VENDEDOR', 'INACTIVO', 'NOMBREC', 'TELMOVIL',
       'ULTVENTA', 'REGIMEN', 'CLASEID', 'USUARIO', 'DIGVER', 'FECHAR',
       'NOMBRE1', 'NOMBRE2', 'APELLIDO1', 'APELLIDO2', 'ACTIECON', 'PAIS',
       'PERJURIDIC', 'MATMER'],
      dtype='object')

In [66]:
df_terceros = df_terceros[['NIT', 'NOMBRE','INACTIVO', 'DIR', 'TEL', 'EMAIL', 'CIUDAD', 'ESCLIENTE','ESPROVEEDO', 'CUPO', 'NOMBREC', 'ULTVENTA',
'REGIMEN', 'CLASEID', 'DIGVER', 'FECHAR', 'NOMBRE1','NOMBRE2', 'APELLIDO1', 'APELLIDO2', 'ACTIECON', 'PAIS', 'PERJURIDIC','MATMER']]

In [67]:
df_terceros = df_terceros.rename(columns = {'NIT':'ID_TERCERO','NOMBRE':'N_COMPLETO','ESCLIENTE':'ES_CLIENTE','ESPROVEEDO':'ES_PROVEEDO','NOMBREC':'N_COMCIAL','NOMBRE1':'PRIM_NOMBRE','NOMBRE2':'SGDO_NOMBRE','APELLIDO1':'PRIM_APELLIDO','APELLIDO2':'SGDO_APELLIDO','FECHAR':'FECHA_INGRE'})

In [68]:
# Cambio Orden

df_terceros = df_terceros[['ID_TERCERO','INACTIVO', 'N_COMPLETO','PRIM_NOMBRE', 'SGDO_NOMBRE','PRIM_APELLIDO', 'SGDO_APELLIDO','N_COMCIAL',
                           'DIR', 'TEL','EMAIL', 'CIUDAD','PAIS','ES_CLIENTE','ES_PROVEEDO', 'CUPO', 'ULTVENTA','CLASEID', 'DIGVER', 'FECHA_INGRE']]

In [69]:
# Modificación del datatype

df_terceros['ES_CLIENTE'] = df_terceros['ES_CLIENTE'].astype('bool')
df_terceros['ES_PROVEEDO'] = df_terceros['ES_PROVEEDO'].astype('bool')
df_terceros['ULTVENTA'] = pd.to_datetime(df_terceros['ULTVENTA'])
df_terceros['FECHA_INGRE'] = pd.to_datetime(df_terceros['FECHA_INGRE'])

In [70]:
# Análsis de los valores nulos 

df_terceros.isnull().sum() / len(df_terceros) * 100

ID_TERCERO        0.000000
INACTIVO          0.000000
N_COMPLETO        0.000000
PRIM_NOMBRE       0.002793
SGDO_NOMBRE      91.488946
PRIM_APELLIDO    15.490007
SGDO_APELLIDO    82.442983
N_COMCIAL        98.808676
DIR               0.004190
TEL               0.005587
EMAIL            93.579699
CIUDAD            0.006983
PAIS             94.835268
ES_CLIENTE        0.000000
ES_PROVEEDO       0.000000
CUPO              0.569824
ULTVENTA          3.047443
CLASEID           0.057262
DIGVER            0.002793
FECHA_INGRE       0.000000
dtype: float64

In [71]:
df_terceros.loc[df_terceros['PAIS'].isnull(),'PAIS'] = '169'

In [72]:
df_terceros.loc[df_terceros['CIUDAD'].isnull(),'CIUDAD'] = '47'

In [73]:
df_terceros['ES_CLIENTE'] = df_terceros['ES_CLIENTE'].replace(np.nan,False)

In [74]:
df_terceros['CUPO'] = df_terceros['CUPO'].replace(np.nan,0)

In [75]:
df_terceros['DIGVER'] = df_terceros['DIGVER'].replace(np.nan,0)

In [76]:
mask_nombres = ((df_terceros['PRIM_NOMBRE'].isnull()) | (df_terceros['SGDO_NOMBRE'].isnull()) | (df_terceros['PRIM_APELLIDO'].isnull()) | (df_terceros['SGDO_APELLIDO'].isnull()) | (df_terceros['N_COMCIAL'].isnull()))

In [77]:
# Nueva columna que verifica si el cliente es empresa

for i, row in df_terceros.iterrows():
    if  (pd.notnull(row['PRIM_NOMBRE']) and row['ES_PROVEEDO'] == False and len(row['PRIM_NOMBRE']) > 10) or (pd.notnull(row['PRIM_NOMBRE']) and row['ES_PROVEEDO'] == False and row['PRIM_NOMBRE'].startswith(('900', '901'))) or pd.notnull(row['N_COMCIAL']):
        df_terceros.at[i,'ES_EMPRESA'] = True
    else:
        df_terceros.at[i,'ES_EMPRESA'] = False

column_data = df_terceros.pop('ES_EMPRESA')
df_terceros.insert(14, 'ES_EMPRESA', column_data)

In [78]:
# Verificación de fecha última venta

df_terceros[df_terceros['ULTVENTA'].isnull()]

,ID_TERCERO,INACTIVO,N_COMPLETO,PRIM_NOMBRE,SGDO_NOMBRE,PRIM_APELLIDO,SGDO_APELLIDO,N_COMCIAL,DIR,TEL,EMAIL,CIUDAD,PAIS,ES_CLIENTE,ES_EMPRESA,ES_PROVEEDO,CUPO,ULTVENTA,CLASEID,DIGVER,FECHA_INGRE
0,000000000000,False,PATERNINA JORGE,JORGE,NaN,PATERNINA,NaN,NaN,-,-,NaN,47001,169,False,False,False,0.0,NaT,C,0.0,2017-02-13
24,22439016,False,RUEDA MARIA,MARIA,NaN,RUEDA,NaN,NaN,.,.,NaN,47001,169,True,False,False,1.0,NaT,C,3.0,2017-08-03
65,9007452592,False,LOS MOSQUETEROS,LOS MOSQUETEROS,NaN,NaN,NaN,NaN,CALLE 15 TAGANGA,4302666,NaN,47001,169,True,True,False,1.0,NaT,N,0.0,2017-08-03
228,9097617,False,BARRIENTOS EFREN,EFREN,NaN,BARRIENTOS,NaN,NaN,CALLE 49A 24 40,3005414642,NaN,47001,169,True,False,False,1.0,NaT,C,3.0,2017-08-08
230,37293302,False,PEREZ SELENI,SELENI,NaN,PEREZ,NaN,NaN,MAZ 3 CASA 51 URB SANTA CRUZ,3015260169,NaN,47001,169,True,False,False,1.0,NaT,C,0.0,2017-08-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71546,900247431,False,CONJUNTO LAS REDES,CONJUNTO LAS REDES,NaN,NaN,NaN,NaN,CR 3 124 - 63 BELLO HORIZONTE,3012086913,conjunto.lasredes@yahoo.com,47001,170,True,True,False,1.0,NaT,N,7.0,2024-11-19
71547,901764730,False,ENERGY PRODUCTS S.A.S,ENERGY PRODUCTS S.A.S,NaN,NaN,NaN,NaN,CR 1 C 2 A 75,3053769863,celycharris@hotmail.com,08634,170,True,True,False,0.0,NaT,N,5.0,2024-11-19
71581,12942740,False,CHIRINOS ADALBERTO,ADALBERTO,NaN,CHIRINOS,NaN,NaN,.,.,NaN,47001,170,True,False,False,1.0,NaT,C,0.0,2024-11-26
71592,72227070,False,BAZZA EDGARDO,EDGARDO,NaN,BAZZA,NaN,NaN,.,.,NaN,47001,170,True,False,False,1.0,NaT,C,0.0,2024-11-27
71596,36592292,False,RODRIGUEZ MARIA,MARIA,NaN,RODRIGUEZ,NaN,NaN,.,.,NaN,47001,170,True,False,False,1.0,NaT,C,0.0,2024-11-28

In [79]:
df_terceros[df_terceros['ID_TERCERO'] == '12645718']

,ID_TERCERO,INACTIVO,N_COMPLETO,PRIM_NOMBRE,SGDO_NOMBRE,PRIM_APELLIDO,SGDO_APELLIDO,N_COMCIAL,DIR,TEL,EMAIL,CIUDAD,PAIS,ES_CLIENTE,ES_EMPRESA,ES_PROVEEDO,CUPO,ULTVENTA,CLASEID,DIGVER,FECHA_INGRE
68934,12645718,False,ARRIETA SALAS ALCIDES SEGUNDO,ALCIDES,SEGUNDO,ARRIETA,SALAS,NaN,CL 26 22A 26,3005076094,NaN,47001,169,True,False,False,1.0,NaT,C,1.0,2024-03-07

In [80]:
# mask_sin_compra = (df_terceros['ES_PROVEEDO'] == False) & (df_terceros['ULTVENTA'].isnull())

In [81]:
# Se encontró que los valores nulos mostraban clientes sin realizar una compra. Por lo que se procede a eliminarlos ya que son redundantes

# df_terceros = df_terceros[~mask_sin_compra]

In [82]:
# Asignar clase ID de acuerdo si es empresa o no

for i, row in df_terceros.iterrows():
    if row['ES_EMPRESA'] == False:
        df_terceros.at[i,'CLASEID'] = 'C'
    else:
        df_terceros.at[i,'CLASEID'] = 'N'

In [83]:
# Ahora procedemos a arreglar la información de  los clientes

mask_nombre_cr = (df_terceros['N_COMPLETO'].str.contains(r'[^a-zA-Z\sñÑáéíóúÁÉÍÓÚàÀäÄëËïÏöÖüÜ]', regex=True)) & (df_terceros['ES_EMPRESA'] == False)

In [84]:
df_terceros[mask_nombre_cr]

,ID_TERCERO,INACTIVO,N_COMPLETO,PRIM_NOMBRE,SGDO_NOMBRE,PRIM_APELLIDO,SGDO_APELLIDO,N_COMCIAL,DIR,TEL,EMAIL,CIUDAD,PAIS,ES_CLIENTE,ES_EMPRESA,ES_PROVEEDO,CUPO,ULTVENTA,CLASEID,DIGVER,FECHA_INGRE
72,900693344,False,EJE S.A.S,EJE S.A.S,NaN,NaN,NaN,NaN,CR 13 29 A 45 AP 302 BRR BAVARIA,3157479676,ejsantosz@hotmail.com,47001,169,True,False,False,1.0,2019-12-16,C,6.0,2017-08-03
357,860041312,False,PROECO S.A,PROECO S.A,NaN,NaN,NaN,NaN,KM 10 VIA A CIENAGA,3695500,NaN,47001,169,True,False,False,1.0,2018-03-03,C,9.0,2017-08-11
503,85471439,False,ORTIZ SOSSA WILINTON 00,WILINTON,00,ORTIZ,SOSSA,NaN,DIAG 33 960,3185428537,NaN,47001,169,True,False,False,1.0,2017-08-15,C,9.0,2017-08-15
532,36539977,False,MARTHA} ROMERIN,MARTHA},ROMERIN,NaN,NaN,NaN,CALLE 28B 21A24,4356146,NaN,47001,169,True,False,False,1.0,2017-08-15,C,6.0,2017-08-15
594,36718425,False,SIERRA 00 YOJANA 00,YOJANA,00,SIERRA,00,NaN,CALLE 11 D 24B 19,3179728971,NaN,47001,169,True,False,False,1.0,2017-08-19,C,0.0,2017-08-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71355,900308385,False,MIPT S.AS,MIPT S.AS,NaN,NaN,NaN,NaN,CR 65 A 10 A 03,3168321907,FACTURACION@MYPTSAS.COM,47001,170,True,False,False,1.0,2024-10-03,C,9.0,2024-10-02
71479,901489060,False,MUNI LIGHT S.A.S,MUNI LIGHT S.A.S,NaN,NaN,NaN,NaN,CL 36 43 79,3014569923,munilightcentro@gmail.com,47001,169,False,False,True,0.0,NaT,C,1.0,2024-10-31
71511,901584314,False,VBTP S.A.S,VBTP S.A.S,NaN,NaN,NaN,NaN,CL 35 46 6 3,3145645461,vbtpsas@gmail.com,47001,170,True,False,False,1.0,2024-11-13,C,1.0,2024-11-13
71524,1082926412,False,PABON 0 ALBANER,ALBANER,NaN,PABON,0,NaN,0,3233554972,albanerpabontarazona@gmail.com,47001,170,True,False,False,1.0,2024-11-14,C,5.0,2024-11-14
71567,12553486,False,SALAS . JAIME ENRIQUE,JAIME,ENRIQUE,SALAS,.,NaN,CL 3C 19A13 BONDA,3004011836,jesalasi@homail.com,47001,170,True,False,False,1.0,2024-11-22,C,0.0,2024-11-22

In [85]:
regex_pattern = r'[^a-zA-ZñÑáéíóúÁÉÍÓÚàÀäÄëËïÏöÖüÜ ]'

In [86]:
df_terceros[['N_COMPLETO','PRIM_NOMBRE','SGDO_NOMBRE','PRIM_APELLIDO','SGDO_APELLIDO']] = df_terceros[['N_COMPLETO','PRIM_NOMBRE','SGDO_NOMBRE','PRIM_APELLIDO','SGDO_APELLIDO']].replace(regex_pattern, '', regex=True)

In [87]:
df_terceros[['N_COMPLETO','PRIM_NOMBRE','SGDO_NOMBRE','PRIM_APELLIDO','SGDO_APELLIDO']] =  df_terceros[['N_COMPLETO','PRIM_NOMBRE','SGDO_NOMBRE','PRIM_APELLIDO','SGDO_APELLIDO']].replace("",np.nan)

In [88]:
# Se limpian las identificaciones con anomalías

df_terceros = df_terceros[~df_terceros['ID_TERCERO'].str.contains(r'[^a-zA-Z0-9]', regex=True)]

In [89]:
df_terceros[df_terceros['ID_TERCERO'] == '12645718']

,ID_TERCERO,INACTIVO,N_COMPLETO,PRIM_NOMBRE,SGDO_NOMBRE,PRIM_APELLIDO,SGDO_APELLIDO,N_COMCIAL,DIR,TEL,EMAIL,CIUDAD,PAIS,ES_CLIENTE,ES_EMPRESA,ES_PROVEEDO,CUPO,ULTVENTA,CLASEID,DIGVER,FECHA_INGRE
68934,12645718,False,ARRIETA SALAS ALCIDES SEGUNDO,ALCIDES,SEGUNDO,ARRIETA,SALAS,NaN,CL 26 22A 26,3005076094,NaN,47001,169,True,False,False,1.0,NaT,C,1.0,2024-03-07

In [90]:
# Se desea obetener el sector económico de nuestros empleados por lo que se procede a leer esta información desde una página web

identificacion = df_terceros

In [91]:
identificacion = identificacion[['ID_TERCERO']]

In [92]:
identificacion = identificacion.drop_duplicates()

In [93]:
nits = pd.read_csv("C:/Users/casan/OneDrive/Almacen Electrocaribe/info_identf.txt",sep='\t',header = 0)

In [94]:
nits = nits.drop_duplicates()

In [95]:
identificacion = identificacion.merge(nits, on='ID_TERCERO', how='left')

In [96]:
identificacion[identificacion.duplicated(subset=['ID_TERCERO'])]

Empty DataFrame
Columns: [ID_TERCERO, RAZON_SOCIAL, DEPARTAMENTO, ACTIV_CIIU]
Index: []

In [97]:
# Proceso que actualiza terceros que no tengan información
import time
import random
from fake_useragent import UserAgent

In [98]:
ua = UserAgent()
count = 0

for i, row in identificacion.iterrows():
    if pd.isnull(row['RAZON_SOCIAL']) :
        if count ==  500:
            identificacion.to_csv("C:/Users/casan/OneDrive/Almacen Electrocaribe/info_nits.txt", sep='\t', index=False)
            count = 0
        else:
            count = count + 1
        
        headers = {'User-Agent': ua.random}
        nit = identificacion.at[i,'ID_TERCERO']
        try:
            url = 'https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/' + nit
            page = requests.get(url, headers=headers)
            soup = BeautifulSoup(page.text, 'html')
            table = soup.find_all('div', class_ = 'mod-datos pb0')[0]
            info = table.find_all('td')
            info_table = [infor.text.strip() for infor in info]
            
        except:
            identificacion.at[i,'RAZON_SOCIAL'] = 'NO_APLICA'
            identificacion.at[i,'DEPARTAMENTO'] = 'NO_APLICA'
            identificacion.at[i,'ACTIV_CIIU'] = 'CLIENTE GENERAL'
            
            print(i,url,identificacion.at[i,'RAZON_SOCIAL'], count)
            
            # time.sleep(5)
            continue
            
        table_2 = soup.find_all('h1') 
        info_table_2 = [infor_2.text.strip() for infor_2 in table_2]

        for line in info_table_2:
            if "ACTIVA" in line:
                
                # Banderas para determinar cuándo capturar la siguiente línea
                capture_razon_social = False
                capture_departamento = False
                capture_actividad_ciiu = False
                
                # Recorrer las líneas y capturar la información deseada
                for line in info_table:
                    if capture_razon_social == True:
                        identificacion.at[i,'RAZON_SOCIAL'] = line.strip()
                        capture_razon_social = False
                            
                    if capture_departamento == True:
                        identificacion.at[i,'DEPARTAMENTO'] = line.strip()
                        capture_departamento = False
                
                    if capture_actividad_ciiu == True:
                        identificacion.at[i,'ACTIV_CIIU'] = line.strip()
                        capture_actividad_ciiu = False
                    
                    if "Razón Social" in line:
                        capture_razon_social = True
                    elif "Departamento" in line:
                        capture_departamento = True
                    elif "Actividad CIIU" in line:
                        capture_actividad_ciiu = True
                
                print(i,url,identificacion.at[i,'RAZON_SOCIAL'],count)
            
            else:
                identificacion.at[i,'RAZON_SOCIAL'] = 'NO_APLICA'
                identificacion.at[i,'DEPARTAMENTO'] = 'NO_APLICA'
                identificacion.at[i,'ACTIV_CIIU'] = 'CLIENTE GENERAL'
            
                print(i,url,identificacion.at[i,'RAZON_SOCIAL'],count)
                
            # time.sleep(random.uniform(1, 5))

71526 https://www.einforma.co/servlet/app/portal/ENTP/prod/LISTA_EMPRESAS/razonsocial/901478887 MARTINA T&T S A S 1

In [99]:
identificacion['ACTIV_CIIU'] = identificacion['ACTIV_CIIU'].replace('NO_APLICA','CLIENTE GENERAL')

In [100]:
identificacion.to_csv("C:/Users/casan/OneDrive/Almacen Electrocaribe/info_identf.txt", sep='\t', index=False)

In [101]:
# Ya que tenemos la información, se hace merge con data original
df_terceros = df_terceros.merge(identificacion, on='ID_TERCERO', how='left')

In [102]:
# Asigna Es_Empresa a aquellas empresas que hayan arrojado resultados al buscar en la web

for i, row in df_terceros.iterrows():
    if row['RAZON_SOCIAL'] != 'CLIENTE GENERAL':
        df_terceros.at[i,'ES_EMPRESA'] = True

In [103]:
df_terceros['ACTIV_CIIU'] = df_terceros['ACTIV_CIIU'].fillna('CLIENTE GENERAL')

In [104]:
# Remover el código CIIU ya que importa es el nombre
regex_ciiu = r'^[A-Z]\d{4} - '

In [105]:
df_terceros['ACTIV_CIIU'] = df_terceros['ACTIV_CIIU'].replace(regex_ciiu, '', regex=True)

In [106]:
# Se eliminan columnas razón social y departamento ya que no son necesarias por ahora
df_terceros = df_terceros.drop(columns=['RAZON_SOCIAL','DEPARTAMENTO'])

In [107]:
# Eliminar Ventas Varias

df_terceros = df_terceros.drop(699)

In [108]:
df_terceros.to_sql('tercero', engine, if_exists='replace', index= False)

526

In [109]:
df_terceros[df_terceros.duplicated(subset=['ID_TERCERO'])]

Empty DataFrame
Columns: [ID_TERCERO, INACTIVO, N_COMPLETO, PRIM_NOMBRE, SGDO_NOMBRE, PRIM_APELLIDO, SGDO_APELLIDO, N_COMCIAL, DIR, TEL, EMAIL, CIUDAD, PAIS, ES_CLIENTE, ES_EMPRESA, ES_PROVEEDO, CUPO, ULTVENTA, CLASEID, DIGVER, FECHA_INGRE, ACTIV_CIIU]
Index: []

In [110]:
regex_pattern_txt = r'[a-zA-Z]'

# Verificar si hay letras en la columna 'ID_TERCERO'
df_terceros[df_terceros['ID_TERCERO'].str.contains(regex_pattern_txt)]

,ID_TERCERO,INACTIVO,N_COMPLETO,PRIM_NOMBRE,SGDO_NOMBRE,PRIM_APELLIDO,SGDO_APELLIDO,N_COMCIAL,DIR,TEL,EMAIL,CIUDAD,PAIS,ES_CLIENTE,ES_EMPRESA,ES_PROVEEDO,CUPO,ULTVENTA,CLASEID,DIGVER,FECHA_INGRE,ACTIV_CIIU
41328,CE245436,False,RIVERO JULIO,JULIO,NaN,NaN,RIVERO,NaN,CALLE 25 1-137 APTO 205 EDIFICIO SALGUEH,3186722645,NaN,47001,169,True,True,False,1.0,2020-12-16,C,1.0,2020-12-16,CLIENTE GENERAL
44397,16067425Q,False,RUIZ ENEKO,ENEKO,NaN,RUIZ,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2021-04-14,C,8.0,2021-04-14,CLIENTE GENERAL
54359,19AC921281,False,HEQUET SEVASTIAN,SEVASTIAN,NaN,HEQUET,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2022-05-18,C,0.0,2022-05-18,CLIENTE GENERAL
63248,U18Y12146P,False,GIUFFRIDA FRANCESCO,FRANCESCO,NaN,GIUFFRIDA,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2023-06-22,C,0.0,2023-06-22,CLIENTE GENERAL
63332,YC0077763,False,GIUFFRIDA FRANCESCO,FRANCESCO,NaN,GIUFFRIDA,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2023-07-03,C,0.0,2023-06-26,CLIENTE GENERAL
65909,16AZ79656,False,ROMDAUD ENDRY,ENDRY,NaN,ROMDAUD,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2023-10-17,C,0.0,2023-10-17,CLIENTE GENERAL
66035,21DA64579,False,RESERVA DEL NONO,RESERVA DEL NONO,NaN,NaN,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2023-10-24,N,0.0,2023-10-24,CLIENTE GENERAL
69540,BAM010015,False,RIERA JORDI,JORDI,NaN,RIERA,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2024-04-17,C,0.0,2024-04-17,CLIENTE GENERAL
69932,FP4007619,False,JUUTISTENAHO PETRI,PETRI,NaN,JUUTISTENAHO,NaN,NaN,.,.,NaN,47001,169,True,True,False,1.0,2024-05-10,C,0.0,2024-05-10,CLIENTE GENERAL
70094,23AP29898,False,HEQUET SEBASTIAN,SEBASTIAN,NaN,HEQUET,NaN,NaN,.,.,xdvpx@protonmail.com,47001,169,True,True,False,1.0,2024-06-11,C,0.0,2024-05-22,CLIENTE GENERAL

## DataBase Facturas de Venta (df_itfaven)

In [111]:
# Lectura de datos
lectura_df_itfaven = Lectura_Datos(1)

In [112]:
# Backup de los datos
df_itfaven = lectura_df_itfaven

In [113]:
# Eliminación de columnas con valores totalmente nulos

df_itfaven = Limpieza_de_Datos_Nulos(df_itfaven,0)

In [114]:
# Cambio de columnas tipo de factura y número

df_itfaven = Modificacion_Columnas(df_itfaven)

In [115]:
# Información del DataFrame

df_itfaven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590943 entries, 0 to 590942
Data columns (total 35 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FACT        590933 non-null  object
 1   ID_FACT     590933 non-null  object
 2   N_FACT      590933 non-null  object
 3   REFERENCIA  590941 non-null  object
 4   CANT        590943 non-null  float64
 5   VRUNIT      590943 non-null  float64
 6   PIVA        590943 non-null  float64
 7   PDTO        590943 non-null  float64
 8   COSTOUNI    590943 non-null  float64
 9   EXPLOTA     590943 non-null  bool
 10  UNIEXPLO    590943 non-null  int64
 11  VRIVA       590943 non-null  float64
 12  DETALLE     590921 non-null  object
 13  ITEM        590943 non-null  object
 14  SUGERIDO    590943 non-null  float64
 15  PDTOCON     62599 non-null   float64
 16  BASEIVAIMP  62599 non-null   float64
 17  VRIPOCON    590943 non-null  float64
 18  VRDTOCON    62599 non-null   float64
 19  PCOMI       62599 non-null   float64
 20  VRCOMI      62599 non-null   float64
 21  PDTOCON2    62599 non-null   float64
 22  PDTOCON3    62599 non-null   float64
 23  VRDTOCON2   62599 non-null   float64
 24  VRDTOCON3   62599 non-null   float64
 25  SUGEPOS     590943 non-null  bool
 26  VRTOTAL     590943 non-null  float64
 27  EXCLUIDO    590943 non-null  bool
 28  PRECIFIJOS  590943 non-null  bool
 29  AFECTA      9470 non-null    object
 30  VROTRAM     62599 non-null   float64
 31  ALQUILADO   62599 non-null   object
 32  PRECIOX     62599 non-null   float64
 33  IPOIVA      367666 non-null  object
 34  RETEN       55732 non-null   object
dtypes: bool(4), float64(20), int64(1), object(10)
memory usage: 142.0+ MB

In [116]:
# Organización de las columnas

df_itfaven.columns

Index(['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'CANT', 'VRUNIT', 'PIVA',
       'PDTO', 'COSTOUNI', 'EXPLOTA', 'UNIEXPLO', 'VRIVA', 'DETALLE', 'ITEM',
       'SUGERIDO', 'PDTOCON', 'BASEIVAIMP', 'VRIPOCON', 'VRDTOCON', 'PCOMI',
       'VRCOMI', 'PDTOCON2', 'PDTOCON3', 'VRDTOCON2', 'VRDTOCON3', 'SUGEPOS',
       'VRTOTAL', 'EXCLUIDO', 'PRECIFIJOS', 'AFECTA', 'VROTRAM', 'ALQUILADO',
       'PRECIOX', 'IPOIVA', 'RETEN'],
      dtype='object')

In [117]:
df_itfaven = df_itfaven[['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'DETALLE', 'CANT', 'VRUNIT', 'PIVA', 'PDTO',
'COSTOUNI','VRIVA', 'ITEM','SUGERIDO','VRTOTAL', 'AFECTA']]

In [118]:
df_itfaven = df_itfaven.rename(columns = {'REFERENCIA':'ID_PRODUCTO','DETALLE':'N_PRODUCTO'})

In [119]:
# Análsis de los valores nulos 

df_itfaven.isnull().sum() / len(df_itfaven) * 100

FACT            0.001692
ID_FACT         0.001692
N_FACT          0.001692
ID_PRODUCTO     0.000338
N_PRODUCTO      0.003723
CANT            0.000000
VRUNIT          0.000000
PIVA            0.000000
PDTO            0.000000
COSTOUNI        0.000000
VRIVA           0.000000
ITEM            0.000000
SUGERIDO        0.000000
VRTOTAL         0.000000
AFECTA         98.397477
dtype: float64

In [120]:
# Se eliminan registros con valores nulos

df_itfaven = df_itfaven.dropna(subset = ['FACT','ID_PRODUCTO'])

In [121]:
df_articulos_faven = df_articulos[['ID_PRODUCTO','N_PRODUCTO']]

In [122]:
df_itfaven = df_itfaven.merge(df_articulos_faven, on='ID_PRODUCTO', how='left')

In [123]:
for i, row in df_itfaven.iterrows():
    if pd.isnull(row['N_PRODUCTO_x']):
        df_itfaven.at[i,'N_PRODUCTO_x'] = df_itfaven.at[i,'N_PRODUCTO_y']

In [124]:
#Pendientes porque necesitamos limpiar articulos primero

df_itfaven[df_itfaven['N_PRODUCTO_x'].isnull()]

Empty DataFrame
Columns: [FACT, ID_FACT, N_FACT, ID_PRODUCTO, N_PRODUCTO_x, CANT, VRUNIT, PIVA, PDTO, COSTOUNI, VRIVA, ITEM, SUGERIDO, VRTOTAL, AFECTA, N_PRODUCTO_y]
Index: []

In [125]:
df_itfaven = df_itfaven.drop(columns=['N_PRODUCTO_y'])

In [126]:
df_itfaven = df_itfaven.rename(columns = {'N_PRODUCTO_x':'N_PRODUCTO'})

In [127]:
df_itfaven['AFECTA'] = df_itfaven['AFECTA'].fillna('NO_AFECTA')

In [128]:
# Dataframe final - Factura de Venta

df_itfaven.to_sql('itfaven', engine, if_exists='replace', index= False)

931

## DataBase Facturas de Compra (df_itfacom)

In [129]:
# Lectura de datos
lectura_df_itfacom = Lectura_Datos(2)

In [130]:
# Backup de los datos

df_itfacom = lectura_df_itfacom

In [131]:
# Comprobación de datos nulos

df_itfacom.isnull().sum() / len(df_itfacom) * 100

TIPO           0.00000
NUMERO         0.00000
REFERENCIA     0.00000
VRUNIT         0.00000
CANTIDAD       0.00000
                ...
CCOSTO         0.00000
PIVAM          0.00000
VALORM         0.00000
PIVAND        85.83815
VRIVAND       85.83815
Length: 33, dtype: float64

In [132]:
# Eliminación de columnas con valores totalmente nulos

df_itfacom = Limpieza_de_Datos_Nulos(df_itfacom,0)

In [133]:
# Cambio de columnas tipo de factura y número

df_itfacom = Modificacion_Columnas(df_itfacom)

In [134]:
# Información del DataFrame

df_itfacom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27334 entries, 0 to 27333
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FACT        27334 non-null  object
 1   ID_FACT     27334 non-null  object
 2   N_FACT      27334 non-null  object
 3   REFERENCIA  27334 non-null  object
 4   VRUNIT      27334 non-null  float64
 5   CANTIDAD    27334 non-null  float64
 6   EXPLOTA     27334 non-null  bool
 7   UNIEXPLO    27334 non-null  int64
 8   PIVA        27334 non-null  float64
 9   ITEM        27334 non-null  object
 10  PDTO        27334 non-null  float64
 11  PRECIO      27334 non-null  float64
 12  VRIVA       27334 non-null  float64
 13  DETALLE     27334 non-null  object
 14  VRFLETE     27334 non-null  float64
 15  VRTOTAL     27334 non-null  float64
 16  VRIPOCON    27334 non-null  float64
 17  VRDTOFIN    27334 non-null  float64
 18  PDTOF1      27334 non-null  float64
 19  PDTOF2      27334 non-null  float64
 20  PDTOF3      27334 non-null  float64
 21  EXCLUIDO    27334 non-null  bool
 22  PDTO2       27334 non-null  float64
 23  PDTO3       27334 non-null  float64
 24  VRRETEIVA   27334 non-null  float64
 25  PRECIOA     27334 non-null  float64
 26  PIVAM       27334 non-null  float64
 27  VALORM      27334 non-null  float64
 28  PIVAND      3871 non-null   float64
 29  VRIVAND     3871 non-null   float64
dtypes: bool(2), float64(21), int64(1), object(6)
memory usage: 5.9+ MB

In [135]:
# Organización de las columnas

df_itfacom.columns

Index(['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'VRUNIT', 'CANTIDAD',
       'EXPLOTA', 'UNIEXPLO', 'PIVA', 'ITEM', 'PDTO', 'PRECIO', 'VRIVA',
       'DETALLE', 'VRFLETE', 'VRTOTAL', 'VRIPOCON', 'VRDTOFIN', 'PDTOF1',
       'PDTOF2', 'PDTOF3', 'EXCLUIDO', 'PDTO2', 'PDTO3', 'VRRETEIVA',
       'PRECIOA', 'PIVAM', 'VALORM', 'PIVAND', 'VRIVAND'],
      dtype='object')

In [136]:
df_itfacom = df_itfacom[['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA','DETALLE','CANTIDAD','VRUNIT','PIVA', 
                        'PDTO', 'PRECIO', 'VRIVA','VRFLETE', 'VRTOTAL','PRECIOA','ITEM']]

In [137]:
df_itfacom = df_itfacom.rename(columns = {'REFERENCIA':'ID_PRODUCTO','DETALLE':'N_PRODUCTO','CANTIDAD':'CANT'})

In [138]:
# Análsis de los valores nulos

df_itfacom.isnull().sum() / len(df_itfacom) * 100

FACT           0.0
ID_FACT        0.0
N_FACT         0.0
ID_PRODUCTO    0.0
N_PRODUCTO     0.0
CANT           0.0
VRUNIT         0.0
PIVA           0.0
PDTO           0.0
PRECIO         0.0
VRIVA          0.0
VRFLETE        0.0
VRTOTAL        0.0
PRECIOA        0.0
ITEM           0.0
dtype: float64

In [139]:
# Dataframe final - Facturas de Compra

df_itfacom.to_sql('itfacom', engine, if_exists='replace', index= False)

334

## DataBase Transferencia de Inventarios (df_ittrainvv)

In [140]:
# Lectura de datos

lectura_df_ittrainv = Lectura_Datos(3)

In [141]:
# Backup de los datos

df_ittrainv = lectura_df_ittrainv

In [142]:
# Comprobación de datos nulos

df_ittrainv.isnull().sum() / len(df_ittrainv) * 100

TIPO          0.0
NUMERO        0.0
REFERENCIA    0.0
CANTIDAD      0.0
ITEM          0.0
UNIEXPLO      0.0
VRTOTAL       0.0
DETALLE       0.0
LOTE          0.0
dtype: float64

In [143]:
# Eliminación de columnas con valores totalmente nulos

df_ittrainv = Limpieza_de_Datos_Nulos(df_ittrainv,0)

In [144]:
# Cambio de columnas tipo de factura y número

df_ittrainv = Modificacion_Columnas(df_ittrainv)

In [145]:
# Información del DataFrame

df_ittrainv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1686 entries, 0 to 1685
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FACT        1686 non-null   object
 1   ID_FACT     1686 non-null   object
 2   N_FACT      1686 non-null   object
 3   REFERENCIA  1686 non-null   object
 4   CANTIDAD    1686 non-null   float64
 5   ITEM        1686 non-null   object
 6   UNIEXPLO    1686 non-null   int64
 7   VRTOTAL     1686 non-null   float64
 8   DETALLE     1686 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 118.7+ KB

In [146]:
# Organización de las columnas

df_ittrainv.columns

Index(['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'CANTIDAD', 'ITEM',
       'UNIEXPLO', 'VRTOTAL', 'DETALLE'],
      dtype='object')

In [147]:
df_ittrainv = df_ittrainv[['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA','DETALLE', 'CANTIDAD', 'ITEM', 'VRTOTAL']]

In [148]:
df_ittrainv = df_ittrainv.rename(columns = {'REFERENCIA':'ID_PRODUCTO','DETALLE':'N_PRODUCTO','CANTIDAD':'CANT'})

In [149]:
# Análsis de los valores nulos

df_ittrainv.isnull().sum() / len(df_ittrainv) * 100

FACT           0.0
ID_FACT        0.0
N_FACT         0.0
ID_PRODUCTO    0.0
N_PRODUCTO     0.0
CANT           0.0
ITEM           0.0
VRTOTAL        0.0
dtype: float64

In [150]:
# Dataframe final - Transferencia de Inventarios

df_ittrainv.to_sql('itraninv', engine, if_exists='replace', index= False)

686

## DataBase Notas de Inventario (df_itnotinv)

In [151]:
# Lectura de datos

lectura_df_itnotinv = Lectura_Datos(4)

In [152]:
# Backup de los datos

df_itnotinv = lectura_df_itnotinv

In [153]:
# Comprobación de datos nulos

df_itnotinv.isnull().sum() / len(df_itnotinv) * 100

TIPO          0.0
NUMERO        0.0
REFERENCIA    0.0
CANTIDAD      0.0
COSTO         0.0
CODDIVI       0.0
ITEM          0.0
DETALLE       0.0
LOTE          0.0
dtype: float64

In [154]:
# Eliminación de columnas con valores totalmente nulos

df_itnotinv = Limpieza_de_Datos_Nulos(df_itnotinv,0)

In [155]:
# Cambio de columnas tipo de factura y número

df_itnotinv = Modificacion_Columnas(df_itnotinv)

In [156]:
# Información del DataFrame

df_itnotinv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23030 entries, 0 to 23029
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FACT        23030 non-null  object
 1   ID_FACT     23030 non-null  object
 2   N_FACT      23030 non-null  object
 3   REFERENCIA  23030 non-null  object
 4   CANTIDAD    23030 non-null  float64
 5   COSTO       23030 non-null  float64
 6   ITEM        23030 non-null  object
 7   DETALLE     23030 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.4+ MB

In [157]:
# Organización de las columnas

df_itnotinv.columns

Index(['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'CANTIDAD', 'COSTO', 'ITEM',
       'DETALLE'],
      dtype='object')

In [158]:
df_itnotinv = df_itnotinv[['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA','DETALLE','CANTIDAD', 'COSTO', 'ITEM']]

In [159]:
df_itnotinv = df_itnotinv.rename(columns = {'REFERENCIA':'ID_PRODUCTO','DETALLE':'N_PRODUCTO','CANTIDAD':'CANT','COSTO':'VRTOTAL'})

In [160]:
for i, row in df_itnotinv.iterrows():
    if row['CANT'] != 0:
        df_itnotinv.at[i,'VRUNIT'] = abs(df_itnotinv.at[i,'VRTOTAL']/df_itnotinv.at[i,'CANT'])
    else:
        df_itnotinv.at[i,'VRUNIT'] = df_itnotinv.at[i,'VRTOTAL']

In [161]:
# Análsis de los valores nulos

df_itnotinv.isnull().sum() / len(df_itnotinv) * 100

FACT           0.0
ID_FACT        0.0
N_FACT         0.0
ID_PRODUCTO    0.0
N_PRODUCTO     0.0
CANT           0.0
VRTOTAL        0.0
ITEM           0.0
VRUNIT         0.0
dtype: float64

In [162]:
# Dataframe final - Notas de Inventario

df_itnotinv.to_sql('itnotinv', engine, if_exists='replace', index= False)

30

In [163]:
df_itnotinv

,FACT,ID_FACT,N_FACT,ID_PRODUCTO,N_PRODUCTO,CANT,VRTOTAL,ITEM,VRUNIT
0,NI1-0000000002,NI1,0000000002,00094,ALAMBRE COBRE #10 BLANCO CENTELSA,400.0,471600.00,_5690L9BE7,1179.00
1,NI1-0000000002,NI1,0000000002,00437,OJO DE BUEY LED COB BLANCO 7W 6500K CIGLA,1.0,22586.00,_5690MOZ9Q,22586.00
2,NI1-0000000002,NI1,0000000002,00451,OJO DE BUEY SIN CELDAS 4W,11.0,187935.00,_5690N61SL,17085.00
3,NI1-0000000002,NI1,0000000002,00454,OJO DE BUEY DOWNLIGHT 9W 3000K ILUMAX,3.0,82251.00,_5690N6FAA,27417.00
4,NI1-0000000002,NI1,0000000002,00509,LAMPARA ALUMINO LED 200W COPALAMPARA,2.0,1274118.00,_5690N6SQU,637059.00
...,...,...,...,...,...,...,...,...,...
23025,NI1-0000000406,NI1,0000000406,11218,REFLECTOR LED JETA 75W 6500 29526,1.0,7999.00,_71O0J0PXK,7999.00
23026,NI1-0000000406,NI1,0000000406,03180,ENCHUFE CAUCHO DOMESTICO 15 AMP C018,-117.0,-224672.76,_71O0KQ6XY,1920.28
23027,NI1-0000000406,NI1,0000000406,09535,CABLE CRISTAL POLARIZADO 2X16,185.0,295815.00,_71O0YYZBD,1599.00
23028,NI1-0000000406,NI1,0000000406,01955,CABLE DUPLEX CRISTAL POLARIZADO 2X16,-185.0,-269615.30,_71O0YZ9X8,1457.38
23029,NI1-0000000407,NI1,0000000407,01871,CABLE 7 HILOS #2 NEGRO,-488.0,-8338944.00,_71P0T6IJS,17088.00

## DataBase Devolución de Venta (df_itdevven)

In [164]:
# Lectura de datos

lectura_df_itdevven = Lectura_Datos(5)

In [165]:
# Backup de los datos

df_itdevven = lectura_df_itdevven

In [166]:
# Comprobación de datos nulos

df_itdevven.isnull().sum() / len(df_itdevven) * 100

TIPO           0.000000
NUMERO         0.000000
REFERENCIA     0.000000
CANT           0.000000
VRUNIT         0.000000
                ...
EXCLUIDO      67.547437
LOTE           0.000000
DETALLE        0.000000
LISIND         0.000000
TARIVA         0.000000
Length: 21, dtype: float64

In [167]:
# Eliminación de columnas con valores totalmente nulos

df_itdevven = Limpieza_de_Datos_Nulos(df_itdevven,0)

In [168]:
# Cambio de columnas tipo de factura y número

df_itdevven = Modificacion_Columnas(df_itdevven)

In [169]:
# Información del DataFrame

df_itdevven.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5639 entries, 0 to 5638
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FACT        5639 non-null   object
 1   ID_FACT     5639 non-null   object
 2   N_FACT      5639 non-null   object
 3   REFERENCIA  5639 non-null   object
 4   CANT        5639 non-null   float64
 5   VRUNIT      5639 non-null   float64
 6   PIVA        5639 non-null   float64
 7   COSTOUNI    5639 non-null   float64
 8   EXPLOTA     5639 non-null   bool
 9   UNIEXPLO    5639 non-null   int64
 10  VRIVA       5639 non-null   float64
 11  ITEM        5639 non-null   object
 12  VRIPOCON    1830 non-null   float64
 13  VRTOTAL     5639 non-null   float64
 14  EXCLUIDO    1830 non-null   object
 15  DETALLE     5638 non-null   object
 16  TARIVA      1021 non-null   object
dtypes: bool(1), float64(7), int64(1), object(8)
memory usage: 710.5+ KB

In [170]:
# Organización de las columnas

df_itdevven.columns

Index(['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'CANT', 'VRUNIT', 'PIVA',
       'COSTOUNI', 'EXPLOTA', 'UNIEXPLO', 'VRIVA', 'ITEM', 'VRIPOCON',
       'VRTOTAL', 'EXCLUIDO', 'DETALLE', 'TARIVA'],
      dtype='object')

In [171]:
df_itdevven = df_itdevven[['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'DETALLE' , 'CANT', 'VRUNIT', 'PIVA',
       'COSTOUNI', 'VRIVA', 'ITEM','VRTOTAL']]

In [172]:
df_itdevven = df_itdevven.rename(columns = {'REFERENCIA':'ID_PRODUCTO','DETALLE':'N_PRODUCTO'})

In [173]:
# Análsis de los valores nulos

df_itdevven.isnull().sum() / len(df_itdevven) * 100

FACT           0.000000
ID_FACT        0.000000
N_FACT         0.000000
ID_PRODUCTO    0.000000
N_PRODUCTO     0.017734
CANT           0.000000
VRUNIT         0.000000
PIVA           0.000000
COSTOUNI       0.000000
VRIVA          0.000000
ITEM           0.000000
VRTOTAL        0.000000
dtype: float64

In [174]:
df_articulos_devven = df_articulos[['ID_PRODUCTO','N_PRODUCTO']]

In [175]:
df_itdevven = df_itdevven.merge(df_articulos_devven, on='ID_PRODUCTO', how='left')

In [176]:
for i, row in df_itdevven.iterrows():
    if pd.isnull(row['N_PRODUCTO_x']):
        df_itdevven.at[i,'N_PRODUCTO_x'] = df_itdevven.at[i,'N_PRODUCTO_y']

In [177]:
df_itdevven = df_itdevven.drop(columns=['N_PRODUCTO_y'])

In [178]:
df_itdevven = df_itdevven.rename(columns = {'N_PRODUCTO_x':'N_PRODUCTO'})

In [179]:
# Dataframe final - Devoluciones de Ventas

df_itdevven.to_sql('itdevent', engine, if_exists='replace', index= False)

639

## Data Base Devolución de Compra (df_itdevcom)

In [180]:
# Lectura de datos

lectura_df_itdevcom = Lectura_Datos(6)

In [181]:
# Backup de los datos

df_itdevcom = lectura_df_itdevcom

In [182]:
# Comprobación de datos nulos

df_itdevcom.isnull().sum() / len(df_itdevcom) * 100

TIPO          0.0
NUMERO        0.0
REFERENCIA    0.0
VRUNIT        0.0
CANTIDAD      0.0
EXPLOTA       0.0
UNIEXPLO      0.0
PIVA          0.0
CODDIVI       0.0
ITEM          0.0
VRIPOCON      0.0
VRIVA         0.0
EXCLUIDO      0.0
VRTOTAL       0.0
VRRETEIVA     0.0
LOTE          0.0
dtype: float64

In [183]:
# Eliminación de columnas con valores totalmente nulos

df_itdevcom = Limpieza_de_Datos_Nulos(df_itdevcom,0)

In [184]:
# Cambio de columnas tipo de factura y número

df_itdevcom = Modificacion_Columnas(df_itdevcom)

In [185]:
# Información del DataFrame

df_itdevcom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1342 entries, 0 to 1341
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FACT        1342 non-null   object
 1   ID_FACT     1342 non-null   object
 2   N_FACT      1342 non-null   object
 3   REFERENCIA  1342 non-null   object
 4   VRUNIT      1342 non-null   float64
 5   CANTIDAD    1342 non-null   float64
 6   EXPLOTA     1342 non-null   bool
 7   UNIEXPLO    1342 non-null   int64
 8   PIVA        1342 non-null   float64
 9   ITEM        1342 non-null   object
 10  VRIPOCON    1342 non-null   float64
 11  VRIVA       1342 non-null   float64
 12  EXCLUIDO    1342 non-null   bool
 13  VRTOTAL     1342 non-null   float64
 14  VRRETEIVA   1342 non-null   float64
dtypes: bool(2), float64(7), int64(1), object(5)
memory usage: 139.0+ KB

In [186]:
# Organización de las columnas

df_itdevcom.columns

Index(['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'VRUNIT', 'CANTIDAD',
       'EXPLOTA', 'UNIEXPLO', 'PIVA', 'ITEM', 'VRIPOCON', 'VRIVA', 'EXCLUIDO',
       'VRTOTAL', 'VRRETEIVA'],
      dtype='object')

In [187]:
df_itdevcom = df_itdevcom[['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA' , 'CANTIDAD', 'VRUNIT', 'PIVA', 'VRIVA', 'ITEM','VRTOTAL']]

In [188]:
df_itdevcom = df_itdevcom.rename(columns = {'REFERENCIA':'ID_PRODUCTO', 'CANTIDAD':'CANT'})

In [189]:
# Análsis de los valores nulos

df_itdevcom.isnull().sum() / len(df_itdevcom) * 100

FACT           0.0
ID_FACT        0.0
N_FACT         0.0
ID_PRODUCTO    0.0
CANT           0.0
VRUNIT         0.0
PIVA           0.0
VRIVA          0.0
ITEM           0.0
VRTOTAL        0.0
dtype: float64

In [190]:
# Dataframe final - Devoluciones de Compra

df_itdevcom.to_sql('itdevcom', engine, if_exists='replace', index= False)

342

## DataBase Cotizaciones (df_itcot)

In [191]:
# Lectura de datos

lectura_df_itcot = Lectura_Datos(45)

In [192]:
# Backup de los datos

df_itcot = lectura_df_itcot

In [193]:
# Comprobación de datos nulos

df_itcot.isnull().sum() / len(df_itcot) * 100

TIPO          0.000000
NUMERO        0.000000
REFERENCIA    0.000000
CANT          0.000000
VRUNIT        0.000000
                ...
VRIPOCON      0.000000
VRDTOCON      0.000000
VRTOTAL       0.000000
LISIND        0.000000
RETEN         2.270448
Length: 21, dtype: float64

In [194]:
# Eliminación de columnas con valores totalmente nulos

df_itcot = Limpieza_de_Datos_Nulos(df_itcot,0)

In [195]:
# Cambio de columnas tipo de factura y número

df_itcot = Modificacion_Columnas(df_itcot)

In [196]:
# Información del DataFrame

df_itcot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27924 entries, 0 to 27923
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FACT        27924 non-null  object
 1   ID_FACT     27924 non-null  object
 2   N_FACT      27924 non-null  object
 3   REFERENCIA  27922 non-null  object
 4   CANT        27924 non-null  float64
 5   VRUNIT      27924 non-null  float64
 6   PIVA        27924 non-null  float64
 7   PDTO        27924 non-null  float64
 8   EXPLOTA     27924 non-null  bool
 9   UNIEXPLO    27924 non-null  int64
 10  VRIVA       27924 non-null  float64
 11  DETALLE     27924 non-null  object
 12  ITEM        27924 non-null  object
 13  SUGERIDO    27924 non-null  float64
 14  PDTOCON     27924 non-null  float64
 15  BASEIVAIMP  27924 non-null  float64
 16  VRIPOCON    27924 non-null  float64
 17  VRDTOCON    27924 non-null  float64
 18  VRTOTAL     27924 non-null  float64
 19  RETEN       27290 non-null  object
dtypes: bool(1), float64(11), int64(1), object(7)
memory usage: 4.1+ MB

In [197]:
# Organización de las columnas

df_itcot.columns

Index(['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA', 'CANT', 'VRUNIT', 'PIVA',
       'PDTO', 'EXPLOTA', 'UNIEXPLO', 'VRIVA', 'DETALLE', 'ITEM', 'SUGERIDO',
       'PDTOCON', 'BASEIVAIMP', 'VRIPOCON', 'VRDTOCON', 'VRTOTAL', 'RETEN'],
      dtype='object')

In [198]:
df_itcot = df_itcot[['FACT', 'ID_FACT', 'N_FACT', 'REFERENCIA','DETALLE', 'CANT', 'VRUNIT', 'PIVA',
       'PDTO', 'VRIVA', 'ITEM', 'SUGERIDO', 'VRTOTAL']]

In [199]:
df_itcot = df_itcot.rename(columns = {'REFERENCIA':'ID_PRODUCTO','DETALLE':'N_PRODUCTO'})

In [200]:
# Análsis de los valores nulos

df_itcot.isnull().sum() / len(df_itcot) * 100

FACT           0.000000
ID_FACT        0.000000
N_FACT         0.000000
ID_PRODUCTO    0.007162
N_PRODUCTO     0.000000
CANT           0.000000
VRUNIT         0.000000
PIVA           0.000000
PDTO           0.000000
VRIVA          0.000000
ITEM           0.000000
SUGERIDO       0.000000
VRTOTAL        0.000000
dtype: float64

In [201]:
df_itcot = df_itcot.dropna(subset = ['ID_PRODUCTO'])

In [202]:
# Dataframe final - Cotizaciones

df_itcot.to_sql('itcot', engine, if_exists='replace', index= False)

922

## DataBase Tipo de Documento (df_tipodoc)

In [203]:
# Lectura de datos

lectura_df_tipodoc = Lectura_Datos(17)

In [204]:
# Backup de los datos

df_tipodoc = lectura_df_tipodoc

In [205]:
# Eliminación de columnas con valores totalmente nulos

df_tipodoc = Limpieza_de_Datos_Nulos(df_tipodoc,1)

In [206]:
# Comprobación de datos nulos

df_tipodoc.isnull().sum() / len(df_tipodoc) * 100

CODIGO        0.000000
CONSEC        2.941176
NOMBRE        0.000000
CLASEDOC      0.000000
RESOLDIAN    76.470588
               ...
TURNO        91.176471
VIGEN        76.470588
FACELECT     79.411765
CNE          91.176471
INTERNO      97.058824
Length: 38, dtype: float64

In [207]:
# Información del DataFrame

df_tipodoc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO      34 non-null     object
 1   CONSEC      33 non-null     float64
 2   NOMBRE      34 non-null     object
 3   CLASEDOC    34 non-null     object
 4   RESOLDIAN   8 non-null      object
 5   FECHRESOL   9 non-null      object
 6   DESDE       9 non-null      object
 7   HASTA       9 non-null      object
 8   ENCABE1     6 non-null      object
 9   ENCABE2     6 non-null      object
 10  ENCABE3     6 non-null      object
 11  ENCABE4     6 non-null      object
 12  ENCABE5     6 non-null      object
 13  DETPIE1     3 non-null      object
 14  DETPIE2     1 non-null      object
 15  FPAGO       17 non-null     object
 16  DETAPIE     3 non-null      object
 17  BODEGA      1 non-null      object
 18  IMPPER      8 non-null      object
 19  INACTIVO    6 non-null      object
 20  IMPNOM      5 non-null      object
 21  IMPPOS      4 non-null      object
 22  NOIVA       1 non-null      object
 23  PRECONIVA   2 non-null      object
 24  PREFIJO     9 non-null      object
 25  EFECTONULO  1 non-null      object
 26  FILEALTER   1 non-null      object
 27  IMPRIDTOS   2 non-null      object
 28  PERNEGA     2 non-null      object
 29  BODEGAITEM  1 non-null      object
 30  DOCU        1 non-null      object
 31  FUNTRAS     1 non-null      object
 32  BODEGA2     1 non-null      object
 33  TURNO       3 non-null      float64
 34  VIGEN       8 non-null      float64
 35  FACELECT    7 non-null      object
 36  CNE         3 non-null      float64
 37  INTERNO     1 non-null      object
dtypes: float64(4), object(34)
memory usage: 10.2+ KB

In [208]:
df_tipodoc.columns

Index(['CODIGO', 'CONSEC', 'NOMBRE', 'CLASEDOC', 'RESOLDIAN', 'FECHRESOL',
       'DESDE', 'HASTA', 'ENCABE1', 'ENCABE2', 'ENCABE3', 'ENCABE4', 'ENCABE5',
       'DETPIE1', 'DETPIE2', 'FPAGO', 'DETAPIE', 'BODEGA', 'IMPPER',
       'INACTIVO', 'IMPNOM', 'IMPPOS', 'NOIVA', 'PRECONIVA', 'PREFIJO',
       'EFECTONULO', 'FILEALTER', 'IMPRIDTOS', 'PERNEGA', 'BODEGAITEM', 'DOCU',
       'FUNTRAS', 'BODEGA2', 'TURNO', 'VIGEN', 'FACELECT', 'CNE', 'INTERNO'],
      dtype='object')

In [209]:
df_tipodoc = df_tipodoc[['CODIGO', 'NOMBRE', 'CLASEDOC','INACTIVO']]

In [210]:
df_tipodoc['INACTIVO'] = df_tipodoc['INACTIVO'].replace(np.nan,False)

In [211]:
df_tipodoc

   CODIGO                        NOMBRE CLASEDOC INACTIVO
0     NS1  AJUSTES X INF DEPRECIACIONES       CC    False
1     CI1                  CIERRE ANUAL       CC    False
2     EG1         COMPROBANTE DE EGRESO       EG    False
3     CO1         CONSIGNACION BANCARIA       CO    False
4     NB1               NOTAS DE BANCOS       CC    False
..    ...                           ...      ...      ...
29    DV3    NOTA CREDITO - ELECTRONICA       DV    False
30    RM1              FACTURA PREVENTA       RM    False
31    FP2  FACTURA ELECTRONICA DE VENTA       FP    False
32    DP2    DEVOLUCION ELECTRONICA PDV       DP    False
33    FP3           CONSTANCIA DE VENTA       FP     True

[34 rows x 4 columns]

In [212]:
df_tipodoc = df_tipodoc.rename(columns = {'CODIGO':'ID_TIPODOC','NOMBRE':'N_TIPODOC'})

In [213]:
# Análsis de los valores nulos

df_tipodoc.isnull().sum() / len(df_tipodoc) * 100

ID_TIPODOC    0.0
N_TIPODOC     0.0
CLASEDOC      0.0
INACTIVO      0.0
dtype: float64

In [214]:
# Dataframe final - Tipo Documentos

df_tipodoc.to_sql('tipodoc', engine, if_exists='replace', index= False)

34

## DataBase Ciudad (df_ciudades)

In [215]:
# Lectura de datos

lectura_df_ciudades = Lectura_Datos(53)

In [216]:
# Backup de los datos

df_ciudades = lectura_df_ciudades

In [217]:
# Comprobación de datos nulos

df_ciudades.isnull().sum() / len(df_ciudades) * 100

CODIGO          0.0
NOMBRE          0.0
HABITANTES    100.0
INACTIVA      100.0
FACTOFLETE    100.0
FUPDATE       100.0
DPTO            0.0
dtype: float64

In [218]:
# Información del DataFrame

df_ciudades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO      1119 non-null   object
 1   NOMBRE      1119 non-null   object
 2   HABITANTES  0 non-null      object
 3   INACTIVA    0 non-null      object
 4   FACTOFLETE  0 non-null      object
 5   FUPDATE     0 non-null      object
 6   DPTO        1119 non-null   object
dtypes: object(7)
memory usage: 61.3+ KB

In [219]:
df_ciudades = df_ciudades[['CODIGO','NOMBRE']]

In [220]:
df_ciudades = df_ciudades.rename(columns = {'CODIGO':'ID_CIUDAD','NOMBRE':'N_CIUDAD'})

In [221]:
# Análsis de los valores nulos

df_ciudades.isnull().sum() / len(df_ciudades) * 100

ID_CIUDAD    0.0
N_CIUDAD     0.0
dtype: float64

In [222]:
# Dataframe final - Ciudades

df_ciudades.to_sql('ciudad', engine, if_exists='replace', index= False)

119

## DataBase Departamentos (df_dpto)

In [223]:
# Lectura de datos

lectura_df_dpto = Lectura_Datos(47)

In [224]:
# Backup de los datos

df_dpto = lectura_df_dpto

In [225]:
# Comprobación de datos nulos

df_dpto.isnull().sum() / len(df_dpto) * 100

CODIGO        0.0
NOMBRE        0.0
INACTIVO    100.0
PAIS          0.0
dtype: float64

In [226]:
# Información del DataFrame

df_dpto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODIGO    33 non-null     object
 1   NOMBRE    33 non-null     object
 2   INACTIVO  0 non-null      object
 3   PAIS      33 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

In [227]:
df_dpto = df_dpto[['CODIGO','NOMBRE']]

In [228]:
df_dpto = df_dpto.rename(columns = {'CODIGO':'ID_DPTO','NOMBRE':'N_DPTO'})

In [229]:
# Análsis de los valores nulos

df_dpto.isnull().sum() / len(df_dpto) * 100

ID_DPTO    0.0
N_DPTO     0.0
dtype: float64

In [230]:
# Dataframe final - Departamentos

df_dpto.to_sql('dpto', engine, if_exists='replace', index= False)

33

## DataBase Cuentas (df_pctas)

In [231]:
# Lectura de datos

lectura_df_pctas = Lectura_Datos(29)

In [232]:
# Backup de los datos

df_pctas = lectura_df_pctas

In [233]:
# Información del DataFrame

df_pctas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2716 entries, 0 to 2715
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO      2716 non-null   object
 1   NOMBRE      2716 non-null   object
 2   NAT         2716 non-null   object
 3   REQTER      2684 non-null   object
 4   REQCCO      2684 non-null   object
 5   REQDOCR     2684 non-null   object
 6   REQARTR     2684 non-null   object
 7   PORINC      0 non-null      object
 8   RECIPROCA   172 non-null    object
 9   CORRIENTE   172 non-null    object
 10  VALIDASALD  172 non-null    object
 11  CODMM       2716 non-null   object
 12  INTERES     172 non-null    object
 13  CCOSTO      2716 non-null   object
 14  SCCOSTO     2716 non-null   object
 15  CODDIAN     2716 non-null   object
 16  FORMDIAN    2716 non-null   object
 17  NIIF        2716 non-null   object
dtypes: object(18)
memory usage: 382.1+ KB

In [234]:
df_pctas = df_pctas[['CODIGO','NOMBRE']]

In [235]:
df_pctas = df_pctas.rename(columns = {'CODIGO':'ID_CUENTA','NOMBRE':'N_CUENTA'})

In [236]:
# Análsis de los valores nulos

df_pctas.isnull().sum() / len(df_pctas) * 100

ID_CUENTA    0.0
N_CUENTA     0.0
dtype: float64

In [237]:
# Dataframe final - Pctas

df_pctas.to_sql('pctas', engine, if_exists='replace', index= False)

716

## DataBase Formas de Pago (df_fpago)

In [238]:
# Lectura de datos

lectura_df_fpago = Lectura_Datos(48)

In [239]:
# Backup de los datos

df_fpago = lectura_df_fpago

In [240]:
# Comprobación de datos nulos

df_fpago.isnull().sum() / len(df_fpago) * 100

CODIGO          0.000000
DETALLE         0.000000
CUENTA          0.000000
TIPO            0.000000
ENCOMPEGR       8.333333
                 ...
COBINTERES    100.000000
NIVEL         100.000000
NCUENTAB        0.000000
INTERESES     100.000000
TIPO2           0.000000
Length: 35, dtype: float64

In [241]:
# Información del DataFrame

df_fpago.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODIGO      12 non-null     object
 1   DETALLE     12 non-null     object
 2   CUENTA      12 non-null     object
 3   TIPO        12 non-null     object
 4   ENCOMPEGR   11 non-null     object
 5   ENRBOPAG    11 non-null     object
 6   ENFAVENTA   11 non-null     object
 7   ENFACOMPRA  8 non-null      object
 8   CHEQUE      4 non-null      object
 9   ENENCON     0 non-null      object
 10  ENFAPOS     9 non-null      object
 11  COMITAR     0 non-null      object
 12  CONSECCHE   0 non-null      object
 13  ESCAJA      1 non-null      object
 14  ESTARDB     0 non-null      object
 15  ESTARCR     0 non-null      object
 16  ESBANCO     3 non-null      object
 17  CTACOMIBAN  12 non-null     object
 18  COBPOLIZA   0 non-null      object
 19  CTAPOLIZA   12 non-null     object
 20  PMESPOLIZA  0 non-null      object
 21  BANCO       12 non-null     object
 22  CONRETIVAB  0 non-null      object
 23  ESCXC       0 non-null      object
 24  ESCXP       0 non-null      object
 25  ESANTICIC   0 non-null      object
 26  ESANTICIP   0 non-null      object
 27  PIDELINCRE  0 non-null      object
 28  FUPDATE     0 non-null      object
 29  TIPPAGO     12 non-null     object
 30  COBINTERES  0 non-null      object
 31  NIVEL       0 non-null      object
 32  NCUENTAB    12 non-null     object
 33  INTERESES   0 non-null      object
 34  TIPO2       12 non-null     object
dtypes: object(35)
memory usage: 3.4+ KB

In [242]:
df_fpago = df_fpago[['CODIGO','DETALLE']]

In [243]:
df_fpago = df_fpago.rename(columns = {'CODIGO':'ID_FPAGO','DETALLE':'N_FPAGO'})

In [244]:
# Análsis de los valores nulos

df_fpago.isnull().sum() / len(df_fpago) * 100

ID_FPAGO    0.0
N_FPAGO     0.0
dtype: float64

In [245]:
# Dataframe final - Fpago

df_fpago.to_sql('fpago', engine, if_exists='replace', index= False)

12

## DataBase Documentos (df_documentos)

In [246]:
lectura_df_documentos = Lectura_Datos(0)

In [247]:
df_documentos = lectura_df_documentos

In [248]:
## Eliminar columnas con valores 100% nulos

df_documentos = Limpieza_de_Datos_Nulos(df_documentos,0)

In [249]:
## Editar columnas antes de verificar formatos

df_documentos = Modificacion_Columnas(df_documentos)

In [250]:
## Iformación de columnas

df_documentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312322 entries, 0 to 312321
Data columns (total 47 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FACT        312322 non-null  object
 1   ID_FACT     312322 non-null  object
 2   N_FACT      312322 non-null  object
 3   FECHA       312322 non-null  object
 4   AFECTA      6693 non-null    object
 5   PLAZO       298264 non-null  float64
 6   ANULADO     312322 non-null  object
 7   DETALLE     304449 non-null  object
 8   TERCERO1    310110 non-null  object
 9   TERCERO2    297182 non-null  object
 10  FPAGO       295478 non-null  object
 11  CTAFPAGO    310131 non-null  object
 12  TPAGO       302131 non-null  object
 13  BODEGA1     203 non-null     object
 14  BODEGA2     929 non-null     object
 15  CHEQUENO    605 non-null     object
 16  FECHEQUE    24292 non-null   object
 17  VREFEC      7596 non-null    float64
 18  VRCHEQUE    7596 non-null    float64
 19  SALDO       63541 non-null   float64
 20  VRTOTAL     311312 non-null  float64
 21  FECHAVEN    307996 non-null  object
 22  PDTOCOND    28380 non-null   float64
 23  USUARIO     312322 non-null  object
 24  NUMEXTERNO  6311 non-null    object
 25  VRFPAGO     310132 non-null  float64
 26  FECHAR      312322 non-null  datetime64[ns]
 27  MODIFICA    269884 non-null  object
 28  UFECHPAG    8432 non-null    object
 29  VRCOMI      23356 non-null   float64
 30  ESTACION    299810 non-null  object
 31  NUMIMP      272661 non-null  float64
 32  TASATRM     28331 non-null   float64
 33  HORAS1      294148 non-null  datetime64[ns]
 34  VROTRAF     5024 non-null    float64
 35  PDTOC2      23307 non-null   float64
 36  MARCASEG    312322 non-null  object
 37  PC          312322 non-null  object
 38  DETALLE1    146 non-null     object
 39  VALOFER     919 non-null     float64
 40  TIEMPOE     919 non-null     float64
 41  CIUDAD      901 non-null     object
 42  FACELECT    26133 non-null   object
 43  MODPAGO     32290 non-null   object
 44  CUFE        25906 non-null   object
 45  MOTIVONC    401 non-null     object
 46  TIPOCUFE    25906 non-null   object
dtypes: datetime64[ns](2), float64(14), object(31)
memory usage: 112.0+ MB

In [251]:
#Cambio formato columna FECHA a datetime

for i, row in df_documentos.iterrows():
    if row['FECHA'] == '13/31/2017':
        df_documentos.at[i,'FECHA'] = '12/31/2017'
        
    elif row['FECHA'] == '13/31/2018':
        df_documentos.at[i,'FECHA'] = '12/31/2018'

    elif row['FECHA'] == '13/31/2019':
        df_documentos.at[i,'FECHA'] = '12/31/2019'

    elif row['FECHA'] == '13/31/2020':
        df_documentos.at[i,'FECHA'] = '12/31/2020'
   
    elif row['FECHA'] == '13/31/2021':
        df_documentos.at[i,'FECHA'] = '12/31/2021'

    elif row['FECHA'] == '13/31/2022':
        df_documentos.at[i,'FECHA'] = '12/31/2022'

    elif row['FECHA'] == '13/31/2023':
        df_documentos.at[i,'FECHA'] = '12/31/2023'

    elif row['FECHA'] == '13/31/2024':
        df_documentos.at[i,'FECHA'] = '12/31/2024'

df_documentos['FECHA'] = pd.to_datetime(df_documentos['FECHA'], errors='coerce')

In [252]:
# Cambio columna Anulado a Booleano

df_documentos['ANULADO'] = df_documentos['ANULADO'].astype('bool')

In [253]:
#Cambio formato columna FECHAR a datetime

df_documentos['FECHAR'] = pd.to_datetime(df_documentos['FECHAR'], errors='coerce')

In [254]:
#Cambio de nombre columna terceros

df_documentos = df_documentos.rename(columns = {'TERCERO1':'ID_TERCERO','TERCERO2':'ID_EMISOR'})

In [255]:
#Análisis valores nulos 

df_documentos.isnull().sum() / len(df_documentos) * 100

FACT         0.000000
ID_FACT      0.000000
N_FACT       0.000000
FECHA        0.001281
AFECTA      97.857019
              ...
FACELECT    91.632674
MODPAGO     89.661311
CUFE        91.705355
MOTIVONC    99.871607
TIPOCUFE    91.705355
Length: 47, dtype: float64

In [256]:
# Reemplazo valores nulos

df_documentos['AFECTA'] = df_documentos['AFECTA'].replace(np.nan,'NO')
df_documentos['PLAZO'] = df_documentos['PLAZO'].replace(np.nan,0)
df_documentos['ANULADO'] = df_documentos['ANULADO'].fillna(False)

In [257]:
# Descartar columnas redundantes 

df_documentos = df_documentos[['FACT', 'ID_FACT', 'N_FACT', 'FECHA', 'AFECTA', 'PLAZO', 'ANULADO','DETALLE', 'ID_TERCERO', 'ID_EMISOR', 'FPAGO', 'BODEGA1', 'BODEGA2','SALDO', 'VRTOTAL','FECHAVEN','FECHAR', 'PC']]

In [258]:
# Revisión Valores Nulos columna Fecha

mask_fecha_nulo = (df_documentos['FECHA'].isnull())

In [259]:
df_documentos[mask_fecha_nulo]

,FACT,ID_FACT,N_FACT,FECHA,AFECTA,PLAZO,ANULADO,DETALLE,ID_TERCERO,ID_EMISOR,FPAGO,BODEGA1,BODEGA2,SALDO,VRTOTAL,FECHAVEN,FECHAR,PC
171030,CC1-0000000592,CC1,0000000592,NaT,NO,0.0,False,PAGO DE COLPENSIONES,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2021-08-03,2021-08-03 09:45:01.999,SERVIDOR
171035,CC1-0000000597,CC1,0000000597,NaT,NO,0.0,False,PAGO DE PORVENIR,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2021-08-03,2021-08-03 09:58:59.999,SERVIDOR
171049,CC1-0000000607,CC1,0000000607,NaT,NO,0.0,False,PAGO DE LA EQUIDAD SEGUROS,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2021-08-03,2021-08-03 10:15:29.000,SERVIDOR
171058,CC1-0000000612,CC1,0000000612,NaT,NO,0.0,False,PAGO DE CAJA DE COMPENSASION FAMILIAR,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2021-08-03,2021-08-03 10:36:21.999,SERVIDOR

In [260]:
df_documentos = df_documentos.dropna(subset=['FECHA'])

In [261]:
# Revisión Valores Nulos Columna Detalle

mask_ID_nulo = (df_documentos['DETALLE'].isnull())

In [262]:
df_documentos[mask_ID_nulo]

,FACT,ID_FACT,N_FACT,FECHA,AFECTA,PLAZO,ANULADO,DETALLE,ID_TERCERO,ID_EMISOR,FPAGO,BODEGA1,BODEGA2,SALDO,VRTOTAL,FECHAVEN,FECHAR,PC
13,FP1-0000000019,FP1,0000000019,2017-08-03,NO,0.0,False,NaN,1,57442217,001,NaN,NaN,-14492.0,23000.00,2017-08-03,2017-08-03 09:54:26.999,ELECTROCARIBE4
17,FP1-0000000026,FP1,0000000026,2017-08-03,NO,0.0,False,NaN,NaN,1004376809,001,NaN,NaN,-134.0,400.00,2017-08-03,2017-08-03 10:38:54.999,ELECTROCARIBE2
22,FP1-0000000031,FP1,0000000031,2017-08-03,NO,0.0,False,NaN,NaN,88278044,001,NaN,NaN,-8656.0,14400.00,2017-08-03,2017-08-03 11:23:11.999,ELECTROCARIBE2
28,FP1-0000000037,FP1,0000000037,2017-08-03,NO,0.0,True,NaN,14215664,7144422,001,NaN,NaN,0.0,630.00,2017-08-03,2017-08-03 11:57:33.999,ELECTROCARIBE4
40,FP1-0000000052,FP1,0000000052,2017-08-03,NO,0.0,False,NaN,NaN,88278044,001,NaN,NaN,-1858.0,3200.00,2017-08-03,2017-08-03 14:01:25.999,ELECTROCARIBE4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311874,EG1-0000005717,EG1,0000005717,2024-11-22,NO,0.0,False,NaN,901037212,NaN,IUK,NaN,NaN,NaN,1933166.30,2024-11-22,2024-11-26 09:28:36.999,ROSA
311887,EG1-0000005718,EG1,0000005718,2024-11-21,NO,0.0,False,NaN,860005050,NaN,008,NaN,NaN,NaN,2792470.66,2024-11-21,2024-11-26 09:59:50.999,ROSA
311992,EG1-0000005721,EG1,0000005721,2024-11-26,NO,0.0,False,NaN,830087721,NaN,IUK,NaN,NaN,NaN,9584593.88,2024-11-26,2024-11-26 16:50:10.999,ROSA
312251,DP2-0000000215,DP2,0000000215,2024-11-28,FP20000009369,0.0,False,NaN,1004109454,819000156,001,NaN,NaN,NaN,10710.00,2024-11-28,2024-11-28 16:37:04.999,AUXILIAR_CONTAB
312279,DP2-0000000216,DP2,0000000216,2024-11-29,FP20000004667,0.0,False,NaN,1082867091,819000156,001,NaN,NaN,NaN,19800.00,2024-11-29,2024-11-29 08:52:00.999,AUXILIAR_CONTAB

In [263]:
for i, row in df_documentos.iterrows():
    if row['ID_FACT'] in (['EG1', 'CC1', 'NS2', 'NM1', 'CG1', 'RC1', 'NB1', 'FC1','NI1','NT1']) and pd.isnull((row['ID_TERCERO'])):
        df_documentos.at[i,'ID_TERCERO'] = '819000156'

In [264]:
# Revisión Valores Nulos Columna Detalle 

# Si es factura y ID NULO, asignar valor 222222222222

for i, row in df_documentos.iterrows():
    if row['ID_FACT'] in (['FP1', 'FP2', 'FP3','FV1', 'FV2', 'FV3', 'FV4','DP1','DP2','DV1','DV2','DV3','PP1','CT1']) and pd.isnull((row['ID_TERCERO'])):
        df_documentos.at[i,'ID_TERCERO'] = '222222222222'
        df_documentos.at[i,'DETALLE'] = 'CONSUMIDOR FINAL'
        
# Si es factura, ID igual a 1 y detalle NULO, asignar Consumidor Final
for i, row in df_documentos.iterrows():
    if row['ID_FACT'] in (['FP1', 'FP2','FP3', 'FV1', 'FV2', 'FV3', 'FV4','DP1','DP2','DV1','DV2','DV3','PP1','CT1']):
        if row['ID_TERCERO'] == '222222222222':
            df_documentos.at[i,'DETALLE'] = 'CONSUMIDOR FINAL'
            
        elif row['ID_TERCERO'] == '1' or row['ID_TERCERO'] == 1:
            df_documentos.at[i,'ID_TERCERO'] = '222222222222'
            df_documentos.at[i,'DETALLE'] = 'CONSUMIDOR FINAL'

In [265]:
df_documentos

,FACT,ID_FACT,N_FACT,FECHA,AFECTA,PLAZO,ANULADO,DETALLE,ID_TERCERO,ID_EMISOR,FPAGO,BODEGA1,BODEGA2,SALDO,VRTOTAL,FECHAVEN,FECHAR,PC
0,FP1-0000000001,FP1,0000000001,2017-08-03,NO,0.0,False,MIRANDA ORELLENO FREDY ALVERTO,8796022,1083022967,001,NaN,NaN,-4694.0,8200.0,2017-08-03,2017-08-03 08:13:26.999,ELECTROCARIBE3
1,FP1-0000000002,FP1,0000000002,2017-08-03,NO,0.0,False,GUTIERREZ SIERRA LUIZ ALFONZO,1082887925,1083022967,001,NaN,NaN,-215556.0,329850.0,2017-08-03,2017-08-03 08:33:33.999,ELECTROCARIBE4
2,FP1-0000000003,FP1,0000000003,2017-08-03,NO,0.0,False,GUTIERREZ SIERRA LUIZ ALFONZO,1082887925,1083022967,001,NaN,NaN,-215556.0,329850.0,2017-08-03,2017-08-03 08:36:02.999,ELECTROCARIBE4
3,FP1-0000000004,FP1,0000000004,2017-08-03,NO,0.0,False,MIRANDA PEDRASA NAUN,5117320,7144422,001,NaN,NaN,-6550.0,11300.0,2017-08-03,2017-08-03 08:43:26.999,ELECTROCARIBE3
4,FP1-0000000005,FP1,0000000005,2017-08-03,NO,0.0,False,RODRIGUEZ IGLESIAS ORLANDO,1082841469,88278044,001,NaN,NaN,-563.0,1100.0,2017-08-03,2017-08-03 08:45:53.000,ELECTROCARIBE4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312317,FP2-0000009503,FP2,0000009503,2024-11-29,NO,0.0,False,CUBIKA PROYECTOS Y CONSTRUCCIONES S.A.S,901520243,88278044,004,NaN,NaN,NaN,915948.0,2024-11-29,2024-11-29 11:08:59.999,ELECTROCARIBE6
312318,FP3-0000003599,FP3,0000003599,2024-11-29,NO,0.0,False,CONSUMIDOR FINAL,222222222222,1004356796,001,NaN,NaN,NaN,54360.0,2024-11-29,2024-11-29 11:11:24.000,ELECTROCARIBE6
312319,FP3-0000003600,FP3,0000003600,2024-11-29,NO,0.0,False,CONSUMIDOR FINAL,222222222222,1004356796,001,NaN,NaN,NaN,3000.0,2024-11-29,2024-11-29 11:13:41.999,ELECTROCARIBE6
312320,FP2-0000009504,FP2,0000009504,2024-11-29,NO,0.0,False,BUUFOOD S.A.S,901290701,1082878600,IUK,NaN,NaN,NaN,23490.0,2024-11-29,2024-11-29 11:16:21.999,ELECTROCARIBE2
312321,FP2-0000009505,FP2,0000009505,2024-11-29,NO,0.0,False,ARDILA ISNARDO,13640961,819000156,004,NaN,NaN,NaN,369000.0,2024-11-29,2024-11-29 11:18:02.000,EQUIPO3

In [266]:
# Aseguramos que los ID_TERCEROS estén limpios

df_documentos = df_documentos[~df_documentos['ID_TERCERO'].str.contains(r'[^a-zA-Z0-9]', regex=True)]

In [267]:
# Buscamos clientes que tienen NIT pero no tienen Nombre

lectura_df_terceros = df_terceros
df_terceros_d = lectura_df_terceros[['ID_TERCERO','N_COMPLETO']]

In [268]:
# Juntar dataframes para ver nombre de clientes

df_documentos = df_documentos.merge(df_terceros_d, on='ID_TERCERO', how='left')

In [269]:
# Asignar nombre del clientes a aquellos valores que coincidan en el merge y no tengan valor NULO

for i, row in df_documentos.iterrows():
    if row['ID_FACT'] in (['FP1', 'FP2', 'FV1','FP3', 'FV2', 'FV3', 'FV4','DP1','DP2','DV1','DV2','DV3','RC1','EG1','FC1','DC1','PP1']) and pd.notnull(row['N_COMPLETO']):
        df_documentos.at[i,'DETALLE'] = df_documentos.at[i,'N_COMPLETO']

In [270]:
# Como ya no podemos saber el nombre cliente, procedemos a convertirnos en Clientes Varios

# Di es factura, y tiene detalle NULO, asignar a Clientes Varios

for i, row in df_documentos.iterrows():
    if row['ID_FACT'] in (['FP1', 'FP2','FP3' 'FV1', 'FV2', 'FV3', 'FV4','DP1','DP2','DV1','DV2','DV3','RM1','PP1','CT1']) and pd.isnull(row['N_COMPLETO']):
        df_documentos.at[i,'DETALLE'] = 'CONSUMIDOR FINAL'
        df_documentos.at[i,'ID_TERCERO'] = '222222222222'

In [271]:
# Revisión Valores Nulos Columna Detalle

df_documentos['ID_FACT'].loc[df_documentos['DETALLE'].isnull()].value_counts()

ID_FACT
NI1    214
NT1     65
RM1     49
CC1      1
CT1      1
Name: count, dtype: int64

In [272]:
# Revisión Valores Nulos Columna Detalle - Recibo de Caja

mask__nulo_rc1 = ((df_documentos['DETALLE'].isnull()) & (df_documentos['ID_FACT'] == 'NI1'))

In [273]:
df_documentos[mask__nulo_rc1]

,FACT,ID_FACT,N_FACT,FECHA,AFECTA,PLAZO,ANULADO,DETALLE,ID_TERCERO,ID_EMISOR,FPAGO,BODEGA1,BODEGA2,SALDO,VRTOTAL,FECHAVEN,FECHAR,PC,N_COMPLETO
28826,NI1-0000000002,NI1,0000000002,2017-07-31,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,18031663.78,None,2018-04-26 08:25:50.000,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
28827,NI1-0000000004,NI1,0000000004,2017-07-31,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,4247899.70,None,2018-04-26 08:26:59.999,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
28828,NI1-0000000005,NI1,0000000005,2017-07-31,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,27359241.47,None,2018-04-26 08:27:44.999,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
28829,NI1-0000000006,NI1,0000000006,2017-07-31,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,6937568.22,None,2018-04-26 08:28:16.999,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
28830,NI1-0000000008,NI1,0000000008,2017-07-31,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,12694132.92,None,2018-04-26 08:29:13.000,FERNANDO,ALMACEN ELECTROCARIBE LIMITADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301077,NI1-0000000388,NI1,0000000388,2024-08-14,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,65424.00,None,2024-08-14 13:33:41.000,ROSA,ALMACEN ELECTROCARIBE LIMITADA
302318,NI1-0000000389,NI1,0000000389,2024-08-26,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,-201224.04,None,2024-08-26 13:50:23.000,ROSA,ALMACEN ELECTROCARIBE LIMITADA
305092,NI1-0000000390,NI1,0000000390,2024-09-21,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,529410.00,None,2024-09-21 10:15:04.999,ROSA,ALMACEN ELECTROCARIBE LIMITADA
311006,NI1-0000000406,NI1,0000000406,2024-11-19,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,-1898923.06,None,2024-11-19 16:19:35.000,ROSA,ALMACEN ELECTROCARIBE LIMITADA
311112,NI1-0000000407,NI1,0000000407,2024-11-20,NO,0.0,False,NaN,819000156,NaN,NaN,NaN,NaN,NaN,-8338944.00,None,2024-11-20 13:38:02.999,ROSA,ALMACEN ELECTROCARIBE LIMITADA

In [274]:
df_documentos = df_documentos.drop(columns=['N_COMPLETO'])

In [275]:
for i, row in df_documentos.iterrows():
    if row['ID_FACT'] in (['NI1', 'NT1']):
        df_documentos.at[i,'DETALLE'] = '819000156'
        df_documentos.at[i,'ID_TERCERO'] = '819000156'

In [276]:
df_documentos = df_documentos.dropna(subset=['DETALLE'])

In [277]:
# Revisión de datos NULOS 

df_documentos.isnull().sum() / len(df_documentos) * 100

FACT           0.000000
ID_FACT        0.000000
N_FACT         0.000000
FECHA          0.000000
AFECTA         0.000000
PLAZO          0.000000
ANULADO        0.000000
DETALLE        0.000000
ID_TERCERO     0.000000
ID_EMISOR      4.848165
FPAGO          5.392402
BODEGA1       99.934973
BODEGA2       99.718111
SALDO         79.666859
VRTOTAL        0.323531
FECHAVEN       1.385419
FECHAR         0.000000
PC             0.000000
dtype: float64

In [278]:
# Revisión ID Terceros Nulos

mask_idterceros_nulo = (df_documentos['ID_TERCERO'].isna())

In [279]:
# Asignación de Pendiente porque deben ser cruzados con movimientos contables 

df_documentos.loc[mask_idterceros_nulo,'ID_TERCERO'] = 'PENDIENTE'

In [280]:
#Revisión de TERCERO 2

mask_tercero2_nulo = (df_documentos['ID_EMISOR'].isnull())

In [281]:
# Asignación a Electrocaribe como tercero que ejecutó documeto

df_documentos.loc[mask_tercero2_nulo,'ID_EMISOR'] = '819000156'

In [282]:
# Revisión de formas de pago

mask_fpago_nulo = (df_documentos['FPAGO'].isna())

In [283]:
# Asignación forma de pago efectivo a valores NULOS

df_documentos.loc[mask_fpago_nulo,'FPAGO'] = '001'

In [284]:
# Cambio valor nulo a código Bodega principal

df_documentos[['BODEGA1','BODEGA2']] = df_documentos[['BODEGA1','BODEGA2']].fillna('001')

In [285]:
# Cambio valores Nulos a 0

df_documentos[['SALDO','VRTOTAL']] = df_documentos[['SALDO','VRTOTAL']].fillna(0.0)

In [286]:
# Asignar fecha a valores nulos de fechavencidaZ

df_documentos['FECHAVEN'] = df_documentos['FECHAVEN'].fillna(df_documentos['FECHA'])

In [287]:
# Dataframe final - DOCUMENT

df_documentos.to_sql('document', engine, if_exists='replace', index= False)

180

## DataBase Gastos

In [288]:
dataframes = []

for key, file_path in dbf_path_2.items():
    
    file_name = file_path.split('/')[-1].split('.')[0]
    table = DBF("//"+file_path, encoding='latin1')
    df = pd.DataFrame(iter(table))
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True)

C:\Users\casan\AppData\Local\Temp\ipykernel_18084\4013906366.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(dataframes, ignore_index=True)

In [289]:
# Eliminación de columnas con valores totalmente nulos

combined_df = Limpieza_de_Datos_Nulos(combined_df,0)

In [290]:
# Cambio de columnas tipo de factura y número

combined_df = Modificacion_Columnas(combined_df)

In [291]:
combined_df = combined_df.rename(columns = {'CODPUC':'ID_CUENTA'})

In [292]:
df_gastos = combined_df[combined_df['ID_FACT'].isin(['CC1', 'CG1', 'EG1'])]

In [293]:
cuentas = pd.Series(df_gastos['ID_CUENTA'].unique()).sort_values()
lista_con_51 = [code for code in cuentas if code.startswith('51')]
df_gastos = df_gastos[df_gastos['ID_CUENTA'].isin(lista_con_51)]
df_gastos = df_gastos[df_gastos['ID_CUENTA'] != '519595001']

In [294]:
df_gastos = df_gastos.merge(df_pctas, on= 'ID_CUENTA', how = 'left')

In [295]:
column_data = df_gastos.pop('N_CUENTA')
df_gastos.insert(4, 'N_CUENTA', column_data)

In [296]:
df_gastos['N_CUENTA'].unique()

array(['Casino y restaurante', 'Energía eléctrica',
       'Útiles, papelería y fotocopias', 'Combustibles y lubricantes',
       'Elementos de aseo y cafetería', 'Asesoría Contable',
       'Local 109--114-115',
       'Gastos de representación y relaciones públicas',
       'Publicidad, propaganda y promocion', 'Acueducto y alcantarillado',
       'Teléfono', 'Sueldos', 'Auxilio de transporte', 'Comisiones',
       'Cesantías', 'Intereses sobre cesantías', 'Prima de servicios',
       'Vacaciones', 'Aportes a fondos de pensiones y/o cesantías',
       'Aportes cajas de compensación familiar',
       'Aportes a administradoras de riesgos profesionales, ARP',
       'Dotación y suministro a trabajadores', 'Incapacidades',
       'Local 112-113-121',
       'Libros, suscripciones, periódicos y revistas',
       'Construcciones y edificaciones', 'Envases y empaques', 'Incendio',
       'Aportes a entidades promotoras de salud, EPS',
       'Trámites y licencias', 'Maquinaria y equipo',
       'Equipo de computación y comunicación', 'Reparaciones locativas',
       'Equipo de oficina', 'Instalacion y mantenimiento', 'Otros',
       'Registro mercantil', 'Afiliaciones y sostenimiento', 'Gas',
       'Seguros', 'Aseo y vigilancia',
       'Indemnización por daños a terceros', 'Temporales',
       'A la propiedad raíz', 'Asesoría técnica', 'Asesorias Contable',
       'Acueductos, plantas y redes', 'Asistencia técnica',
       'Gastos médicos y drogas', 'Pensiones de jubilación',
       'Transporte, fletes y acarreos', 'Capacitación al personal',
       'Industria y comercio'], dtype=object)

In [297]:
df_gastos['ES_DUPLICADO'] = df_gastos['FACT'].duplicated()

In [298]:
df_gastos = df_gastos[['FACT', 'ID_FACT', 'N_FACT', 'ID_CUENTA', 'N_CUENTA', 'TERCERO',
'DETALLE','DEBITO', 'ES_DUPLICADO']]

In [299]:
Nomina_Ctas = ['Sueldos', 'Auxilio de transporte', 'Comisiones', 'Cesantías','Intereses sobre cesantías', 'Prima de servicios', 'Vacaciones',
       'Aportes a fondos de pensiones y/o cesantías','Aportes cajas de compensación familiar','Aportes a administradoras de riesgos profesionales, ARP',
       'Incapacidades', 'Construcciones y edificaciones','Aportes a entidades promotoras de salud, EPS']

In [300]:
for i, row in df_gastos.iterrows(): 
    if row['N_CUENTA'] in (Nomina_Ctas):
        df_gastos.at[i,'N_CUENTA'] = 'Nomina'

In [301]:
df_gastos = df_gastos.groupby(['FACT', 'ID_FACT', 'N_FACT', 'ID_CUENTA', 'N_CUENTA', 'TERCERO','DETALLE'])['DEBITO'].sum().reset_index()

In [302]:
df_gastos.to_sql('gastos', engine, if_exists='replace', index= False)

36